body {padding-top: 60px }

.wrap {}

.topo {font-family: MuseoSans, Arial, Sans-Serif; width: 100%  }
.topo .nav > li > a{padding:15px 24px;}

.navegacao{float:right;}
.navbar-brand{height: 60px; padding:5px;}
.navbar-nav > li > a{line-height: 30px }

.navbar-default .navbar-brand{font-size: 150%; color:#35b24a; line-height: 30px}

.navbar-default .navbar-brand:hover{color: #ccc}

.navbar-default {
    background-color: #fff;
    border-bottom: 1px solid #fff;
}

.navbar-inverse .navbar-nav > li > a{color:#35b24a !important; outline: none !important}
.navbar-inverse .navbar-nav > li > a.active{background: #F26E26;  transition: all .1s linear; color:#f2f2f2 !important; }

.banner {width: 100%; min-height: 460px; background-repeat: none; background-attachment: fixed; background-size: cover !important; margin-top: 60px;}

.banner-inner {
    width:100%; 
    min-height: 460px;
    background: rgba(16,64,110,1);
    background: -moz-linear-gradient(-45deg, rgba(16,64,110,1) 0%, rgba(25,99,180,0.4) 25%, rgba(32,124,229,0.4) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(16,64,110,1)), color-stop(25%, rgba(25,99,180,0.4)), color-stop(100%, rgba(32,124,229,0.4)));
    background: -webkit-linear-gradient(-45deg, rgba(16,64,110,1) 0%, rgba(25,99,180,0.4) 25%, rgba(32,124,229,0.4) 100%);
    background: -o-linear-gradient(-45deg, rgba(16,64,110,1) 0%, rgba(25,99,180,0.4) 25%, rgba(32,124,229,0.4) 100%);
    background: -ms-linear-gradient(-45deg, rgba(16,64,110,1) 0%, rgba(25,99,180,0.4) 25%, rgba(32,124,229,0.4) 100%);
    background: linear-gradient(135deg, rgba(16,64,110,1) 0%, rgba(25,99,180,0.4) 25%, rgba(32,124,229,0.4) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#10406e', endColorstr='#207ce5', GradientType=1 );=1 );
}

/*.banner-inner .pattern{background: url("../images/pattern2.png"); min-height: 460px}*/

.banner-inner .jumbotron{background: none !important; font-family: MuseoSans, Arial, Sans-Serif; color:#fff; text-align: center;}
.banner-inner .jumbotron h1{font-size: 5.3em; margin-top: 40px !important;}
.banner-inner .jumbotron p {
    margin-bottom: 25px;
    font-size: 2.0em;
    font-weight: 100;
}

.banner-inner .btn-conheca{padding: 20px 60px}



.banner-inner .jumbotron.btn-conheca{padding:14px 60px;}

.skew_appended{
    width: 100%;
    _position: absolute;
    _left: 0;
    overflow: hidden;
    -webkit-transform: skewY(-1.9deg);
    -ms-transform: skewY(-1.9deg);
    transform: skewY(-1.9deg);
    -webkit-backface-visibility: hidden !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    z-index: 1;
    background: #F26E26;
    margin-top: -30px;
}


.skew_prepended {
    width: 100%;
    _position: absolute;
    _left: 0;
    overflow: hidden;
    -webkit-transform: skewY(-1.9deg);
    -ms-transform: skewY(-1.9deg);
    transform: skewY(-1.9deg);
    -webkit-backface-visibility: hidden !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    z-index: 1;
    background: #F26E26;
    margin-top: -30px;
}

.skew_appended2{
    width: 100%;
    _position: absolute;
    _left: 0;
    overflow: hidden;
    -webkit-transform: skewY(-1.9deg);
    -ms-transform: skewY(-1.9deg);
    transform: skewY(-1.9deg);
    -webkit-backface-visibility: hidden !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    z-index: 1;
    background: #f2f2f2;
    margin-top: 60px;

}


.skew_prepended2 {
    width: 100%;
    _position: absolute;
    _left: 0;
    overflow: hidden;
    -webkit-transform: skewY(-1.9deg);
    -ms-transform: skewY(-1.9deg);
    transform: skewY(-1.9deg);
    -webkit-backface-visibility: hidden !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    z-index: 1;
    background: #f2f2f2;
    margin-top: -30px;
}

.box-video{background:#F26E26; padding-top:30px; min-height: 300px; margin-top: -24px; text-align: center; color:#fff; font-size: 3.0em; font-family: MuseoSans_light, Arial, Sans-serif}
.box-video a{color:#fff; font-size: 4.2em}

.box-video strong{font-family:  MuseoSans, Arial, Sans-serif !important; font-weight: 700}

.modal-header{font:1.43em MuseoSans, Arial, Sans-serif;}

.vantagens{margin-top:30px; font-family: MuseoSans, Arial, Sans-serif; color:#666; font-weight: 300}
.vantagens h2{margin-bottom:30px; font-size: 3.5em;font-family: MuseoSans_light, Arial, Sans-serif; color:#35b24a;}

.vantagens h4{padding-bottom:10px; padding-top: 15px; color:#35b24a;}
.vantagens .t{min-height: 70px; color:#888;}

.box-cadastre-fornecedor h2{margin-bottom:30px; font-size: 3.5em;font-family: MuseoSans_light, Arial, Sans-serif; color:#35b24a;}



.navbar-inverse .navbar-nav > li > a.white {
    background: #FFF none repeat scroll 0% 0% !important;
    padding: 0px 10px !important;
    margin-top: 15px;
    border-radius: 16px;
    margin-left: 10px;
    color:#666666;
    display: inline-block;
}

.navbar-inverse .navbar-nav > li.active > a.white, 
.navbar-inverse .navbar-nav > li.active > a.white:visited {
    background: #666 !important; color:#fff !important
}


.navbar-inverse .navbar-nav > li > a.white:hover{
    background: #f2f2f2 none repeat scroll 0% 0% !important;
    color:#000;
    padding: 0px 10px !important;
}

.navbar-inverse .navbar-nav > li > a.white:visited {
    background: #f2f2f2 none repeat scroll 0% 0% !important;
    color:#333;
    padding: 0px 10px !important;
}


.circle-base {
    background-color: #35b24a;
    width: 120px;
    height: 120px;
    position: relative;
    border: 6px solid #229a36;
    border-radius: 50%;
    margin: 0px auto;
}

.circle-inner {
    background-color: #FFF;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
    position: absolute;
    border: 6px solid #50d165;
    border-radius: 50%;
    color: #35b24a;
    text-align: center;
    margin: 0px auto;
    font-size: 38px;
}

.circle-inner .fa{line-height: 1.9em}

.copyright{width: 100%; padding:10px; background: #eaeaea; color:#ccc; min-height: 40px; font-size: 1.0em;font-family: MuseoSans_light, Arial, Sans-serif; }
.copyright p{padding-top:10px;}
.copyright ul{list-style-type: none; padding:0;}
.copyright ul li{float:left;}
.copyright ul li a{display: inline-block; padding:0 10px; color:#ccc; font-size: 1.9em}

.box-questionario{background:#f2f2f2; padding: 10px 30px; margin-top: -30px;}

.questionario{line-height:15px; margin-top:20px; margin-bottom: 30px; _background: #f2f2f2; _border-radius:3px; padding:24px 20px 24px 25px !important; _border:1px solid #ddd; font-size: 1.2em;font-family: MuseoSans, Arial, Sans-serif; color:#3498db;}
.questionario legend {
    font-family: MuseoSans_light,Arial,sans-serif;
    color: #2C3E50;
    font-size: 1.6em;
    padding-bottom: 15px !important;
    margin-bottom: 50px;
    border-bottom: 1px dashed #ccc;
}

.questionario .bootstrap-select.btn-group .dropdown-menu li a span.text{font-family: Arial,sans-serif !important; font-weight: 600}
.questionario .control-label{font-weight: normal; color:#666 !important;}
.questionario .btn-envio{padding:18px 40px !important; float: right;}
.fxd{float: right !important;}


.solucoes{margin-top: 30px}
.home-fornecedor .solucoes{margin-bottom:70px;}
.solucoes h2 {
    font-size: 3.5em;
    font-family: MuseoSans_light,Arial,sans-serif;
    color: #35B24A;
    margin-bottom: 50px;
   
}
.solucoes h3 {
    font-family: MuseoSans_light,Arial,sans-serif;
}

.p-solucoes {
    padding: 10px 40px;
    font-family: MuseoSans,Arial,sans-serif !important;
    font-weight: 700;
    font-size: 105%;
}

.modal-open .container-geral{
    filter: blur(5px) !important;
    -webkit-filter: blur(5px) !important;
    opacity: 1 !important;
}

.coletor-pluvial .modal-body, .iluminacao-led .modal-body, .aquecedor-solar .modal-body, .painel-fotovoltaicos .modal-body, .apart-residencial .modal-body, .clinica-odonto .modal-body {
    padding-top: 0;
}

.topo-modal {
    margin-bottom: 10px;
}

.apart-residencial .carousel-indicators, .clinica-odonto .carousel-indicators {
    bottom:40px !important;
}

.apart-residencial .carousel-control, .clinica-odonto .carousel-control {
    width: 25px !important;
    background: none !important;
}

.apart-residencial .glyphicon-chevron-right:before, .clinica-odonto .glyphicon-chevron-right:before, .apart-residencial .glyphicon-chevron-left:before, .clinica-odonto .glyphicon-chevron-left:before {
  color: #F26E26;
}

.apart-residencial .info-iluminacao-led, .clinica-odonto .info-iluminacao-led {
    margin-bottom: 20px;
}

/* Área do Fornecedor */

.nav-esquerda {
    margin-top: 30px;
    background: #f5f5f5;
    border-radius: 3px;
    padding-top:15px;
    padding-bottom:15px;
}

.nav-esquerda .list-group {
    margin: 30px;
}

.nav-esquerda .list-group-item.active, .nav-esquerda .list-group-item.active:hover, .nav-esquerda .list-group-item.active:focus {
    background-color: #35b24a;
    border-color: #35b24a;
}

.btn-editar-perfil {
    padding: 5px 10px;
    border-radius: 20px;
    background: #ffffff;
    margin-top: 10px;
    display: inline-block;
    border:1px solid #fafafa;
}

.btn-editar-perfil:hover {
    text-decoration: none;
    background: #fafafa;
    border:1px solid #d9d9d9;
}

.btn-editar-perfil .fa-arrow-circle-o-up {
    font-size: 20px;
    vertical-align: middle;
    margin-left: 3px;
}

.wrap-perfil {
    margin-top: 30px;
    padding:0 15px 25px;
    border-radius: 3px;
}

.adm-fornecedor .table-responsive {
    margin-top: 40px;
}

.adm-fornecedor .navbar-default {
    background:#F26E26 !important;
}

.adm-fornecedor .navbar-default .navbar-brand {
    color: #ffffff;
}

.adm-fornecedor .navbar-inverse .navbar-nav > li > a {
    color: #ffffff !important;
}

.form-editar-perfil {
    margin-top: 30px;
}

.cadastro-prod-fornecedor {
    margin-top: 40px;
}

.orange {
    color:#F26E26;
    border-bottom:1px solid #ddd;
}

.cases {
    overflow: hidden;
    background: #F26E26;
    margin: -30px 0 -30px;
    padding: 10px 0 30px; 
}

.cases h2 {
    font-size: 3.5em;
    font-family: MuseoSans_light,Arial,sans-serif;
    color: #ffffff;
    margin-bottom: 50px;
}

.cases a {
    color: #ffffff;
}

.cases .p-solucoes {
    font-size: 130%;
}

.wrap-modal {
    overflow: hidden;
}

.info-iluminacao-led p {
    margin: 0;
}

.form-result {
    margin-top: 40px;
}

.form-result-01, .form-result-02 {
    display: none;
}

.quest-ajuda p {
    font-weight: normal;
    color: #999999;
    font-size: 12px;
}

/* s c r e e n   m o b i l e   */

@media (max-width: 768px) {

  .box-video{font-size: 2.0em !important}
  .vantagens h2 {font-size:2.8em !important;}
  .banner-inner .jumbotron h1{font-size: 3.8em; margin-top: 40px !important;}
  .banner-inner .jumbotron p {font-size: 1.5em !important}
  .navegacao{float:none !important;}
  .fxd{float: none !important;}
  .box-questionario{background:#f2f2f2; padding: 0 !important; margin-top: -30px;}
  .questionario{padding:5px;}
  .questionario legend {
      font-size: 1.1em;
      padding-bottom: 15px !important;
      margin-bottom: 50px;
      border-bottom: 1px dashed #ccc;
  }
  .navbar-toggle{background: #ddd}
  .navbar-inverse .navbar-toggle{border-color: #ddd}
  .banner-mobile {background-position: center 0 !important;}
  .carousel-indicators {bottom:30px;}
  .cases .p-solucoes {margin-bottom: 80px;}
  .apart-residencial .carousel-indicators, .clinica-odonto .carousel-indicators {bottom:20px !important;}
  #carousel-led-residencia, #carousel-led-consultorio {margin-bottom: 20px;}
}
/*planos*/
@import url("http://fonts.googleapis.com/css?family=Open+Sans:100,400,300,600,700");
/*

Author: Rashid Shafique | rmughal@gmail.com

*/

.main-title {
  text-align: center; }

.pricing-tables {
  padding: 20px; }
  .pricing-tables h1 {
    font-size: 48px; }
  .pricing-tables .plan.first {
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px; }
  .pricing-tables .plan.last {
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px; }
  .pricing-tables .plan.recommended {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px; }
    .pricing-tables .plan.recommended .head {
      margin-bottom: 20px;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px; }
  .pricing-tables.attached .col-sm-4,
  .pricing-tables.attached .col-md-4,
  .pricing-tables.attached .col-sm-3,
  .pricing-tables.attached .col-md-3 {
    padding-left: 0;
    padding-right: 0; }
  .pricing-tables.attached .plan {
    border-radius: 0; }
    .pricing-tables.attached .plan .head {
      border-radius: 0; }
    .pricing-tables.attached .plan.recommended {
      border-radius: 4px; }
      .pricing-tables.attached .plan.recommended .head {
        border-top-left-radius: 4px;
        border-top-right-radius: 4px; }
    .pricing-tables.attached .plan.last {
      border-bottom-right-radius: 4px; }
      .pricing-tables.attached .plan.last .head {
        border-top-right-radius: 4px; }
    .pricing-tables.attached .plan.first {
      border-bottom-left-radius: 4px; }
      .pricing-tables.attached .plan.first .head {
        border-top-left-radius: 4px; }

.plan {
  box-shadow: 0 2px 2px rgba(10, 10, 10, 0.06);
  min-height: 100px;
  background: #fff;
  border-radius: 4px;
  margin: 20px 0;
  padding-bottom: 25px;
  text-align: center; }
  .plan .head {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding: 12px 16px;
    background: #1c1c1c;
    color: #fff; }
    .plan .head h1, .plan .head h2, .plan .head h3 {
      padding: 0;
      margin: 0;
      font-weight: 100; }
  .plan .price {
    border-top: 1px solid #eee;
    margin: 0 auto 30px auto;
    width: 80%; }
    .plan .price h3 {
      font-size: 82px;
      vertical-align: top;
      line-height: 1; }
      .plan .price h3 span {
        font-size: 38px;
        vertical-align: top;
        position: relative;
        margin: 6px 0 0 -7px;
        display: inline-block; }
    .plan .price h4 {
      color: #aaa;
      font-size: 14px; }
  .plan .btn {
    padding: 10px 30px;
    text-transform: uppercase;
    font-weight: 500; }
  .plan ul {
    list-style-type: none;
    padding: 20px;
    margin-top: 2px; }
    .plan ul li {
      line-height: 22px;
      margin-bottom: 15px;
      font-size: 14px;
      font-weight: 400; }
      .plan ul li a {
        text-decoration: underline;
        color: #e6e9ed; }
      .plan ul li:last-child {
        border-bottom: none; }
    .plan ul strong {
      font-weight: 700; }
  .plan.recommended {
    margin-top: 6px;
    box-shadow: 0 0 22px rgba(10, 10, 10, 0.42);
    position: relative;
    z-index: 99;
    border-radius: 4px; }
    .plan.recommended .head {
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      background: #171717; }
    .plan.recommended .btn {
      margin-bottom: 10px; }


.leadDetailTitle{
    font-weight: bold;    
    padding: 2px;
}

address {
    margin-bottom: 10px;
    margin-top: 10px;
}
address p {
    margin-bottom: 0;
    padding-top: 0 !important;
    color: #999999;
}
address p span {
    color: #000000;
}

.social-icons {
  width: 100%;
  text-align: right;
}

.social-icons .nomargin {
    display: inline-block;
}

.logo-ideianoar {
  text-align: right;
  padding-top: 25px;
  clear: both;
}