﻿
@{
    ViewBag.Title = "Pacotes Adicionais";
}

<div class="content bg-gray-lighter">
    <div class="row items-push">
        <div class="col-sm-8">
            <h1 class="page-heading">
                @ViewBag.Title
            </h1>
        </div>
        <div class="col-sm-4 text-right hidden-xs">
            <ol class="breadcrumb push-10-t">
                <li><a class="link-effect" href="@Url.Action("IndexCompany", "Panel")">Home</a></li>
                <li>@ViewBag.Title</li>
            </ol>
        </div>
    </div>
</div>
<div class="content">
    <div class="pricing-tables attached">
        <div class="row">
            <div class="col-sm-4">
                <!-- Startup Plan -->
                <div class="block block-link-hover2 text-center">
                    <div class="block-header">
                        <h3 class="block-title">Pacote A</h3>
                    </div>
                    <div class="block-content block-content-full bg-primary">
                        <div class="h1 font-w700 push-10">R$ 149,00</div>
                    </div>
                    <div class="block-content">
                        <table class="table table-borderless table-condensed">
                            <tbody>
                                <tr>
                                    <td><strong>Clientes Potenciais:</strong> 50</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="block-content block-content-mini block-content-full bg-gray-lighter">
                        <a class="btn btn-lg btn-primary ina-pagseguro-transaction-button"
                           data-description="Pacote A"
                           data-price="149.0"
                           data-success-callback="pagSeguroSuccess"
                           data-error-callback="pagSeguroErro">Comprar</a>
                    </div>
                </div>
                <!-- END Startup Plan -->
            </div>
            <div class="col-sm-4">
                <!-- Startup Plan -->
                <div class="block block-link-hover2 text-center">
                    <div class="block-header">
                        <h3 class="block-title">Pacote B</h3>
                    </div>
                    <div class="block-content block-content-full bg-success">
                        <div class="h1 font-w700 push-10 text-white">R$ 249,00</div>
                    </div>
                    <div class="block-content">
                        <table class="table table-borderless table-condensed">
                            <tbody>
                                <tr>
                                    <td><strong>Clientes Potenciais:</strong> 100</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="block-content block-content-mini block-content-full bg-gray-lighter">
                        <a class="btn btn-lg btn-primary ina-pagseguro-transaction-button"
                           data-description="Pacote B"
                           data-price="249.0"
                           data-success-callback="pagSeguroSuccess"
                           data-error-callback="pagSeguroErro">Comprar</a>
                    </div>
                </div>
                <!-- END Startup Plan -->
            </div>
        </div>
    </div>
</div>
@section scripts{

    <script>
        function pagSeguroSuccess() {
            window.location = '@Url.Action("PaymentSuccess", "Panel", new { area = "Dashboard" })';
        }

        function pagSeguroErro() {
            alert('Não foi possível realizar o pagamento. Tente novamente!');
        }
    </script>
}