﻿@model Web.Areas.Dashboard.Models.EditWorkerViewModel

@{
		ViewBag.Title = "Edição do Currículo";
}

<div class="content content-boxed">
	<!-- User Header -->
	<div class="block">
		<!-- Basic Info -->
		<div class="bg-image">
			<div class="block-content bg-primary-dark-op text-center overflow-hidden">
				<div class="push-30-t push animated fadeInDown">
					<img class="img-avatar img-avatar96 img-avatar-thumb" src="https://studyplace.blob.core.windows.net/uploads/@Model.ImageUrl"
							 onerror="this.onerror = null; this.src = '/Content/img/avatars/avatar4.jpg'; " id="img-perfil" width="96" height="96" />
				</div>
				<div class="push-30 animated fadeInUp">
					<h2 class="h4 font-w600 text-white push-5">@Model.FullName</h2>
					<h3 class="h5 text-gray">@Model.Email</h3>
				</div>
			</div>
		</div>
		<!-- END Basic Info -->
	</div>
	<!-- END User Header -->
	<main id="main-container">
		<div id="editPerfilProfissionalLiberal" class="bg-white overflow-hidden">
			<div class="content content-boxed overflow-hidden push-30-t">
				<div class="row">
					<div class="col-md-10">
						<div class="push-30-t push-20 animated fadeIn">
							<div class="text-center">
								<h2 class="h1 push-10-t">Informações do Perfil</h2>
							</div>
							@using (Html.BeginForm("EditCurriculum", "Panel", FormMethod.Post, new { @enctype = "multipart/form-data", @class = "form-horizontal push-50-t push-50", @id = "formWorker" }))
							{
									<div class="row">
										<div class="col-md-3">
											<div class="col-sm-12 nav-esquerda">
												<div class="img-perfil text-center">
													<img src="https://studyplace.blob.core.windows.net/uploads/@Model.ImageUrl"
															 onerror="this.onerror = null; this.src = '/Content/img/avatars/avatar4.jpg'; "
															 id="ProfileImagePreview"
															 style="margin-top: 5px;"
															 width="200" height="200" class="img-responsive img-thumbnail">
													<div class="form-group" style="text-align: center;">
														<input type="text" readonly="" class="form-control floating-label"
																	 style="margin: 5% auto 2.5%; width: 150px;"
																	 placeholder="Alterar Imagem..." onclick="$('#inputFile').click();">
														<input type="file" id="inputFile" name="ProfileImage" multiple="" style="display: none;" onchange="readURL(this);">
														@*<a href="@Url.Action("ChangePassword", "Profile", new { id="1", area = "" })" class="form-control floating-label btn-info" style="width: 150px; margin: 2.5% auto; color: #fff;">
															Mudar Senha
														</a>*@
													</div>
												</div>
											</div>
										</div>
										<div class="col-md-9 col-sm-12">
											<div class="wrap-perfil">
												@Html.AntiForgeryToken()
												@Html.HiddenFor(model => model.Id, new { @id = "idWorker" })
												<div class="form-group">
													<div class="col-xs-12">
														<div class="form-material form-material-success">
															@Html.TextBoxFor(model => model.FullName, new { @class = "form-control", @placeholder = "Nome Completo", @id = "textFullName" })
															@Html.LabelFor(model => model.FullName)
															@Html.ValidationMessageFor(m => m.FullName, null, new { @class = "text-danger" })
														</div>
													</div>
												</div>
												<div class="form-group">
													<div class="col-xs-12">
														<div class="form-material form-material-success">
															@Html.TextBoxFor(model => model.PhoneNumber, new { @placeholder = "(11) 9999-9999", @class = "form-control ina-phone-mask", @id = "textPhoneNumber" })
															@Html.LabelFor(model => model.PhoneNumber)
															@Html.ValidationMessageFor(m => m.PhoneNumber, null, new { @class = "text-danger" })
														</div>
													</div>
												</div>
												<div class="form-group">
													<div class="col-xs-12">
														<div class="form-material form-material-success">
															@Html.HiddenFor(model => model.Address.Id, new { @id = "hdnAddressId" })
															@Html.TextBoxFor(model => model.Address.Street, new { @class = "form-control", @placeholder = "Endereço", @id = "textAddressStreet" })
															@Html.LabelFor(model => model.Address.Street)
															@Html.ValidationMessageFor(m => m.Address.Street, null, new { @class = "text-danger" })
														</div>
													</div>
												</div>
												<div class="form-group">
													<div class="col-sm-8">
														<div class="form-material form-material-success">
															@Html.TextBoxFor(model => model.Address.City, new { @placeholder = "Cidade", @class = "form-control", @id = "textAddressCity" })
															@Html.LabelFor(model => model.Address.City)
															@Html.ValidationMessageFor(model => model.Address.City, null, new { @class = "text-danger", @id = "valCidade" })
														</div>
													</div>
													<div class="col-sm-4">
														<div class="form-material form-material-success">
															@Html.DropDownListFor(model => model.Address.State, new List<SelectListItem> {
                                                                                                new SelectListItem { Text = "AC", Value = "AC" },
                                                                                                new SelectListItem { Text = "AL", Value = "AL" },
                                                                                                new SelectListItem { Text = "AP", Value = "AP" },
                                                                                                new SelectListItem { Text = "AM", Value = "AM" },
                                                                                                new SelectListItem { Text = "BA", Value = "BA" },
                                                                                                new SelectListItem { Text = "CE", Value = "CE" },
                                                                                                new SelectListItem { Text = "DF", Value = "DF" },
                                                                                                new SelectListItem { Text = "Es", Value = "ES" },
                                                                                                new SelectListItem { Text = "GO", Value = "GO" },
                                                                                                new SelectListItem { Text = "MA", Value = "MA" },
                                                                                                new SelectListItem { Text = "MS", Value = "MS" },
                                                                                                new SelectListItem { Text = "MT", Value = "MT" },
                                                                                                new SelectListItem { Text = "MG", Value = "MG" },
                                                                                                new SelectListItem { Text = "PA", Value = "PA" },
                                                                                                new SelectListItem { Text = "PB", Value = "PB" },
                                                                                                new SelectListItem { Text = "PR", Value = "PR" },
                                                                                                new SelectListItem { Text = "PE", Value = "PE" },
                                                                                                new SelectListItem { Text = "PI", Value = "PI" },
                                                                                                new SelectListItem { Text = "RJ", Value = "RJ" },
                                                                                                new SelectListItem { Text = "RN", Value = "RN" },
                                                                                                new SelectListItem { Text = "RS", Value = "RS" },
                                                                                                new SelectListItem { Text = "RO", Value = "RO" },
                                                                                                new SelectListItem { Text = "RR", Value = "RR" },
                                                                                                new SelectListItem { Text = "SC", Value = "SC" },
                                                                                                new SelectListItem { Text = "SP", Value = "SP" },
                                                                                                new SelectListItem { Text = "Se", Value = "SE" },
                                                                                                new SelectListItem { Text = "TO", Value = "TO" } },
                                                                                                new { @class = "form-control push-20-t", @placeholder = "Estado", @title = "Selecione", @id = "textAddressState" })
															@Html.LabelFor(model => model.Address.State)
															@Html.ValidationMessageFor(model => model.Address.State, null, new { @class = "text-danger", @id = "valEstado" })
															@Html.ValidationMessageFor(model => model.Address.State, null, new { @class = "text-danger" })
														</div>
													</div>
												</div>
												<div class="form-group">
													<div class="col-xs-12">
														<div class="form-material  form-material-success">
															@Html.LabelFor(model => model.LanguageIds)
															@Html.ListBoxFor(model => model.LanguageIds, ViewBag.Languages as MultiSelectList, new { @class = "form-control selectpicker push-10-t", @title = "Selecione", @id = "textLanguages" })
															@Html.ValidationMessageFor(model => model.LanguageIds, null, new { @class = "text-danger" })
														</div>
													</div>
												</div>

												<div id="divGraduate">
													<table id="tableGraduatedIn" class="table table-bordered tableGrid">
														<caption>
															<div class="form-group col-xs-12">
																<div class="form-material form-material-primary">
																	<div class="row">
																		<div class="col-sm-6 push-10-t">
																			@Html.LabelFor(model => model.GraduatedIn, new { @class = "center-block pull-left", @id = "lbGraduatedIn" })
																		</div>
																		<a href="#" data-id="" class="btn glyphicon glyphicon-plus btn-radius3 btn-default modalGraduate pull-right"></a>
																	</div>																	
																</div>
																@Html.ValidationMessageFor(model => model.GraduatedIn, null, new { @class = "text-danger", @id = "valGraduatedIn" })
															</div>
														</caption>
														<thead>
															<tr>
																<th><label class="text-capitalize">Instituição de Ensino</label></th>
																<th><label class="text-capitalize">Curso</label></th>
																<th><label class="text-capitalize">Título</label></th>
																<th style="display:none">Ano de Conclusão</th>
																<th><label class="text-capitalize">Remover</label></th>
														</thead>
														<tbody>
															@if (Model.GraduatedIn != null)
															{
																foreach (var r in Model.GraduatedIn)
																{
																			<tr>
																				<td class="colGraduatedInEducationalInstitution">@Html.DisplayFor(item => r.EducationalInstitution)</td>
																				<td class="colGraduatedInCourse">@Html.DisplayFor(item => r.Course)</td>
																				<td class="colGraduatedInTitle">@Html.DisplayFor(item => r.Title)</td>
																				<td style="display:none" class="colGraduatedInConclusionYear">@Html.DisplayFor(item => r.ConclusionYear)</td>
																				<td style="text-align: center;">
																					<a href="#" onclick='deleteGraduatedIn(this);' data-id="@r.Id">
																						<span class="btn btn-xs glyphicon glyphicon-remove btn-danger"></span>
																					</a>
																				</td>
																			</tr>
}
															}
														</tbody>
													</table>
												</div>
												<div id="divServiceHistory">
													<table id="tableHistoricalOfServices" class="table table-bordered tableGrid">
														<caption>
															<div class="form-group col-xs-12">
																<div class="form-material form-material-primary">
																	<div class="row">
																		<div class="col-md-10">@Html.LabelFor(model => model.HistoricalOfServices, new { @class = "center-block push-10-t", @id = "lbHistoricalOfServices" })</div>
																		<a href="#" data-id="" class="btn glyphicon glyphicon-plus btn-radius3 btn-default modalHistoryServices pull-right"></a>
																	</div>
																</div>
																@Html.ValidationMessageFor(model => model.HistoricalOfServices, null, new { @class = "text-danger", @id = "valHistoricalOfServices" })
															</div>
														</caption>
														<thead>
															<tr>
																<th style="display:none"><label class="text-capitalize">Id</label></th>
																<th><label class="text-capitalize">Empresa</label></th>
																<th><label class="text-capitalize">Cargo/Função</label></th>
																<th style="display:none"><label class="text-capitalize">Data da admissão</label></th>
																<th style="display:none"><label class="text-capitalize">Data da saída</label></th>
																<th style="display:none"><label class="text-capitalize">Resumo das Atividades</label></th>
																<th style="text-align: center;"><label class="text-capitalize">Remover</label></th>
														</thead>
														<tbody>
															@if (Model.HistoricalOfServices != null)
															{
																foreach (var r in Model.HistoricalOfServices)
																{
																			<tr>
																				<td style='display:none' class='colHistoricalOfServiceId'>@Html.DisplayFor(item => r.Id)</td>
																				<td class="colHistoricalOfServiceCompany">@Html.DisplayFor(item => r.Company)</td>
																				<td class='colHistoricalOfServiceOffice'>@Html.DisplayFor(item => r.Office)</td>
																				<td style='display:none' class='colHistoricalOfServicePeriodStartDate'>@Html.DisplayFor(item => r.PeriodStartDate)</td>
																				<td style='display:none' class='colHistoricalOfServicePeriodEndDate'>@Html.DisplayFor(item => r.PeriodEndDate)</td>
																				<td style='display:none' class='colHistoricalOfServiceSummaryOfActivities'>@Html.DisplayFor(item => r.SummaryOfActivities)</td>
																				<td style="text-align: center;">
																					<a href="#" onclick="deleteHistoricalService(this);" data-id="@r.Id">
																						<span class="btn btn-xs glyphicon glyphicon-remove btn-danger"></span>
																					</a>
																				</td>
																			</tr>
}
															}
														</tbody>
													</table>
												</div>
												<div id="divProfessionalExperience">
													<table id="tableProfessionalExperiences" class="table table-bordered tableGrid">
														<caption>
															<div class="form-group col-xs-12">
																<div class="form-material form-material-success">
																	<div class="row">
																		<div class="col-md-10">@Html.LabelFor(model => model.ProfessionalExperiences, new { @class = "center-block push-10-t", @id = "lbProfessionalExperiences" })</div>																		
																		<a href="#" data-id="" class="btn glyphicon glyphicon-plus btn-radius3 btn-default modalProfessionalExperience pull-right"></a>
																	</div>
																	@Html.ValidationMessageFor(model => model.ProfessionalExperiences, null, new { @class = "text-danger", @id = "valProfessionalExperiences" })
																</div>
															</div>
														</caption>
														<thead>
															<tr>
																<th style="display:none"><label class="text-capitalize">Id</label></th>
																<th style="display:none"><label class="text-capitalize">ID Area</label></th>
																<th><label class="text-capitalize">Área de Atividade</label></th>
																<th><label class="text-capitalize">Nome do Projeto</label></th>
																<th><label class="text-capitalize">Cargo / Função</label></th>
																<th style="display:none"><label class="text-capitalize">Início das Atividades</label></th>
																<th style="display:none"><label class="text-capitalize">Término das Atividades</label></th>
																<th style="display:none"><label class="text-capitalize">Atividades Desempenhadas</label></th>
																<th><label class="text-capitalize">Remover</label></th>
														</thead>
														<tbody>
															@if (Model.ProfessionalExperiences != null)
															{
																foreach (var r in Model.ProfessionalExperiences)
																{
																			<tr>
																				<td style="display:none" class="colProfessionalExperienceId"> @Html.DisplayFor(item => r.Id) </td>
																				<td style="display:none" class="colProfessionalExperienceActivityAreaId"></td>
																				<td class="colProfessionalExperienceActivityAreaDescription"> @Html.DisplayFor(item => r.ProfessionalSpecialties.FirstOrDefault().Category)</td>
																				<td class="colProfessionalExperienceProjectName"> @Html.DisplayFor(item => r.ProjectName) </td>
																				<td class="colProfessionalExperienceClient"> @Html.DisplayFor(item => r.Client) </td>
																				<td style="display:none" class="colProfessionalExperienceStartExecutionPeriod"> @Html.DisplayFor(item => r.StartExecutionPeriod) </td>
																				<td style="display:none" class="colProfessionalExperienceEndExecutionPeriod"> @Html.DisplayFor(item => r.EndExecutionPeriod) </td>
																				<td style="display:none" class="colProfessionalExperiencePerformedActivities"> @Html.DisplayFor(item => r.PerformedActivities) </td>
																				<td style="text-align: center;">
																					<a href="#" onclick="deleteProfessionalExperience(this);" data-id="@r.Id">
																						<span class="btn btn-xs glyphicon glyphicon-remove btn-danger"></span>
																					</a>
																				</td>
																			</tr>
}
															}
														</tbody>
													</table>
												</div>
												<div class="form-group">
													<div class="col-xs-12">
														<div class="">
															@Html.LabelFor(model => model.SummaryOfSkills)
															@Html.TextAreaFor(model => model.SummaryOfSkills, new { @class = "form-control", @placeholder = "Resumo das Competências", @id = "textSummaryOfSkills", @rows = 5 })
															@Html.ValidationMessageFor(m => m.SummaryOfSkills, null, new { @class = "text-danger" })
														</div>
													</div>
												</div>
												<div class="form-group col-sm-4 pull-right">
													@Html.HiddenFor(model => model.Email, new { @id = "hdnEmail" })
													<button class="btn btn-success btn-block">Salvar</button>
												</div>
											</div>
										</div>
									</div>
							}
							<!-- END Register Form -->
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- END Register Content -->
		<div id='modal' class='modal fade' tabindex="-1" role="dialog">  </div>
		<!-- Footer -->
	</main>
</div>

<!-- Terms Modal -->
<div class="modal fade" id="modal-terms" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-dialog-popout">
		<div class="modal-content">
			<div class="block block-themed block-transparent remove-margin-b">
				<div class="block-header bg-primary-dark">
					<ul class="block-options">
						<li>
							<button data-dismiss="modal" type="button"><i class="si si-close"></i></button>
						</li>
					</ul>
					<h3 class="block-title">Terms &amp; Conditions</h3>
				</div>
				<div class="block-content">
				</div>
			</div>
			<div class="modal-footer">
				<button class="btn btn-sm btn-default" type="button" data-dismiss="modal">Close</button>
				<button class="btn btn-sm btn-primary" type="button" data-dismiss="modal"><i class="fa fa-check"></i> I agree</button>
			</div>
		</div>
	</div>
</div>
<!-- END Terms Modal -->

@section scripts{
	@Scripts.Render("~/bundles/jqueryval")
	@Scripts.Render("~/bundles/jqueryui")
	<script type="text/javascript">

		function retMessage(obj) {
			return 'O campo ' + obj.text() + ' é obrigatório.';
		}

		function readURL(input) {
			if (input.files && input.files[0]) {
				var reader = new FileReader();

				reader.onload = function (e) {
					$('#ProfileImagePreview').attr('src', e.target.result);
				};

				reader.readAsDataURL(input.files[0]);
			}
		}

		$('#formWorker').submit(function () {
			return modelIsValid();
		});

		function returnCourse() {
			if ($('#txtCourse').is(':visible')) {
				return $('#txtCourse option:selected').val();
			}

			if ($('#txtOtherCourse').is(':visible')) {
				return $('#txtOtherCourse').val();
			}			
		}

		function addRowTableGraduated() {
			var msgerro = false;
			var graduated = {
				EducationalInstitution: $('#txtEducationalInstitution').val(),
				Course: returnCourse(),
				Title: $('#dropDownTitle').val(),
				ConclusionYear: $('#txtYearConclusion').val(),
				CompanyId: $('#txtCompanyId').val()
			};

			$.ajax({
				type: 'POST',
				url: '@Url.Action("InsertGraduatedIn", "GraduatedIn")',
				data: { model: graduated },
				success: function (result) {
					if (result.code == "200") {
						addRowTableGraduatedIn(JSON.parse(result.obj));
						document.getElementById('divGraduate').scrollIntoView({ block: "start" });
						$("#modal-content").modal('hide');
					} else {
						alert(result.message);
					}
				},
				error: function (err) {
					console.log(err)
				},
			});
		}

		function addRowTableGraduatedIn(obj) {
			var $newRow = $("<tr>");
			$newRow.append('<td  style="display:none" class="colGraduatedInId">' + obj.Id + '</td>'
				+ '<td class="colGraduatedInEducationalInstitution">' + obj.EducationalInstitution + '</td>'
				+ '<td class="colGraduatedInCourse">' + obj.Course + '</td>'
				+ '<td class="colGraduatedInTitle">' + obj.Title + '</td>'
				+ '<td style="display:none" class="colGraduatedInConclusionYear">' + obj.ConclusionYear + '</td>'
				+ '<td style="text-align: center;">'
				+ '<a href="#" onclick="deleteGraduatedIn(this);" data-id="' + obj.Id + '">'
				+ '<span class="btn btn-xs glyphicon glyphicon-remove btn-danger"></span>'
				+ '</a></td>');

			$("#tableGraduatedIn").append($newRow);
		}

		function deleteGraduatedIn(element) {
			$.ajax({
				type: 'POST',
				url: '@Url.Action("RemoveGraduatedIn", "GraduatedIn")',
				data: { id: $(element).data('id') },
				success: function (result) {
					if (result.code == "200") {
						$(element).closest('tr').find('td').fadeOut(400, function () {
							$(element).parents('tr:first').remove();
							document.getElementById('divGraduate').scrollIntoView({ block: "start" });
						});

					} else {
						alert(result.message);
					}
				},
				error: function (err) {
					console.log(err)
				},
			});
		}

		function addRowTableProfessionalExperiences(obj) {
			var $newRow = $("<tr>");
			$newRow.append(
				+ '<td  style="display:none" class="colProfessionalExperienceId">' + obj.Id + '</td>'
				+ '<td style="display:none" class="colProfessionalExperienceActivityAreaId">' + obj.ActivityAreaId + '</td>'
				+ '<td class="colProfessionalExperienceActivityAreaDescription">' + obj.ActivityAreaDescription + '</td>'
				+ '<td class="colProfessionalExperienceProjectName">' + obj.ProjectName + '</td>'
				+ '<td class="colProfessionalExperienceClient">' + obj.Client + '</td>'
				+ '<td  style="display:none" class="colProfessionalExperienceStartExecutionPeriod">' + obj.StartExecutionPeriod + '</td>'
				+ '<td  style="display:none" class="colProfessionalExperienceEndExecutionPeriod">' + obj.EndExecutionPeriod + '</td>'
				+ '<td  style="display:none" class="colProfessionalExperiencePerformedActivities">' + obj.PerformedActivities + '</td>'
				+ '<td style="text-align: center;">'
				+ '<a href="#" onclick="deleteProfessionalExperience(this);" data-id="' + obj.Id + '">'
				+ '<span class="btn btn-xs glyphicon glyphicon-remove btn-danger"></span>'
				+ '</a></td>');

			$("#tableProfessionalExperiences").append($newRow);

			$("#modal").modal('hide');
		};

		function addRowProfessionalExperiences() {
			var professionalExperience = {				
				ActivityAreaDescription: $('#txtActivity :selected').text(),
				ProjectName: $('#txtProjectName').val(),
				Client: $('#txtOffice').val(),
				StartExecutionPeriod: $('#txtStartPeriod').val(),
				EndExecutionPeriod: $('#txtEndPeriod').val(),
				PerformedActivities: $('#txtPerformedActivities').val(),
				ProfessionalSpecialtyId: $('#txtSpecialtyProfessional :selected').val()
			};

			$.ajax({
				type: 'POST',
				url: '@Url.Action("InsertProfessionalExperience", "ProfessionalExperience")',
				data: { model: professionalExperience },
				success: function (result) {
					if (result.code == "200") {
						addRowTableProfessionalExperiences(JSON.parse(result.obj));
						document.getElementById('divProfessionalExperience').scrollIntoView({ block: "start" });
						$("#modal-content").modal('hide');
					} else {
						alert(result.message);
					}
				},
				error: function (err) {
					console.log(err)
				},
			});
		}

		function deleteProfessionalExperience(element) {
			$.ajax({
				type: 'POST',
				url: '@Url.Action("RemoveProfessionalExperience", "ProfessionalExperience")',
				data: { id: $(element).data('id') },
				success: function (result) {
					if (result.code == "200") {
						$(element).closest('tr').find('td').fadeOut(400, function () {
							$(element).parents('tr:first').remove();
							document.getElementById('divProfessionalExperience').scrollIntoView({ block: "start" });
						});
					} else {
						alert(result.message);
					}
				},
				error: function (err) {
					console.log(err)
				},
			});
		}

		function addRowTableHistoricalOfServices(obj) {
			var $newRow = $("<tr>");
			$newRow.append(
				+ '<td  style="display:none" class="colHistoricalOfServiceId">' + obj.Id + '</td>'
				+ '<td class="colHistoricalOfServiceCompany">' + obj.Company + '</td>'
				+ '<td class="colHistoricalOfServiceOffice">' + obj.Office + '</td>'
				+ '<td style="display:none" class="colHistoricalOfServicePeriodStartDate">' + obj.PeriodStartDate + '</td>'
				+ '<td style="display:none" class="colHistoricalOfServicePeriodEndDate">' + obj.PeriodEndDate + '</td>'
				+ '<td style="display:none" class="colHistoricalOfServiceSummaryOfActivities">' + obj.SummaryOfActivities + '</td>'
				+ '<td style="text-align: center;">'
				+ '<a href="#" onclick="deleteHistoricalService(this);" data-id="' + obj.Id + '">'
				+ '<span class="btn btn-xs glyphicon glyphicon-remove btn-danger"></span>'
				+ '</a></td>');

			$("#tableHistoricalOfServices").append($newRow);
		};

		function addRowHistoricalOfServices() {
			var historicalService = {
				Company: $('#txtCompany').val(),
				Office: $('#txtOffice').val(),
				PeriodStartDate: $('#txtStartPeriod').val(),
				PeriodEndDate: $('#txtEndPeriod').val(),
				SummaryOfActivities: $('#txtSummaryOfActivities').val()
			};

			$.ajax({
				type: 'POST',
				url: '@Url.Action("InsertHistoricalOfService", "HistoricalOfService")',
				data: { model: historicalService },
				success: function (result) {
					if (result.code == "200") {
						addRowTableHistoricalOfServices(JSON.parse(result.obj));
						document.getElementById('divServiceHistory').scrollIntoView({ block: "start" });
						$("#modal-content").modal('hide');
					} else {
						alert(result.message);
					}
				},
				error: function (err) {
					console.log(err)
				},
			});
		}

		function deleteHistoricalService(element) {
			$.ajax({
				type: 'POST',
				url: '@Url.Action("RemoveHistoricalOfService", "HistoricalOfService")',
				data: { id: $(element).data('id') },
				success: function (result) {
					if (result.code == "200") {
						$(element).closest('tr').find('td').fadeOut(400, function () {
							$(element).parents('tr:first').remove();
							document.getElementById('divServiceHistory').scrollIntoView({ block: "start" });
						});
					} else {
						alert(result.message);
					}
				},
				error: function (err) {
					console.log(err)
				},
			});
		}

		function RemoveTableRow(handler) {
			var tr = $(handler).closest('tr');
			tr.fadeOut(400, function () {
				tr.remove();
			});
			return false;
		};

		function RenderDatepicker(handler) {
			handler.datepicker({
				changeMonth: true,
				changeYear: true,
				dateFormat: 'dd/mm/yy',
				dayNames: ['Domingo', 'Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sábado'],
				dayNamesMin: ['D', 'S', 'T', 'Q', 'Q', 'S', 'S', 'D'],
				dayNamesShort: ['Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sáb', 'Dom'],
				monthNames: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
				monthNamesShort: ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'],
				nextText: 'Próximo',
				prevText: 'Anterior',
			});
		}

		$(document).ready(function () {
			$('.selectpicker').attr('data-size', '5');
			$('.selectpicker').attr('data-live-search', true);
			$(".selectpicker").selectpicker();

			$('.modalGraduate').click(function () {
				$("#modal-content").load("@Url.Action("ModalGraduate", "Panel")", function () {
					document.getElementById('divGraduate').scrollIntoView({ block: "start" });
					$('#modal-content').modal();
					$('#txtCourse').attr('data-size', '5');
					$('#txtCourse').attr('data-live-search', true);
					$('.selectpicker').selectpicker();

					$(".selectpicker").css('margin-top', '5px !important');
					$('#txtOtherCourse').hide();
				});
			});

			$('.modalHistoryServices').click(function () {
				$("#modal-content").load("@Url.Action("ModalServiceHistory", "Panel")", function () {
					document.getElementById('divServiceHistory').scrollIntoView({ block: "start" });
					$("#modal-content").modal();
					configureDatePicker();
				});
			});

			$('.modalProfessionalExperience').click(function () {
				$("#modal-content").load("@Url.Action("ModalProfessionalExperience", "Panel")", function () {
					document.getElementById('divProfessionalExperience').scrollIntoView({ block: "start" });
					$("#modal-content").modal();
					configureDatePicker();
					$('.selectpicker').attr('data-size', '5');
					$('.selectpicker').attr('data-live-search', true);
					$('.selectpicker').selectpicker();
					$(".selectpicker").css('margin-top', '5px !important');
				});
			});			
		});

		function hideOtherCourseField(element) {
			var optionSelected = $(element).val();

			if (optionSelected !== 'Graduação' && optionSelected != '' && optionSelected != undefined) {
				$('#courseArea').hide();
				$('#txtOtherCourse').show();
			} else {
				$('#courseArea').show();
				$('#txtOtherCourse').hide();
			}
		}

		function configureDatePicker() {
			$(".datepicker").datepicker({
				changeMonth: true,
				changeYear: true,
				dateFormat: 'dd/mm/yy',
				dayNames: ['Domingo', 'Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sábado'],
				dayNamesMin: ['D', 'S', 'T', 'Q', 'Q', 'S', 'S', 'D'],
				dayNamesShort: ['Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sáb', 'Dom'],
				monthNames: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
				monthNamesShort: ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'],
				nextText: 'Próximo',
				prevText: 'Anterior'
			});
		}

		function modelIsValid() {
			var errorMessage = "Ao menos um registro deve ser adicionado para ";
			var formInvalid = false;

			if ($('#tableGraduatedIn > tbody > tr').length == 0) {
				$('#valGraduatedIn').text(errorMessage + "Formação");
				formInvalid = true;
			} else {
				$('#valGraduatedIn').text("");
			}

			if ($('#tableHistoricalOfServices > tbody > tr').length == 0) {
				$('#valHistoricalOfServices').text(errorMessage + "Histórico de Serviços");
				formInvalid = true;
			} else {
				$('#valHistoricalOfServices').text("");
			}

			if ($('#tableProfessionalExperiences > tbody > tr').length == 0) {
				$('#valProfessionalExperiences').text(errorMessage + "Experiência Profissional");
				formInvalid = true;
			} else {
				$('#valProfessionalExperiences').text("");
			}

			if (formInvalid) {
				return false;
			} else {
				return true;
			}
		}

		function validationGraduated() {
			var msgerro = "";

			if ($('#txtEducationalInstitution').val() == "") {
				msgerro = 'O campo Instituição de Ensino é obrigatório.';
				$("#errEducationInstitution").text(msgerro);
			} else {
				$("#errEducationInstitution").text("");
			}
			
			if ($('#txtCourse').is(':visible')) {
				if ($('#txtCourse option:selected').val() == "") {
					msgerro = 'O campo Curso é obrigatório.';
					$("#errCourse").text(msgerro);
				} else {
					$("#errCourse").text("");
				}
			}

			if ($('#txtOtherCourse').is(':visible')) {
				if ($('#txtOtherCourse').val() == "") {
					msgerro = 'O campo Curso é obrigatório.';
					$("#errCourse").text(msgerro);
				} else {
					$("#errCourse").text("");
				}
			}

			if ($('#dropDownTitle').val() == "") {
				msgerro = 'O campo Titulação é obrigatório.';
				$("#errTitle").text(msgerro);
			} else {
				$("#errTitle").text("");
			}

			if ($('#txtYearConclusion').val() == "") {
				msgerro = 'O campo Ano de Conclusão é obrigatório.';
				$("#errYearConclusion").text(msgerro);
			} else {
				$("#errYearConclusion").text("");
			}

			if (msgerro != "") {
				return false;
			} else {
				return true;
			}
		}

		function validationHistoricalOfServices() {
			var msgerro = "";

			if ($('#txtCompany').val() == "") {
				msgerro = 'O campo Empresa é obrigatório.';
				$("#errCompany").text(msgerro);
			} else {
				$("#errCompany").text("");
			}

			if ($('#txtOffice').val() == "") {
				msgerro = 'O campo Cargo e Funcão é obrigatório.';
				$("#errOffice").text(msgerro);
			} else {
				$("#errOffice").text("");
			}

			if ($('#txtStartPeriod').val() == "") {
				msgerro = 'O campo é obrigatório.';
				$("#errStartPeriod").text(msgerro);
			} else {
				$("#errStartPeriod").text("");
			}

			if ($('#txtEndPeriod').val() == "") {
				msgerro = 'O campo é obrigatório.';
				$("#errEndPeriod").text(msgerro);
			} else {
				$("#errEndPeriod").text("");
			}

			if ($('#txtSummaryOfActivities').val() == "") {
				msgerro = 'O campo Resudo de Atividades é obrigatório';
				$('#errSummaryOfActivies').text(msgerro);
			} else {
				$('#errSummaryOfActivies').text();
			}

			if (msgerro != "") {
				return false;
			} else {
				return true;
			}
		}

		function validationProfessionalExperience() {
			var msgerro = "";

			if ($('#txtActivity').val() == "") {
				msgerro = 'O campo Area de Atividade é obrigatório.';
				$("#errActivity").text(msgerro);
			} else {
				$("#errActivity").text("");
			}

			if ($('#txtProjectName').val() == "") {
				msgerro = 'O campo Nome do Prjeto é obrigatório.';
				$("#errProjectName").text(msgerro);
			} else {
				$("#errProjectName").text("");
			}

			if ($('#txtOffice').val() == "") {
				msgerro = 'O campo Nome do Prjeto é obrigatório.';
				$("#errOffice").text(msgerro);
			} else {
				$("#errOffice").text("");
			}

			if ($('#txtStartPeriod').val() == "") {
				msgerro = 'O campo é obrigatório.';
				$("#errStartPeriod").text(msgerro);
			} else {
				$("#errStartPeriod").text("");
			}

			if ($('#txtEndPeriod').val() == "") {
				msgerro = 'O campo é obrigatório.';
				$("#errEndPeriod").text(msgerro);
			} else {
				$("#errEndPeriod").text("");
			}

			if ($('#txtPerformedActivities').val() == "") {
				msgerro = 'O campo Atividades Desempenhadas é obrigatório';
				$('#errPerformedActivities').text(msgerro);
			} else {
				$('#errPerformedActivities').text();
			}

			if (msgerro != "") {
				return false;
			} else {
				return true;
			}
		}
	</script>
}
