﻿@model Web.Models.ProfessorViewModel
@{
		ViewBag.Title = "Dashboard de Trabalhador";

}
<div class="content content-boxed">
	<!-- User Header -->
	<div class="block">
		<!-- Basic Info -->
		<div class="bg-image">
			<div class="block-content bg-primary-dark-op text-center overflow-hidden">
				<div class="push-30-t push animated fadeInDown">
					<img class="img-avatar img-avatar96 img-avatar-thumb" src="https://studyplace.blob.core.windows.net/uploads/@ViewBag.ImageUrl"
							 onerror="this.onerror = null; this.src = '/Content/img/avatars/avatar4.jpg'; " id="img-perfil" width="96" height="96" />
				</div>
				<div class="push-30 animated fadeInUp">
					<h2 class="h4 font-w600 text-white push-5">@Model.FullName</h2>
					<h3 class="h5 text-gray">@Model.Email</h3>
				</div>
			</div>
		</div>
		<!-- END Basic Info -->
	</div>
    <!-- User Header -->
    <div class="block">
        <!-- Stats -->
        <div class="block-content text-center">
            <div class="row items-push text-uppercase">
                <div class="col-xs-12 col-sm-4">
                    <div class="font-w700 text-gray-darker animated fadeIn">Fóruns</div>
                    @*<a href="@Url.Action("OpportunitiesSaved", "Panel")" class="h2 font-w300 text-primary animated flipInX">@Model.SavedLeadsCount</a>*@
                    <a href="" class="h2 font-w300 text-primary animated flipInX">0</a>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <div class="font-w700 text-gray-darker animated fadeIn">Alunos</div>
                    @*<a href="#" class="h2 font-w300 text-primary animated flipInX">@Model.PurchasedLeadCount</a>*@
                    <a href="" class="h2 font-w300 text-primary animated flipInX">0</a>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <div class="font-w700 text-gray-darker animated fadeIn">Professores</div>
                    @*<a href="@Url.Action("MyJobs", "Jobs")" class="h2 font-w300 text-primary animated flipInX">@Model.MyJobsCount</a>*@
                    <a href="" class="h2 font-w300 text-primary animated flipInX">0</a>
                </div>

            </div>
        </div>
        <!-- END Stats -->
    </div>
    <!-- END User Header -->
    <!-- Main Content -->
    <div class="row">
        <div class="col-md-12">
            <!-- Timeline -->
            <div class="block block-opt-refresh-icon6">
                <div class="block-header">
                    <h3 class="block-title"><i class="fa fa-newspaper-o"></i> Minha Dashboard</h3>
                </div>
                @*<div class="block-content">
                        <table class="table table-bordered table-striped js-dataTable-full">
                            <thead>
                                <tr>
                                    <th>Data de Publicação</th>
                                    <th>Orgão Licitante</th>
                                    <th>Objeto</th>
                                    <th>Local</th>
                                    <th>Valor</th>
                                    <th>Tipo de Parceria</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.Opportunities != null)
                                {
                                    foreach (var item in Model.Opportunities)
                                    {
                                        <tr>
                                            <td>@Html.DisplayFor(modelItem => item.PublicationDate)</td>
                                            <td>@Html.DisplayFor(modelItem => item.OrganBidder)</td>
                                            <td>
                                                <a href="https://studyplace.blob.core.windows.net/uploads/@Html.DisplayFor(modelItem => item.Attachments)">
                                                    Download
                                                </a>
                                            </td>
                                            <td>@Html.DisplayFor(modelItem => item.Local)</td>
                                            <td>@Html.DisplayFor(modelItem => item.ValueInReal)</td>
                                            <td>@Html.DisplayFor(modelItem => item.PartnerType)</td>
                                            <td width="17%" style="text-align: center;">
                                                <div class="btn-group">
                                                                                                    <button type="button" data-id="@item.Id" class="btn btn-xs btn-default modalLeadDetails" aria-label="Left Align">
                                                                                                        <i class="si si-magnifier"></i>
                                                                                                    </button>
                                                    <a class="btn btn-xs btn-default modalSaveOpportunity" data-id="@item.Id" data-toggle="tooltip" title="" data-original-title="Salvar">Salvar</a>
                                                    <a class="btn btn-xs btn-success modalOpportunityPrePurchase" data-id="@item.Id" data-toggle="tooltip" title="" data-original-title="Comprar">Comprar</a>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>*@
            </div>
            <!-- END Timeline -->
        </div>
    </div>
    <!-- END Main Content -->
</div>