﻿@model IEnumerable<Web.Models.JobViewModel>

@{
		ViewBag.Title = "Meus Candidatos";
}

<div class="content bg-gray-lighter">
	<div class="row items-push">
		<div class="col-sm-7">
			<h1 class="page-heading">Meus Candidatos <small>Candidatos interessados nas minhas vagas</small></h1>
		</div>
		<div class="col-sm-5 text-right hidden-xs">
			<ol class="breadcrumb push-10-t">
				<li><a class="link-effect" href="@Url.Action("IndexCompany", "Panel")">Home</a></li>
				<li>Meus Candidatos</li>
			</ol>
		</div>
	</div>
</div>
<div class="content">
	<div class="block">
		<div class="block-content">
			<table class="table js-dataTable-full">
				<thead>
					<tr>
						<th>Data</th>
						<th>ID Vaga</th>
						<th>Objeto</th>
						<th>Área de Atividade</th>
						<th>Especialidade</th>						
						<th>Formação Acadêmica</th>
						<th>Experiência Requerida</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					@if (Model != null)
					{
						foreach (var job in Model)
						{
							if (job.Workers != null)
							{
								foreach (var worker in job.Workers)
								{
													<tr>
														<td>@Html.DisplayFor(model => job.PublicationDate)</td>
														<td>@Html.DisplayFor(model => job.Id)</td>
														<td>
															<a href="https://studyplace.blob.core.windows.net/uploads/@Html.DisplayFor(modelItem => job.Object)">
																Download
															</a>
														</td>
														<td>@Html.DisplayFor(model => job.ActivityArea.Description)</td>
														<td>@Html.DisplayFor(model => job.ProfessionalSpeciality.Description)</td>
														
														@if (worker.GraduatedIn.Count > 1)
														{
																<td>@worker.GraduatedIn.FirstOrDefault().Course + ...</td>
}
														else
														{
																<td>@worker.GraduatedIn.FirstOrDefault().Course</td>
}
														<td>@Html.DisplayFor(model => job.ExperienceRequired)</td>

														<td width="15%">
															<div class="btn-group">
																@*<a class="btn btn-xs btn-default modalSaveCandidate" data-id="@worker.Id" data-toggle="tooltip" title="" data-original-title="Salvar">Salvar</a>*@
																<a href="#" data-id="@worker.Id" class="btn btn-xs btn-default modalLeadDetails">
																	<i class="si si-magnifier"></i>
																</a>
																<a class="btn btn-xs btn-success modalLeadPrePurchaseWorker" data-id="@worker.Id" data-toggle="tooltip" title="" data-original-title="Abrir contato">Comprar</a>
															</div>
														</td>
													</tr>
								}
							}
						}
					}
				</tbody>
			</table>
		</div>
	</div>
</div>
@section scripts{
	<script>
		$(document).ready(function () {
			$('.table').dataTable({
				"searching": true,
				"info": false,
				"paging": true,
				"bLengthChange": false,
				"ordering": false,
				"pageLength": 10,
				"language": {
					"url": "//cdn.datatables.net/plug-ins/1.10.10/i18n/Portuguese-Brasil.json"
				}
			});
		});

		$(".modalLeadDetails").click(function () {
			var id = $(this).attr("data-id");
			$("#modal-content").load("@Url.Action("DetailsWorker", "Leads")/" + id, function () {
				$("#modal-content").modal();
			})
		});

		$(".modalLeadPrePurchaseWorker").click(function () {
			var id = $(this).attr("data-id");
			$("#modal-content").load("@Url.Action("PrePurchaseWorker", "Leads")/" + id, function () {
				$("#modal-content").modal();
			})
		});

		$(".modalSaveCandidate").click(function () {
			var id = $(this).attr("data-id");
			$("#modal-content").load("@Url.Action("LoadCandidate", "Candidates")/" + id, function () {
				$("#modal-content").modal();
			})
		});
	</script>
}
