﻿@model Web.Models.AlunoViewModel

@{
    ViewBag.Title = "MyPlans";
}

<div class="content bg-gray-lighter">
    <div class="row items-push">
        <div class="col-sm-7">
            <h1 class="page-heading">Meu Plano <small>Meu Plano e meus Créditos</small></h1>
        </div>
        <div class="col-sm-5 text-right hidden-xs">
            <ol class="breadcrumb push-10-t">
                <li><a class="link-effect" href="@Url.Action("IndexCompany", "Panel")">Home</a></li>
                <li>Meus Planos</li>
            </ol>
        </div>
    </div>
</div>
<div class="content">
    <div class="block">
            <div class="col-sm-5 col-lg-4">
                <div class="block block-bordered">
                    <div class="block-header">
                        <h3 class="block-title">Plano @Html.DisplayFor(model => model.ProviderPlan)</h3>
                    </div>
                    <div class="block-content">
                        <div class="pull-r-l pull-t push">
                            <table class="block-table text-center bg-gray-lighter border-b">
                                <tbody>
                                    <tr>
                                        <td class="border-r" style="width: 100%;">
                                            <div class="h1 font-w700"><a href="@Url.Action("Plans", "Panel")">@((int)Model.CurrentBalance)</a></div>
                                            <div class="h5 text-muted text-uppercase push-5-t">Créditos</div>
                                        </td>
                                        @*<td class="border-r" style="width: 50%;">
                                                <div class="h1 font-w700"><a href="@Url.Action("Plans", "Panel")">@((int)Model.UniqueCompanyBalance)</a></div>
                                                <div class="h5 text-muted text-uppercase push-5-t">Exclusivos</div>
                                            </td>*@
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>
