﻿@model Web.Areas.Dashboard.Models.OpenLeadsViewModel
@{
		ViewBag.Title = "Painel de Leads";
}

<div class="content bg-gray-lighter">
	<div class="row items-push">
		<div class="col-sm-7">
			<h1 class="page-heading">Painel de Leads <small>Comprar leads</small></h1>
		</div>
		<div class="col-sm-5 text-right hidden-xs">
			<ol class="breadcrumb push-10-t">
				<li><a class="link-effect" href="@Url.Action("IndexCompany", "Panel")">Home</a></li>
				<li>Painel de Leads</li>
			</ol>
		</div>
	</div>
</div>


@if (Model.ProviderPlan == Web.Models.Enuns.ProviderPlanViewModel.Pro)
{
		<ul class="nav nav-tabs">
			<li class="presentation active"><a onclick="showTab();" href="#">Empresas</a></li>
			<li class="presentation"><a onclick="showTab();" href="#">Profissionais Liberais</a></li>
		</ul>

		<div id="gridCompany" class="content">
			<div class="block">
				<div class="block-content">
					@Html.Partial("Partials/_GridBuyCompany", @Model.CompanySearch)
				</div>
			</div>
		</div>

		<div id="gridWorkers" class="content" hidden>
			<div class="block">
				<div class="block-content">
					@Html.Partial("Partials/_GridBuyWorker", @Model.WorkerSearch)
				</div>
			</div>
		</div>
}
else
{
		<div class="block  text-center">
			<div class="block-content">
				<div class="block-content block-content-full bg-primary">
					<div class="h4 font-w700 push-10 text-white">
						Para ter acesso a essa área você deve fazer o Upgrade da sua conta para o plano Pro
					</div>
					<a class="btn btn-lg btn-success text-white" href="@Url.Action("Plans", "Panel")">Realizar Upgrade da Conta Agora</a>
				</div>				
				<br />			
			</div>
		</div>
}

@section scripts{
	@Scripts.Render("~/bundles/jqueryval")
	<script>
		function showTab() {
			$tabCompanies = $("#gridCompany");

			if ($tabCompanies.is(":visible")) {
				hideTab("#gridWorkers", "#gridCompany");
			} else {
				hideTab("#gridCompany", "#gridWorkers");
			}
		}

		function hideTab(showElement, hideElement) {
			$(showElement).show();
			$(hideElement).hide();

			$tabs = $(".presentation");
			$tabs.each(function () {
				if ($(this).hasClass("active")) {
					$(this).removeClass("active")
				} else {
					$(this).addClass("active");
				}
			});
		}

		function validateEmptyFields(element, form) {
			if ($(element).val() == '') {
				return false;
			} else {
				form.submit();
				return true;
			}
		}

		$(function () {
			var show = '@ViewBag.ShowGrid';
			var hide = '@ViewBag.HideGrid';
			if ((show != '') && (hide != '')) {
				hideTab(show, hide);
			}

			$('.selectpicker').attr('data-size', '5');
			$('.selectpicker').attr('data-live-search', true);
			$(".selectpicker").selectpicker();

			$(".modalLeadDetailsWorker").click(function () {
				var id = $(this).attr("data-id");
				$("#modal-content").load("@Url.Action("DetailsWorker", "Leads")/" + id, function () {
					$("#modal-content").modal();
				})
			});

			$(".modalLeadDetailsCompany").click(function () {
				var id = $(this).attr("data-id");
				$("#modal-content").load("@Url.Action("DetailsCompany", "Leads")/" + id, function () {
					$("#modal-content").modal();
				})
			});

			$(".modalLeadPrePurchaseWorker").click(function () {
				var id = $(this).attr("data-id");
				$("#modal-content").load("@Url.Action("PrePurchaseWorker", "Leads")/" + id, function () {
					$("#modal-content").modal();
				})
			});

			$(".modalLeadPrePurchaseCompany").click(function () {
				var id = $(this).attr("data-id");
				$("#modal-content").load("@Url.Action("PrePurchaseCompany", "Leads")/" + id, function () {
					$("#modal-content").modal();
				})
			});

			$('.table').dataTable({
				"searching": false,
				"info": false,
				"paging": true,
				"bLengthChange": false,
				"ordering": false,
				"pageLength": 10,
				"language": {
					"url": "//cdn.datatables.net/plug-ins/1.10.10/i18n/Portuguese-Brasil.json"
				}
			});
		});
	</script>
}
