﻿@model Web.Areas.Dashboard.Models.MyLeadsModel
@{
		ViewBag.Title = "Oportunidades Compradas";
}
<div class="content bg-gray-lighter">
	<div class="row items-push">
		<div class="col-sm-7">
			<h1 class="page-heading">
				@ViewBag.Title <small>Oportunidades que você comprou</small>
			</h1>
		</div>
		<div class="col-sm-5 text-right hidden-xs">
			<ol class="breadcrumb push-10-t">
				<li><a class="link-effect" href="@Url.Action("IndexCompany", "Panel")">Home</a></li>
				<li>@ViewBag.Title</li>
			</ol>
		</div>
	</div>
</div>

<div id="gridOpportunities" class="content">
	<div class="block">
		<div class="block-content">
			@Html.Partial("Partials/_GridOpportunities", @Model.Leads)
		</div>
	</div>
</div>

@section scripts{
	<script>
		function hideTab(showElement, hideElement) {
			$(showElement).show();
			$(hideElement).hide();
			
			$tabs = $(".presentation");
			$tabs.each(function () {
				if ($(this).hasClass("active")) {
					$(this).removeClass("active")
				} else {
					$(this).addClass("active");
				}
			});
		}

		$(function () {
			$(".modalLeadDetails").click(function () {
				var id = $(this).attr("data-id");
				$("#modal-content").load("@Url.Action("DetailsWorker", "Leads")/" + id, function () {
					$("#modal-content").modal();
				})
			});

			$(".modalOpportunityDetails").click(function () {
				var id = $(this).attr("data-id");
				$("#modal-content").load("@Url.Action("Details", "Opportunities")/" + id, function () {
					$("#modal-content").modal();
				})
			});

			$(".leadStatus").change(function () {
				var id = $(this).attr("data-id");
				var status = $(this).val();
				$.ajax({
					method: "GET",
					url: "@Url.Action("UpdateStatus", "Leads")/" + id + "?status=" + status
				});
			});

			$('.table').dataTable({
				"searching": true,
				"info": false,
				"paging": true,
				"bLengthChange": false,
				"ordering": false,
				"pageLength": 10,
				"language": {
					"url": "//cdn.datatables.net/plug-ins/1.10.10/i18n/Portuguese-Brasil.json"
				}
			});
		});
	</script>
}