﻿@model IEnumerable<Web.Areas.Dashboard.Models.SaveOpportunityViewModel>

@{
		ViewBag.Title = "Oportunidades Salvas";

}

<div class="content bg-gray-lighter">
	<div class="row items-push">
		<div class="col-sm-7"><h1 class="page-heading">Oportunidades Salvas</h1></div>
		<div class="col-sm-5 text-right hidden-xs">
			<ol class="breadcrumb push-10-t">
				<li><a class="link-effect" href="@Url.Action("IndexCompany", "Panel")">Home</a></li>
				<li>Oportunidades Salvas</li>
			</ol>
		</div>
	</div>
</div>

<div class="content">
	<div class="block">
		<div class="block-content">
			<table class="table table-bordered table-striped js-dataTable-full">
				<thead>
					<tr>
						<th>Data de Publicação</th>
						<th>Orgão Licitante</th>
						<th>Objeto</th>
						<th>Local</th>
						<th>Valor</th>
						<th>Tipo de Parceria</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					@if (Model != null)
					{
						foreach (var item in Model)
						{
									<tr>
										<td>@Html.DisplayFor(modelItem => item.Opportunity.PublicationDate)</td>
										<td>@Html.DisplayFor(modelItem => item.Opportunity.OrganBidder)</td>
										<td>
											<a href="https://studyplace.blob.core.windows.net/uploads/@Html.DisplayFor(modelItem => item.Opportunity.Attachments)">
												Download
											</a>
										</td>
										<td>@Html.DisplayFor(modelItem => item.Opportunity.Local)</td>
										<td>@Html.DisplayFor(modelItem => item.Opportunity.ValueInReal)</td>
										<td>@Html.DisplayFor(modelItem => item.Opportunity.PartnerType)</td>
										<td>
											<button type="button" data-id="@item.Opportunity.Id" class="btn btn-xs btn-default modalLeadDetails" aria-label="Left Align">
												<i class="si si-magnifier"></i>
											</button>
											<a class="btn btn-xs btn-success modalOpportunityPrePurchase" data-id="@item.Opportunity.Id" data-toggle="tooltip" title="" data-original-title="Comprar">Comprar</a>
										</td>
									</tr>
						}
					}
				</tbody>
			</table>
		</div>
	</div>
</div>

<div id='modal' class='modal fade' tabindex="-1" role="dialog">  </div>

@section scripts {
	<script>
		$(function () {
			$('.table').dataTable({
				"searching": true,
				"info": false,
				"paging": true,
				"bLengthChange": false,
				"ordering": false,
				"language": {
					"url": "//cdn.datatables.net/plug-ins/1.10.10/i18n/Portuguese-Brasil.json"
				}
			});

			$(".modalLeadDetails").click(function () {
				var id = $(this).attr("data-id");
				$("#modal").load("@Url.Action("Details", "Panel")/" + id, function () {
					$("#modal").modal('show');
				})
			});

			$(".modalOpportunityPrePurchase").click(function () {
				var id = $(this).attr("data-id");
				$("#modal-content").load("@Url.Action("PrePurchaseOpportunity", "Leads")/" + id, function () {
					$("#modal-content").modal();
				})
			});
		});
	</script>
}
