﻿
@{
    ViewBag.Title = "Pedido em análise";
}

<div class="content bg-gray-lighter">
    <div class="row items-push">
        <div class="col-sm-8">
            <h1 class="page-heading">
                @ViewBag.Title
            </h1>
        </div>
        <div class="col-sm-4 text-right hidden-xs">
            <ol class="breadcrumb push-10-t">
                <li><a class="link-effect" href="@Url.Action("IndexCompany", "Panel")">Home</a></li>
                <li>@ViewBag.Title</li>
            </ol>
        </div>
    </div>
</div>
<div class="content">
    <div class="alert alert-success" role="alert">
        Obrigado por compra com o Auto Exato! Estamos processando seu pagamento e o seu crédito estará disponível em breve.
    </div>

    <a class="btn btn-success" style="width: 100%;" href="@Url.Action("IndexCompany", "Panel", new { area = "Dashboard" })">Voltar para a página inicial</a>
</div>