﻿@model Domain.Models.Company

@{
    ViewBag.Title = "Planos";
}

<div class="content bg-gray-lighter">
    <div class="row items-push">
        <div class="col-sm-8">
            <h1 class="page-heading">
                Planos de assinatura
            </h1>
        </div>
        <div class="col-sm-4 text-right hidden-xs">
            <ol class="breadcrumb push-10-t">
                <li><a class="link-effect" href="@Url.Action("IndexCompany", "Panel")">Home</a></li>
                <li>Planos</li>
            </ol>
        </div>
    </div>
</div>
<div class="content">
    <div class="pricing-tables attached">
        <div class="row">
            <div class="col-sm-4">
                <!-- Startup Plan -->
                <div class="block block-link-hover2 text-center">
                    <div class="block-header">
                        <h3 class="block-title">Plano Básico @(Model.ProviderPlan == Domain.Enum.ProviderPlan.Basic ? "- Atual" : "")</h3>
                    </div>
                    <div class="block-content block-content-full bg-primary">
                        <div class="h1 font-w700 push-10">R$ 199,00</div>
                        <div class="h5 font-w300 text-white-op">por mês</div>
                    </div>
                    <div class="block-content">
                        <table class="table table-borderless table-condensed">
                            <tbody>
                                <tr>
                                    <td><strong>Login exclusivo:</strong> Sim</td>
                                </tr>
                                <tr>
                                    <td><strong>Clientes Potenciais:</strong> 100</td>
                                </tr>
                                <tr><td><br /></td></tr>
                                <tr><td><br /></td></tr>
                                <tr><td><br /></td></tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="block-content block-content-mini block-content-full bg-gray-lighter">
                        @if (Model.ProviderPlan != Domain.Enum.ProviderPlan.Basic)
                        {
                            <a class="btn btn-lg btn-primary ina-pagseguro-subscription-button"
                                  data-description="Plano Basico"
                                  data-price="199.0"
                                  data-success-callback="pagSeguroSuccess"
                                  data-error-callback="pagSeguroErro">Assinar</a>
                        }
                        else
                        {
                            <a href="@Url.Action("BuyCredits", "Panel", new { area = "Dashboard" })" class="btn btn-lg btn-success">Comprar Pacotes Adicionais</a>
                        }
                    </div>
                </div>
                <!-- END Startup Plan -->
            </div>
            <div class="col-sm-4">
                <!-- Startup Plan -->
                <div class="block block-link-hover2 text-center">
                    <div class="block-header">
                        <h3 class="block-title">Plano Intermediário @(Model.ProviderPlan == Domain.Enum.ProviderPlan.Intermediate ? "- Atual" : "")</h3>
                    </div>
                    <div class="block-content block-content-full bg-success">
                        <div class="h1 font-w700 push-10 text-white">R$ 299,00</div>
                        <div class="h5 font-w300 text-white-op">por mês</div>
                    </div>
                    <div class="block-content">
                        <table class="table table-borderless table-condensed">
                            <tbody>
                                <tr>
                                    <td><strong>Login exclusivo:</strong> Sim</td>
                                </tr>
                                <tr>
                                    <td><strong>Clientes potenciais:</strong> 300</td>
                                </tr>
                                <tr>
                                    <td><strong>Carros na Newsletter Semanal:</strong> 3</td>
                                </tr>
                                <tr>
                                    <td><strong>Sessões de fotos de 3 Carros:</strong> 3</td>
                                </tr>
                                <tr>
                                    <td><strong>Vídeo Mensal:</strong> 1</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="block-content block-content-mini block-content-full bg-gray-lighter">
                        @if (Model.ProviderPlan != Domain.Enum.ProviderPlan.Intermediate)
                        {
                            <a class="btn btn-lg btn-primary ina-pagseguro-subscription-button"
                                   data-description="Plano Intermediario"
                                   data-price="299.0"
                                   data-success-callback="pagSeguroSuccess"
                                   data-error-callback="pagSeguroErro">Assinar</a>
                        }
                        else
                        {
                            <a href="@Url.Action("BuyCredits", "Panel", new { area = "Dashboard" })" class="btn btn-lg btn-success">Comprar créditos adicionais</a>
                        }
                    </div>
                </div>
                <!-- END Startup Plan -->
            </div>
            <div class="col-sm-4">
                <!-- Startup Plan -->
                <div class="block block-link-hover2 text-center">
                    <div class="block-header">
                        <h3 class="block-title">Plano Avançado @(Model.ProviderPlan == Domain.Enum.ProviderPlan.Pro ? "- Atual" : "")</h3>
                    </div>
                    <div class="block-content block-content-full bg-primary">
                        <div class="h1 font-w700 push-10">R$ 699,00</div>
                        <div class="h5 font-w300 text-white-op">por mês</div>
                    </div>
                    <div class="block-content">
                        <table class="table table-borderless table-condensed">
                            <tbody>
                                <tr>
                                    <td><strong>Login exclusivo:</strong> Sim</td>
                                </tr>
                                <tr>
                                    <td><strong>Clientes potenciais:</strong> 500</td>
                                </tr>
                                <tr>
                                    <td><strong>Carros na Newsletter Semanal:</strong> 5</td>
                                </tr>
                                <tr>
                                    <td><strong>Sessões de fotos de 5 Carros:</strong> 5</td>
                                </tr>
                                <tr>
                                    <td><strong>Vídeo Mensal:</strong> 1</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="block-content block-content-mini block-content-full bg-gray-lighter">
                        @if (Model.ProviderPlan != Domain.Enum.ProviderPlan.Pro)
                        {
                            <a class="btn btn-lg btn-primary ina-pagseguro-subscription-button"
                                  data-description="Plano Avancado"
                                   data-price="699.0"
                                   data-success-callback="pagSeguroSuccess"
                                   data-error-callback="pagSeguroErro">Assinar</a>
                        }
                        else
                        {
                            <a href="@Url.Action("BuyCredits", "Panel", new { area = "Dashboard" })" class="btn btn-lg btn-success">Comprar créditos adicionais</a>
                        }
                    </div>
                </div>
                <!-- END Startup Plan -->
            </div>
        </div>
    </div>
</div>
@section scripts{
    
    <script>
        function pagSeguroSuccess() {
            window.location = '@Url.Action("PaymentSuccess", "Panel", new { area = "Dashboard" })';
        }

        function pagSeguroErro() {
            alert('Não foi possível realizar o pagamento. Tente novamente!');
        }
    </script>
}