﻿@model Web.Models.MensagensViewModel

@{
    ViewBag.Title = "Nova Mensagem";

}
<div class="content bg-gray-lighter">
    <div class="row items-push">
        <div class="col-sm-7"><h1 class="page-heading">Nova Mensagem</h1></div>
        <div class="col-sm-5 text-right hidden-xs">
            <ol class="breadcrumb push-10-t">
                <li><a class="link-effect" href="@Url.Action("Index", "Home")">Home</a></li>
                <li>Nova Mensagem</li>
            </ol>
        </div>
    </div>
</div>
<div class="content">
    <div class="block">
        <div class="block-content">
            <div>
                <div class="">
                    <div class="push-30-t push-20 animated fadeIn">
                        @using (Html.BeginForm("Create", "Mensagens", FormMethod.Post, new { @enctype = "multipart/form-data", @class = "form-horizontal", @id = "form" }))
                        {
                            @Html.AntiForgeryToken()

                            @Html.HiddenFor(model => Model.IdForum)

                            <div class="form-horizontal">
                                <div class="text-center">
                                    <h4>Nova Mensagem</h4>
                                </div>
                                <hr />

                                <div class="form-group">
                                    <div class="col-xs-12">
                                        <div class="form-material form-material-success">
                                            @Html.TextAreaFor(model => model.Mensagem, new { @class = "form-control", @placeholder = "Nome do Fórum", @id = "textFullName" })
                                            @Html.LabelFor(model => model.Mensagem)
                                            @Html.ValidationMessageFor(m => m.Mensagem, null, new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-xs-12">
                                        <div class="form-material form-material-success">

                                            @Html.LabelFor(model => model.Anexo)
                                            <input type="file" id="inputAttachment" name="uploadFile" multiple="" onchange="readURL(this);" class="form-control floating-label">
                                            @Html.ValidationMessageFor(model => model.Anexo, "", new { @class = "text-danger", @id = "errorAttachments" })

                                            @*@Html.TextBoxFor(model => model.Anexo, new { @class = "form-control", @placeholder = "Curso de Referência", @id = "textFullName" })
                                            @Html.LabelFor(model => model.Anexo)
                                            @Html.ValidationMessageFor(m => m.Anexo, null, new { @class = "text-danger" })*@
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-10">
                                        <input type="submit" value="Create" class="btn btn-default" />
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>
		function readURL(input) {
			if (input.files && input.files[0]) {
				var reader = new FileReader();
				reader.readAsDataURL(input.files[0]);
				reader.onload = function (e) {
					$('#inputAttachment').attr('src', e.target.result);
				};
			}
		}
    </script>
}
