﻿@model IEnumerable<Web.Models.MensagensViewModel>
@{
    ViewBag.Title = "Mensagens do Forum";

}
<div class="content bg-gray-lighter">
    <div class="row items-push">
        <div class="col-sm-7"><h1 class="page-heading">Mensagens do Forum</h1></div>
        <div class="col-sm-5 text-right hidden-xs">
            <ol class="breadcrumb push-10-t">
                <li><a class="link-effect" href="@Url.Action("Index", "Home")">Home</a></li>
                <li>Mensagens do Forum</li>
            </ol>
        </div>
    </div>
</div>
<div class="content">
    <div class="block">
        <div class="block-content">
            <p>
                 <a class="btn btn-sm btn-success" href="@Url.Action("Create", "Mensagens", new { id = ViewBag.IdForum })" data-original-title="Enviar Mensagem">Enviar Mensagem</a>
            </p>
            @if (Model != null)
            {
                foreach (var item in Model)
                {
                    <div>
                        <table class="table table-bordered table-striped js-dataTable-full">
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.CreateDate)</td>
                                <td>@Html.DisplayFor(modelItem => item.Mensagem)</td>    
                                <td>@Html.DisplayFor(modelItem => item.AlunoCriador.FullName)</td>
                            </tr>
                            @if (@item.Anexo != null)
                            {
                                <tr>
                                    <td>Anexo:</td>
                                    <td colspan="2">
                                        <a href="https://studyplace.blob.core.windows.net/uploads/@Html.DisplayFor(modelItem => item.Anexo)">Download</a>
                                    </td>
                                </tr>
                            }
                        </table>
                    </div>
                }
            }
            else
            {
                <p>
                    <h4>Não existe mensagens.</h4>
                </p>
            }
        </div>
    </div>
</div>

