﻿@model ProviderLeadViewModel


<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Fechar</span></button>
            <h4 class="modal-title">Lead @Model.Lead.Product.Description
            </h4>
        </div>
        <div class="modal-body">
            @if (Model.Lead != null)
            {
                <table cellspacing="2">
                    <tr>
                        <td class="leadDetailTitle">Nome:</td>
                        <td>@Html.DisplayFor(model => model.Lead.FullName)</td>
                    </tr>
                    <tr>
                        <td class="leadDetailTitle">E-mail:</td>
                        <td>@Html.DisplayFor(model => model.Lead.Email)</td>
                    </tr>
                    
                    <tr>
                        <td class="leadDetailTitle">Cidade:</td>
                        <td>@Html.DisplayFor(model => model.Lead.City)</td>
                    </tr>
                    <tr>
                        <td class="leadDetailTitle">Estado:</td>
                        <td>@Html.DisplayFor(model => model.Lead.State)</td>
                    </tr>
                    <tr>
                        <td class="leadDetailTitle">Telefone celular:</td>
                        <td>@Html.DisplayFor(model => model.Lead.MobilePhone)</td>
                    </tr>
                    <tr>
                        <td class="leadDetailTitle">Telefone fixo:</td>
                        <td>@Html.DisplayFor(model => model.Lead.PhoneNumber)</td>
                    </tr>
                </table>
            }
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
        </div>
    </div>
</div>
