﻿@model Web.Models.GraduatedInViewModel

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Fechar</span></button>
            <h4 class="modal-title">Formação</h4>
        </div>
        <div class="modal-body">
            @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { @class = "form-horizontal" }))
            {
                @Html.AntiForgeryToken()

                <div class="form-slider">
                    <div class="form-group">
                        <div class="col-xs-12">
                            <div class="form-material form-material-primary">
                                @Html.TextBoxFor(model => model.EducationalInstitution, new { @class = "form-control", @placeholder = "Instituição de Ensino", @id = "modalGraduatedInEducationalInstitution" })
                                @Html.LabelFor(model => model.EducationalInstitution, new { @id = "lbGraduatedInEducationalInstitution" })
                                @Html.ValidationMessageFor(m => m.EducationalInstitution, null, new { @class = "text-danger", @id = "valGraduatedInEducationalInstitution" })
                            </div>
                        </div>
                    </div>

									<div class="form-group">
										<div class="col-xs-12">
											<div class="form-material form-material-primary">
												@Html.DropDownListFor(model => model.Title, ViewBag.Titles as SelectList, "Selecione", new { @class = "form-control selectpicker push-10-t", @title = "Selecione", @id = "modalGraduatedInTitle" })
												@Html.LabelFor(model => model.Title, new { @id = "lbGraduatedInTitle" })
												@Html.ValidationMessageFor(m => m.Title, null, new { @class = "text-danger", @id = "valGraduatedInTitle" })
											</div>
										</div>
									</div>

                    <div class="form-group">
                        <div class="col-xs-12">
                            <div class="form-material form-material-primary">
																<div id="modalGraduatedInCourseField">
																	@Html.DropDownListFor(model => model.Course, ViewBag.Courses as SelectList, "Selecione", new { @class = "form-control selectpicker search", id = "modalGraduatedInCourse" })																	
																</div>
																
																@Html.TextBoxFor(model => model.OtherCourse, new { @class = "form-control", @placeholder = "Digite o nome do seu curso", @id = "modalGraduatedInOtherCourse" })

                                @Html.LabelFor(model => model.Course, new { @id = "lbGraduatedInCourse" })
                                @Html.ValidationMessageFor(m => m.Course, null, new { @class = "text-danger", @id = "valGraduatedInCourse" })
                            </div>
                        </div>
                    </div>                   

                    <div class="form-group">
                        <div class="col-sm-4">
                            <div class="form-material form-material-primary">
                                @Html.TextBoxFor(model => model.ConclusionYear, new { @class = "form-control", @placeholder = "Ano de Conclusão", @id = "modalGraduatedInConclusionYear" })
                                @Html.LabelFor(model => model.ConclusionYear, new { @id = "lbGraduatedInConclusionYear" })
                            </div>
                        </div>
                        <div class="col-xs-12">
                            @Html.ValidationMessageFor(m => m.ConclusionYear, null, new { @class = "text-danger", @id = "valGraduatedInConclusionYear" })
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
            <button type="button" id="modalProfessionalExperience" onclick="addRowTableGraduated();" class="btn btn-primary">Adicionar</button>
        </div>
    </div>
</div>

<script>	
    function validation(obj) {
        var msgerro = "";
        if ($(obj).val() == '') {
        	msgerro = 'O campo ' + $(obj.replace("modal", "lb")).text() + ' é obrigatório.';
	
        	if (obj == '#modalGraduatedInCourse') {
        		if ($('#modalGraduatedInOtherCourse').val() != '') {
        			msgerro = '';
        		}
        	}           
        }

        $(obj.replace("modal", "val")).text(msgerro);
        if (msgerro != "")
            return false;
        else true;
    }

    function returnCourse() {
    	var text = "";
    	if ($('#modalGraduatedInOtherCourse').is(":visible")) {
    		if ($('#modalGraduatedInOtherCourse').val() != undefined || $('#modalGraduatedInOtherCourse').val() != '') {
    			text = $('#modalGraduatedInOtherCourse').val();
    		}
    	}

    	if ($('#modalGraduatedInCourse').is(":visible")) {
    		if ($('#modalGraduatedInCourse option:selected').val() != '' || $('#modalGraduatedInCourse option:selected').val() != undefined) {
    			text = $('#modalGraduatedInCourse option:selected').val();
    		}
    	}

    	return text;

    }

    function addRowTableGraduated()
    {
        var msgerro = false;
        var name = '#modalGraduatedIn';
        var arrGraduatedIn = [{
            EducationalInstitution: $(name + 'EducationalInstitution').val(),
            Course: returnCourse(),
            Title: $(name + 'Title').val(),
            ConclusionYear: $(name + 'ConclusionYear').val()
        }];

        var obj = Object.keys(arrGraduatedIn[0]);
        for (var i = 0; i < obj.length; i++) {
            if (validation(name + obj[i]) == false)
                msgerro = true;
        }
        if (msgerro == true)
            return false;
        else addRowTableGraduatedIn(arrGraduatedIn);
    }

    $(function () {
    	$('#modalGraduatedInTitle').on('change', function () {
    		var optionSelected = $(this).val();
				
    		if (optionSelected !== 'Graduação' && optionSelected != '' && optionSelected != undefined) {
    			$('#modalGraduatedInOtherCourse').show();
    			$('#modalGraduatedInCourseField').hide();
    		} else {
    			$('#modalGraduatedInOtherCourse').hide();
    			$('#modalGraduatedInCourseField').show();
    		}
    	});
    });
</script>