﻿@model Web.Models.HistoricalOfServiceViewModel
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Fechar</span></button>
            <h4 class="modal-title">Histórico de Serviços</h4>
        </div>
        <div class="modal-body">
            @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { @class = "form-horizontal" }))
            {
                @Html.AntiForgeryToken()
                <div class="form-slider">
                    <div class="form-group">
                        <div class="col-xs-12">
                            <div class="form-material form-material-primary">
                                @Html.TextBoxFor(model => model.Company, new { @class = "form-control", @placeholder = "Empresa", @id = "modalHistoricalOfServiceCompany" })
                                @Html.LabelFor(model => model.Company, new { @id = "lbHistoricalOfServiceCompany" })
                                @Html.ValidationMessageFor(m => m.Company, null, new { @class = "text-danger", @id = "valHistoricalOfServiceCompany" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <div class="form-material form-material-primary">
                            @Html.TextBoxFor(model => model.Office, new { @class = "form-control", @placeholder = "Cargo / Função", @id = "modalHistoricalOfServiceOffice" })
                            @Html.LabelFor(model => model.Office, new { @id = "lbHistoricalOfServiceOffice" })
                            @Html.ValidationMessageFor(m => m.Office, null, new { @class = "text-danger", @id = "valHistoricalOfServiceOffice" })
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <div class="form-material form-material-primary">
                            @Html.Label("Período: *", new { @class = "push-07-t" })
                            <div class="row">
                                <div class="col-md-5">
                                    @Html.TextBoxFor(model => model.PeriodStartDate, new { @class = "form-control modalHistoricalOfServicePeriodDate  datepicker", @placeholder = "", @type = "text", @id = "modalHistoricalOfServicePeriodStartDate" })
                                </div>
                                <div class="col-xs-1">
                                    <br />  @Html.Label("Até:", new { @class = "push-07-t" })
                                </div>
                                <div class="col-md-5">
                                    @Html.TextBoxFor(model => model.PeriodEndDate, new { @class = "form-control modalHistoricalOfServicePeriodDate datepicker", @placeholder = "", @type = "text", @id = "modalHistoricalOfServicePeriodEndDate" })
                                </div>
                            </div>
                            <div class="col-xs-12">
                                @Html.LabelFor(model => model.PeriodStartDate, new { style = "display: none;", @id = "lbHistoricalOfServicePeriodStartDate" })
                                @Html.ValidationMessageFor(m => m.PeriodStartDate, null, new { @class = "text-danger", @id = "valHistoricalOfServicePeriodStartDate" })
                            </div>
                            <div class="col-xs-12">
                                @Html.LabelFor(model => model.PeriodEndDate, new { style = "display: none;", @id = "lbHistoricalOfServicePeriodEndDate" })
                                @Html.ValidationMessageFor(m => m.PeriodEndDate, null, new { @class = "text-danger", @id = "valHistoricalOfServicePeriodEndDate" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        @Html.LabelFor(model => model.SummaryOfActivities, new { @id = "lbHistoricalOfServiceSummaryOfActivities" })
                        <div class="">
                            @Html.TextAreaFor(model => model.SummaryOfActivities, new { @class = "form-control", @placeholder = "Atividades Desempenhadas", @id = "modalHistoricalOfServiceSummaryOfActivities", @rows = 5 })
                            @Html.ValidationMessageFor(m => m.SummaryOfActivities, null, new { @class = "text-danger", @id = "valHistoricalOfServiceSummaryOfActivities" })
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
            <button type="button" id="modalHistoricalOfServices" onclick="addRowHistoricalOfServices();" class="btn btn-primary">Adicionar</button>
        </div>
    </div>
</div>

<script>
    function validation(obj) {
        var msgerro = "";
        if ($(obj).val() == '') {
            msgerro = 'O campo ' + $(obj.replace("modal", "lb")).text() + ' é obrigatório.';
        }
        $(obj.replace("modal", "val")).text(msgerro);
        if (msgerro != "")
            return false;
        else true;
    }

    function addRowHistoricalOfServices() {
        var msgerro = false;
        var name = '#modalHistoricalOfService';
        var arrHistoricalOfServices  = [{
            Company: $(name + 'Company').val(),
            Office: $(name + 'Office').val(),
            PeriodStartDate: $(name + 'PeriodStartDate').val(),
            PeriodEndDate: $(name + 'PeriodEndDate').val(),
            SummaryOfActivities: $(name + 'SummaryOfActivities').val()
        }];    
        var obj = Object.keys(arrHistoricalOfServices[0]);
        for (var i = 0; i < obj.length; i++) {
            if (validation(name + obj[i]) == false)
                msgerro = true;
        }
        if (msgerro == true)
            return false;
        else addRowTableHistoricalOfServices(arrHistoricalOfServices);
    }
</script>
