﻿@model Web.Models.ProfessionalExperienceViewModel
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Fechar</span></button>
            <h4 class="modal-title">Experiência Profissional</h4>
        </div>
        <div class="modal-body">
            @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { @class = "form-horizontal" }))
            {
                @Html.AntiForgeryToken()

                <div class="form-slider">
                    <div class="form-group">
                        <div class="col-xs-12">
                            <div class="form-material form-material-primary">
                                @Html.LabelFor(model => model.ActivityAreaDescription, new { @id = "lbProfessionalExperienceActivityAreaDescription" })
                                @Html.DropDownListFor(model => model.ActivityAreaDescription, ViewBag.ActivityAreas as SelectList, "Selecione", new { @class = "form-control selectpicker push-10-t", @title = "Selecione", @id = "modalProfessionalExperienceActivityAreaDescription" })
                                @Html.ValidationMessageFor(m => m.ActivityAreaDescription, null, new { @class = "text-danger", @id = "valProfessionalExperienceActivityAreaDescription" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <div class="form-material form-material-primary">
                                @Html.TextBoxFor(model => model.ProjectName, new { @class = "form-control", @placeholder = "Nome do Projeto", @id = "modalProfessionalExperienceProjectName" })
                                @Html.LabelFor(model => model.ProjectName, new { @id = "lbProfessionalExperienceProjectName" })
                                @Html.ValidationMessageFor(m => m.ProjectName, null, new { @class = "text-danger", @id = "valProfessionalExperienceProjectName" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <div class="form-material form-material-primary">
                                @Html.TextBoxFor(model => model.Client, new { @class = "form-control", @placeholder = "Cargo / Função", @id = "modalProfessionalExperienceClient" })
                                @Html.LabelFor(model => model.Client, new { @id = "lbProfessionalExperienceClient" })
                                @Html.ValidationMessageFor(m => m.Client, null, new { @class = "text-danger", @id = "valProfessionalExperienceClient" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <div class="form-material form-material-primary">
                                <label for="frontend-contact-msg">Especialidade:</label>
                                @Html.DropDownListFor(model => model.ProfessionalSpecialtyId, ViewBag.ProfessionalSpecialties as SelectList, new Dictionary<string, object>() { { "class", "form-control selectpicker search" }, { "title", "Selecione" }, { "id", "modalProfessionalExperienceProfessionalSpecialties" } })
                                @Html.ValidationMessageFor(model => model.ProfessionalSpecialtyId, null, new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <div class="form-material form-material-primary">
                                @Html.Label("Período de Execussão: *", new { @class = "push-07-t" })
                                <div class="row">
                                    <div class="col-md-5">
                                        @Html.TextBoxFor(model => model.StartExecutionPeriod, new { @class = "form-control  modalProfessionalExperienceExecutionPeriod datepicker", @placeholder = "", @type = "text", @id = "modalProfessionalExperienceStartExecutionPeriod", @readonly = "true" })
                                    </div>
                                    <div class="col-xs-1">
                                        <br />
                                        @Html.Label("Até:", new { @class = "push-04-t" })
                                    </div>
                                    <div class="col-md-5">
                                        @Html.TextBoxFor(model => model.EndExecutionPeriod, new { @class = "form-control  modalProfessionalExperienceExecutionPeriod datepicker", @placeholder = "", @type = "text", @id = "modalProfessionalExperienceEndExecutionPeriod", @readonly = "true" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12">
                                @Html.LabelFor(model => model.StartExecutionPeriod , new { style = "display: none;", @id = "lbProfessionalExperienceStartExecutionPeriod" })
                                @Html.ValidationMessageFor(m => m.StartExecutionPeriod, null, new { @class = "text-danger", @id = "valProfessionalExperienceStartExecutionPeriod" })
                            </div>
                            <div class="col-xs-12">
                                @Html.LabelFor(model => model.EndExecutionPeriod , new { style = "display: none;", @id = "lbProfessionalExperienceEndExecutionPeriod" })
                                @Html.ValidationMessageFor(m => m.EndExecutionPeriod, null, new { @class = "text-danger", @id = "valProfessionalExperienceEndExecutionPeriod" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <div class="form-material form-material-primary">
                                @Html.TextAreaFor(model => model.PerformedActivities, new { @class = "form-control", @placeholder = "Atividades Desempenhadas", @id = "modalProfessionalExperiencePerformedActivities", @rows = 5 })
                                @Html.LabelFor(model => model.PerformedActivities, new { @id = "lbProfessionalExperiencePerformedActivities" })
                                @Html.ValidationMessageFor(m => m.PerformedActivities, null, new { @class = "text-danger", @id = "valProfessionalExperiencePerformedActivities" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <div class="form-material form-material-primary">
                                <label>Acervo Técnico: *</label>
                                <div class="row">
                                    <div class="col-md-5">
                                        <input type="radio" class="radio radio-inline" name="acervo_tecnico" value="sim" /> Sim
                                    </div>
                                    <div class="col-md-5">
                                        <input type="radio" class="radio radio-inline" name="acervo_tecnico" value="nao" /> Não
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-xs-12">
                            <div class="form-material form-material-primary">
                                <label>Possui Atestado Técnico:</label>
                                <div class="row">
                                    <div class="col-md-5">
                                        <input type="radio" class="radio radio-inline" name="HasTechnicalCertificate" value="true" /> Sim
                                    </div>
                                    <div class="col-md-5">
                                        <input type="radio" class="radio radio-inline" name="HasTechnicalCertificate" value="false" /> Não
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            }
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
            <button type="button" id="modalProfessionalExperience" onclick="addRowProfessionalExperiences();" class="btn btn-primary">Adicionar</button>
        </div>
    </div>
</div>

<script>

    function validation(obj) {
        var msgerro = "";
        if ($(obj).val() == '') {
            msgerro = 'O campo ' + $(obj.replace("modal", "lb")).text() + ' é obrigatório.';
        }
        $(obj.replace("modal", "val")).text(msgerro);
        if (msgerro != "")
            return false;
        else true;
    }
    function addRowProfessionalExperiences() {
        var msgerro = false;
        var name = '#modalProfessionalExperience';
        var arrProfessionalExperience = [{
            ActivityAreaId: $(name + 'ActivityAreaDescription').val(),
            ActivityAreaDescription: $(name + 'ActivityAreaDescription :selected').text(),
            ProjectName: $(name +  'ProjectName').val(),
            Client: $(name + 'Client').val(),
            StartExecutionPeriod: $(name + 'StartExecutionPeriod').val(),
            EndExecutionPeriod: $(name + 'EndExecutionPeriod').val(),
            PerformedActivities: $(name + 'PerformedActivities').val(),
            ProfessionalSpecialtyId: $(name + 'ProfessionalSpecialties').val(),
            ProfessionalSpecialtyDescription: $(name + 'ProfessionalSpecialties :selected').text(),
            HasTechnicalCertificate: $('input[name=HasTechnicalCertificate]:checked').val()
        }];
        var obj = Object.keys(arrProfessionalExperience[0]);
        for (var i = 0; i < obj.length; i++) {
            if (validation(name + obj[i]) == false)
                msgerro = true;
        }         
        if (msgerro == true)
            return false;
        else addRowTableProfessionalExperiences(arrProfessionalExperience);
    }
</script>

