﻿@using System.Configuration;
@using Web.Extensions;

<!doctype html>
<html lang="pt-br">
<head>
    <title>@ViewBag.Title - StudyPlace</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    @Styles.Render("~/Content/css")
		@Styles.Render("~/Content/less-front")
		@Styles.Render("~/Content/themes/base")
		
    <link href="//cdn.datatables.net/1.10.10/css/jquery.dataTables.min.css"  rel="stylesheet" type="text/css" />
    <link href="~/Content/css/jquery.dataTables.fix.css" rel="stylesheet" />
    <link href="~/Scripts/uploadfive/uploadifive.css" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" href="~/favicon.ico">
</head>
<body>
    <div id="page-container" class="sidebar-l sidebar-o side-scroll header-navbar-fixed">
        <nav id="sidebar">
            <div id="sidebar-scroll">
                <div class="sidebar-content">
                    <div class="side-header side-content bg-white-op">
                        <a href="/" class="navbar-brand">
                            @*<img src="~/Content/img/logo_white.png" />*@
													<h1 style="color: #FFF;">StudyPlace</h1>
                        </a>
                    </div>
                    <div class="side-content">
                        <ul class="nav-main">
                            @if (User.IsInRole("Admin"))
                            {
                                <li><a class="@Html.IsActiveControllerAndAction("Index", "Admin")" href="@Url.Action("Index", "Admin", new { area = "Dashboard" })">Home</a></li>
                                <li><a class="@Html.IsActiveControllerAndAction("Index", "Aluno")" href="@Url.Action("Index", "Aluno", new { area = "Dashboard" })">Alunos</a></li>
                                <li><a class="@Html.IsActiveControllerAndAction("Index", "Professor")" href="@Url.Action("Index", "Professor", new { area = "Dashboard" })">Professores</a></li>
                                <li><a class="@Html.IsActiveControllerAndAction("Index", "Forum")" href="@Url.Action("Index", "Forum", new { area = "Dashboard" })">Fóruns</a></li>
                            }
                            else 
                            {
                                <li><a class="@Html.IsActiveControllerAndAction("IndexCompany", "Panel")" href="@Url.Action("IndexCompany", "Panel", new { area = "Dashboard" })">Home</a></li>
                                <li><a class="@Html.IsActiveControllerAndAction("Index", "Professor")" href="@Url.Action("Index", "Professor", new { area = "Dashboard" })">Professores</a></li>
                                <li><a class="@Html.IsActiveControllerAndAction("Index", "Aluno")" href="@Url.Action("Index", "Aluno", new { area = "Dashboard" })">Alunos</a></li>
                                <li><a class="@Html.IsActiveControllerAndAction("Index", "Forum")" href="@Url.Action("Index", "Forum", new { area = "Dashboard" })">Acessar Fóruns</a></li>
                                <li><a class="@Html.IsActiveControllerAndAction("Sair", "Panel")" href="@Url.Action("LogOff", "Auth", new { area = "" })">Sair</a></li>
                            }
                            
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
        <header id="header-navbar" class="content-mini content-mini-full" style="min-height: 68px;">
            <ul class="nav-header pull-right">
                <li>
                    @Html.Partial("~/Views/Shared/_AccountInfo.cshtml")
                </li>
            </ul>
        </header>
        <main id="main-container">
            @RenderBody()
        </main>
        <footer id="page-footer" class="bg-white">
            <div class="content content-boxed">
                <div class="font-s12 push-20 clearfix">
                    <hr class="remove-margin-t">
                    <div class="pull-left">
                        <a class="font-w600 text-uppercase" href="http://www.studyplace.com.br" target="_blank">StudyPlace</a> &copy; 2016</span>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    
    <div id="modal-content" class="modal fade" tabindex="-1" role="dialog">
    </div>
    
    @Scripts.Render("~/bundles/app")
    @Scripts.Render("~/bundles/ina")
    @RenderSection("scripts", required: false)
    
    <script src="~/Scripts/uploadfive/jquery.uploadifive.js"></script>
    
    <script src="//cdn.datatables.net/1.10.10/js/jquery.dataTables.min.js"></script>

    <script type="text/javascript">
        $(function () {
            $('#file_upload').uploadifive({
                'buttonText': 'Upload foto',
                'buttonClass': 'btn-editar-perfil',
                'multi': false,
                'fileObjName': 'MyFile',
                'uploadScript': '@Url.Action("UploadFile","Providers")',
                'cancelImg': '/Script/uploadify/uploadify-cancel.png',
                'fileType': 'image/jpeg',
                'fileSizeLimit': '1MB',
                'auto': true,
                'width': 130,
                'onUploadComplete': function (file, data) {
                    var d = new Date();
                    $('#img-perfil').attr("src", "/Uploads/" + "@ViewBag.UserId" + ".jpg?" + d.getTime());
                    $('#file_upload').uploadifive('clearQueue');
                }
            });        	
        });
    </script>
</body>
</html>