﻿@model Web.Models.WorkerViewModel


<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Fechar</span></button>
			<h4 class="modal-title">Salvar Candidato</h4>
		</div>
		<div class="modal-body">
			<table cellspacing="2">
				<tr>
					<td class="leadDetailTitle">@Html.DisplayNameFor(model => model.Address.Street): </td>
					<td>@Html.DisplayFor(model => model.Address.Street), @Html.DisplayFor(model => model.Address.City), @Html.DisplayFor(model => model.Address.State)</td>
				</tr>
				<tr>
					<td class="leadDetailTitle">@Html.DisplayNameFor(model => model.GraduatedIn.FirstOrDefault().Course): </td>
					<td>@Html.DisplayFor(model => model.GraduatedIn.FirstOrDefault().Course)</td>
				</tr>
				<tr>
					<td class="leadDetailTitle">Áreas de Atividade: </td>
                    @if (Model.ProfessionalExperiences.Count > 1)
                    {
                        <td>@Model.ProfessionalExperiences.FirstOrDefault().ActivityArea.Description + ...</td>
                    }
                    else
                    {
                        <td>@Model.ProfessionalExperiences.FirstOrDefault().ActivityArea.Description</td>
                    }
				</tr>
			</table>
		</div>
		<div class="modal-footer">
			<button id="btnToSave" type="button" class="btn btn-success" data-dismiss="modal"
							onclick="location.href='@Url.Action("ToSave", "Candidates", new { id = Model.Id })'">
				Salvar
			</button>
			<button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
		</div>
	</div>
</div>