﻿@model IEnumerable<Web.Areas.Dashboard.Models.SaveCandidateViewModel>

@{
    ViewBag.Title = "Candidatos Salvos";
}

<div class="content bg-gray-lighter">
    <div class="row items-push">
        <div class="col-sm-7">
            <h1 class="page-heading">Candidatos Salvos <small>Candidatos que eu salvei</small></h1>
        </div>
        <div class="col-sm-5 text-right hidden-xs">
            <ol class="breadcrumb push-10-t">
                <li><a class="link-effect" href="@Url.Action("IndexCompany", "Panel")">Home</a></li>
                <li>Candidatos Salvos</li>
            </ol>
        </div>
    </div>
</div>
<div class="content">
    <div class="block">
        <div class="block-content">
            <table class="table js-dataTable-full">
                <thead>
                    <tr>
                        <th>Residência</th>
                        <th>Formação</th>
                        <th>Área de Atuação</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null)
                    {
                        foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(model => item.Worker.Address.Street),
                                    @Html.DisplayFor(model => item.Worker.Address.City),
                                    @Html.DisplayFor(model => item.Worker.Address.State)
                                </td>
                                @if (item.Worker.GraduatedIn.Count > 1)
                                {
                                    <td>@item.Worker.GraduatedIn.FirstOrDefault().Course + ...</td>
                                }
                                else
                                {
                                    <td>@item.Worker.GraduatedIn.FirstOrDefault().Course</td>
                                }
                                @if (item.Worker.ProfessionalExperiences.Count > 1)
                                {
                                    <td>@item.Worker.ProfessionalExperiences.FirstOrDefault().ActivityArea.Description + ...</td>
                                }
                                else
                                {
                                    <td>@item.Worker.ProfessionalExperiences.FirstOrDefault().ActivityArea.Description</td>
                                }
                                <td width="15%" style="text-align:center;">
                                    <div class="btn-group">
                                        <a class="btn btn-xs btn-default modalLeadDetailsWorker" data-id="@item.Worker.Id" data-toggle="tooltip" title="" data-original-title="Ver detalhes do lead"><i class="si si-magnifier"></i></a>
                                        <a class="btn btn-xs btn-success modalLeadPrePurchaseWorker" data-id="@item.Worker.Id" data-toggle="tooltip" title="" data-original-title="Abrir contato">Comprar Lead</a>
                                    </div>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
    <script>
		$(function () {
			$(".modalLeadDetailsWorker").click(function () {
				var id = $(this).attr("data-id");
				$("#modal-content").load("@Url.Action("DetailsWorker", "Leads")/" + id, function () {
					$("#modal-content").modal();
				})
			});

			$(".modalLeadPrePurchaseWorker").click(function () {
				var id = $(this).attr("data-id");
				$("#modal-content").load("@Url.Action("PrePurchaseWorker", "Leads")/" + id, function () {
					$("#modal-content").modal();
				})
			});

			$('.table').dataTable({
				"searching": false,
				"info": false,
				"paging": true,
				"bLengthChange": false,
				"ordering": false,
				"pageLength": 10,
				"language": {
					"url": "//cdn.datatables.net/plug-ins/1.10.10/i18n/Portuguese-Brasil.json"
				}
			});
		});
    </script>
}