﻿@model Web.Models.PortfolioViewModel
   
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Fechar</span></button>
            <h4 class="modal-title">Portfólio</h4>
        </div>
        <div class="modal-body">
           
            @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { @class = "form-horizontal" }))
            {
                @Html.AntiForgeryToken()

                <div class="form-slider">
                    <div class="form-group">
                        <div class="col-xs-12">
                            <div class="form-material form-material-primary">
                                <label>Área de Atividade: *</label>
                                @Html.DropDownListFor(model => model.ActivityArea, ViewBag.Area as SelectList, new { @class = "form-control bootstrap-select push-10-t", @title = "Selecione", @id = "areaAtuacaoPortifolio" })
                                @Html.ValidationMessageFor(model => model.ActivityArea, null, new { @class = "text-danger", @id = "ValArea" })

                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <div class="form-material form-material-primary">
                                <label>Nome do Projeto: *</label>
                                @Html.TextBoxFor(model => model.ProjectName, new { @placeholder = "Nome do Projeto", @class = "form-control", @id = "nomeProjetoPortifolio" })
                                @Html.ValidationMessageFor(model => model.ProjectName, null, new { @class = "text-danger", @id = "ValProjeto" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <div class="form-material form-material-primary">
                                <label>Cliente: *</label>
                                @Html.TextBoxFor(model => model.Client, new { @placeholder = "Cliente", @class = "form-control", @id = "clientePortifolio" })
                                @Html.ValidationMessageFor(model => model.Client, null, new { @class = "text-danger", @id = "ValCliente" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <div class="form-material form-material-primary">
                                <label>Localidade:</label>
                                @Html.TextBoxFor(model => model.Locale, new { @placeholder = "País, Estado, Cidade", @class = "form-control", @id = "localidade" })
                                @Html.ValidationMessageFor(model => model.Locale, null, new { @class = "text-danger", @id = "ValLocalidade" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <div class="form-material form-material-primary">
                                <label>Valor Aproximado:</label>
                                @Html.TextBoxFor(model => model.RangeValue, new { @placeholder = "R$0,00", @class = "form-control ina-money-mask", @id = "valorAproximado" })
                                @Html.ValidationMessageFor(model => model.RangeValue, null, new { @class = "text-danger", @id = "ValValorAproximado" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <div class="form-material form-material-primary">
                                <label>Período de Execução: *</label>
                                <div class="row">
                                    <div class="col-md-5">@Html.TextBoxFor(model => model.EndExecutionPeriod, new { @placeholder = "Período de Execução", @class = "form-control  datepicker", @type = "text", @id = "dataInicioPortifolio", @readonly = "true" })</div>
                                    <div class="col-xs-1"><br/>@Html.Label("Até:", new { @class= "push-07-t" } )</div>
                                    <div class="col-md-5">@Html.TextBoxFor(model => model.EndExecutionPeriod, new { @placeholder = "Período de Execução", @class = "form-control", @type = "text", @id = "dataFimPortifolio", @readonly = "true" })</div>
                                </div>
                                @Html.ValidationMessageFor(model => model.EndExecutionPeriod, null, new { @class = "text-danger", @id = "ValPeriodo" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                                <label>Descrição do Trabalho e Atividades Desempenhadas: *</label>
                                @Html.TextAreaFor(model => model.DescriptionAcitviesAndWork, new { @placeholder = "Descrição do Trabalho e Atividades Desempenhadas", @class = "form-control", @id = "descricaoPortifolio", @rows = 5 })
                                @Html.ValidationMessageFor(model => model.DescriptionAcitviesAndWork, null, new { @class = "text-danger", @id = "ValDescricao" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
													<div class="form-material form-material-primary">
														<label>Responsável pelas Informações: *</label>
														@Html.TextBoxFor(model => model.ResponsibleForInformation, new { @placeholder = "Responsável pelas Informações", @class = "form-control", @id = "responsavelPortifolio"})
														@Html.ValidationMessageFor(model => model.ResponsibleForInformation, null, new { @class = "text-danger", @id = "ValResponsavel" })
													</div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-xs-12">
                            <div class="form-material form-material-primary">
                                <label>Possui Atestado Técnico:</label>
                                <div class="row">
                                    <div class="col-md-5">
                                        <input type="radio" class="radio radio-inline" name="atestadoTecnico" value="true" /> Sim
                                    </div>
                                    <div class="col-md-5">
                                        <input type="radio" class="radio radio-inline" name="atestadoTecnico" value="false" /> Não
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
                    }
                </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
            <button type="button" onclick="if (validationPortfolio()) { addRowTablePortfolio(); }" class="btn btn-primary">Adicionar</button>
        </div>
    </div>
</div>