﻿@model Web.Areas.Dashboard.Models.AdminViewModel

@{
    ViewBag.Title = "Dashboard de Administrador";
}

<div class="content content-boxed">
    <!-- User Header -->
    <div class="block">
        <!-- Basic Info -->
        <div class="bg-image">
            <div class="block-content bg-primary-dark-op text-center overflow-hidden">
                <div class="push-30-t push animated fadeInDown">
										<h2 style="color: #FFF;">StudyPlace</h2>
                    @*<img src="~/Content/img/logo_white1.png" alt="Logo" />*@
                </div>
            </div>
            
        </div>
        <!-- END User Header -->
        <!-- Main Content -->
        <div class="row">
            <div class="col-lg-10 col-md-offset-1">
                <div class="block block-opt-refresh-icon6">
                    <div class="block-header">
                        <h3 class="block-title"><i class="fa fa-line-chart"></i> Alunos</h3>
                    </div>
                    <div class="block-content">
                        <div class="pull-r-l pull-t push">
                            <table class="table table-bordered table-striped js-dataTable-full">
                                <thead>
                                    <tr>
                                        <th>Nome</th>
                                        <th>Instituição</th>
                                        <th>Curso</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @*@foreach (var item in Model.Transactions)
                                    {
                                        <tr>
                                            <td>@Html.DisplayFor(model => item.Status)</td>
                                            <td>@(item.ApprovedDate.HasValue ? item.ApprovedDate.Value.ToShortDateString() : "Não Aprovado")</td>
                                            <td>R$ @item.TransactionPrice</td>
                                        </tr>
                                    }*@
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
