﻿@model IEnumerable<Web.Models.AlunoViewModel>

@{
    ViewBag.Title = "Alunos";
}

<div class="content bg-gray-lighter">
    <div class="row items-push">
        <div class="col-sm-7">
            <h1 class="page-heading">
                Alunos cadastrados
            </h1>
        </div>
        <div class="col-sm-5 text-right hidden-xs">
            <ol class="breadcrumb push-10-t">
                <li><a class="link-effect" href="@Url.Action("Index", "Admin")">Início</a></li>
                <li>Alunos cadastrados</li>
            </ol>
        </div>
    </div>
</div>
<div class="content">
    <div class="block">
        <div class="block-content">
            <table class="table table-bordered table-striped js-dataTable-full">
                <thead>
                    <tr>
                        <th>Data</th>
                        <th>Razão Social</th>
                        <th>Cnpj</th>
                        <th>Responsável</th>
                        <th>E-mail</th>
                        <th>Telefone</th>
                        <th>Plano</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null)
                    {
                        foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.CreatedDateTime.ToShortDateString()</td>
                                <td>@Html.DisplayFor(modelItem => item.CompanyName)</td>
                                <td>@Html.DisplayFor(modelItem => item.CNPJ)</td>
                                <td>@Html.DisplayFor(modelItem => item.FullName)</td>
                                <td>@Html.DisplayFor(modelItem => item.Email)</td>
                                <td>@Html.DisplayFor(modelItem => item.PhoneNumber)</td>
                                <td>@Html.DisplayFor(modelItem => item.ProviderPlan)</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

