﻿<div class="btn-group">
    <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" type="button">					
		@*@if (Session["Login"].ToString().Equals("1"))
		{
				if (Session["ImageUrl"] != null)
				{
						<img src="https://studyplace.blob.core.windows.net/uploads/@Session["ImageUrl"]" class="avatar-company" alt="Avatar" />
				}

				@Session["CompanyName"].ToString();
		}
		else*@
		
        @User.Identity.GetFullName()
		
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu dropdown-menu-right">
        @*@if (!User.IsInRole("Admin"))
        {
                <li>
                    <a tabindex="-1" href="@Url.Action("ChangePassword", "Profile", new { id="1", area = "" })">
                        <i class="si si-settings pull-right"></i>Alterar Senha
                    </a>
                </li>
        }*@
        <li>
            <a tabindex="-1" href="@Url.Action("LogOff", "Auth", new { area = "" })">
                <i class="si si-logout pull-right"></i>Sair
            </a>
        </li>
    </ul>
</div>
