﻿@using System.Configuration;
@using Web.Extensions;

<!doctype html>
<html lang="pt-br">
<head>
    <title>@ViewBag.Title - StudyPlace</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/less-front")

    <link href="//cdn.datatables.net/1.10.10/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/css/jquery.dataTables.fix.css" rel="stylesheet" />
    <link href="~/Scripts/uploadfive/uploadifive.css" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" href="~/favicon.ico">
</head>
<body>
    <div id="page-container" class="sidebar-l sidebar-o side-scroll header-navbar-fixed">
        <nav id="sidebar">
            <div id="sidebar-scroll">
                <div class="sidebar-content">
                    <div class="side-header side-content bg-white-op">
                        <a href="/" class="navbar-brand">
                            <img src="~/Content/img/Logo_Provisorio.png" />
                        </a>
                    </div>
                    <div class="side-content">
                        <ul class="nav-main">
                            @if (User.IsInRole("Admin"))
                            {
                                <li><a class="@Html.IsActiveControllerAndAction("Index", "Admin")" href="@Url.Action("Index", "Admin", new { area = "Dashboard" })">Home</a></li>
                                <li><a class="@Html.IsActiveControllerAndAction("Leads", "Admin")" href="@Url.Action("Leads", "Admin", new { area = "Dashboard" })">Leads</a></li>
                                <li><a class="@Html.IsActiveControllerAndAction("Providers", "Admin")" href="@Url.Action("Providers", "Admin", new { area = "Dashboard" })">Fornecedores</a></li>
                                <li><a class="@Html.IsActiveControllerAndAction("Sales", "Admin")" href="@Url.Action("Sales", "Admin", new { area = "Dashboard" })">Vendas</a></li>
                            }
                            else
                            {
                                <li><a class="@Html.IsActiveControllerAndAction("Index", "Panel")" href="@Url.Action("Index", "Panel", new { area = "Dashboard" })">Home</a></li>
                                <li><a class="@Html.IsActiveControllerAndAction("OpenLeads", "Panel")" href="@Url.Action("OpenLeads", "Panel", new { area = "Dashboard" })">Painel de Leads</a></li>
                                <li><a class="@Html.IsActiveControllerAndAction("MyLeads", "Panel")" href="@Url.Action("MyLeads", "Panel", new { area = "Dashboard" })">Leads comprados</a></li>
                                <li><a class="@Html.IsActiveControllerAndAction("Plans", "Panel")" href="@Url.Action("Plans", "Panel", new { area = "Dashboard" })">Planos</a></li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
        <header id="header-navbar" class="content-mini content-mini-full" style="min-height: 68px;">
            <ul class="nav-header pull-right">
                <li>
                    @Html.Partial("~/Views/Shared/_AccountInfo.cshtml")
                </li>
            </ul>
        </header>
        <main id="main-container">
            @RenderBody()
        </main>
        <footer id="page-footer" class="bg-white">
            <div class="content content-boxed">
                <div class="font-s12 push-20 clearfix">
                    <hr class="remove-margin-t">
                    <div class="pull-right">
                        <a href="http://ideianoar.com.br/?utm_source=startup&utm_medium=partner&utm_campaign=Partners" title="Lance sua startup com o Idea no Ar!” target=" _blank"><img src="http://ideianoar.com.br/ideia-no-ar-lancadora-de-startups-selo-black.png" alt="Lance sua startup com o Idea no Ar!" title="Lance sua startup com o Idea no Ar!" style="width: 177px; height: 40px; margin-top: -7px;"></a>
                    </div>

                    <div class="pull-left">
                        <a class="font-w600 text-uppercase" href="#" target="_blank">Partners</a> &copy; <span class="js-year-copy"></span>
                    </div>
                    <div class="pull-left">
                        <ul class="list-inline list-unstyled footer-social-icons">
                            <li>
                                <a href="#"><i class="fa fa-facebook-official"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-envelope"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-phone"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <div id="modal-content" class="modal fade" tabindex="-1" role="dialog">
    </div>

    @Scripts.Render("~/bundles/app")
    @Scripts.Render("~/bundles/ina")
    @RenderSection("scripts", required: false)

    <script src="~/Scripts/uploadfive/jquery.uploadifive.js"></script>

    <script src="//cdn.datatables.net/1.10.10/js/jquery.dataTables.min.js"></script>

    <script src="@ConfigurationManager.AppSettings["PagSeguroLightBoxUrl"].ToString()"></script>

    <script type="text/javascript">
        $(function () {
            $('#file_upload').uploadifive({
                'buttonText': 'Upload foto',
                'buttonClass': 'btn-editar-perfil',
                'multi': false,
                'fileObjName': 'MyFile',
                'uploadScript': '@Url.Action("UploadFile","Providers")',
                'cancelImg': '/Script/uploadify/uploadify-cancel.png',
                'fileType': 'image/jpeg',
                'fileSizeLimit': '1MB',
                'auto': true,
                'width': 130,
                'onUploadComplete': function (file, data) {
                    var d = new Date();
                    $('#img-perfil').attr("src", "/Uploads/" + "@ViewBag.UserId" + ".jpg?" + d.getTime());
                    $('#file_upload').uploadifive('clearQueue');
                }
            });
        });
    </script>
</body>
</html>