﻿<!DOCTYPE html>
<!--[if IE 9]>         <html class="ie9 no-focus"> <![endif]-->
<!--[if gt IE 9]><!-->
<html class="no-focus">
 <!--<![endif]-->
<head>
    <meta charset="utf-8">

    <title>StudyPlace</title>

    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0">

    <!-- Icons -->
    <!-- The following icons can be replaced with your own, they are used by desktop and mobile browsers -->
    <link rel="shortcut icon" href="~/favicon.ico">

    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/less-front")
    @Styles.Render("~/Content/themes/base")         
</head>
<body>
    @RenderBody()

    @Scripts.Render("~/bundles/app")
    @Scripts.Render("~/bundles/ina")
    @RenderSection("scripts", required: false)
    <!-- Page JS Code -->
    <script>
            jQuery(function() {
                // Init page helpers (Appear + CountTo plugins)
                App.initHelpers(['appear', 'appear-countTo']);
            });
    </script>
</body>
</html>