﻿<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StudyPlace</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/less-front")
    @Styles.Render("~/Content/themes/base")    
    <link rel="shortcut icon" href="~/favicon.ico">
</head>
<body>
    @RenderBody()
    @Scripts.Render("~/bundles/app")
    @Scripts.Render("~/bundles/ina")
    @RenderSection("scripts", required: false)
</body>
</html>
