﻿@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{

    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Bem vindo " + User.Identity.GetFullName() + "!", "Index", "Profile", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
        <li>@Html.ActionLink("Sair", "LogOff", "Auth")</li>
    </ul>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a href="#" data-toggle="modal" data-target=".register-user-modal" class="btn btn-link btn-login">Cadastrar</a></li>
        <li><a href="#" data-toggle="modal" data-target=".login-user-modal" class="btn btn-link btn-login">Login</a></li>
    </ul>
}
