﻿<div class="modal fade apart-residencial" id="" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Apartamento Residencial - Iluminação LED</h4>
            </div>
            <div class="modal-body">
                <div class="topo-modal">
                    <div class="row">
                        <img src="~/content/images/banner_iluminacao.jpg" alt="Banner Coletor Pluvial" class="img-responsive">
                    </div>
                </div>
                <div class="wrap-modal">
                    <div class="col-md-6 col-xs-12">
                        <div id="carousel-led-residencia" class="carousel slide" data-ride="carousel">
                            <!-- Indicators -->
                            <ol class="carousel-indicators">
                                <li data-target="#carousel-led-residencia" data-slide-to="0" class="active"></li>
                                <li data-target="#carousel-led-residencia" data-slide-to="1"></li>
                                <li data-target="#carousel-led-residencia" data-slide-to="2"></li>
                                <li data-target="#carousel-led-residencia" data-slide-to="3"></li>
                                <li data-target="#carousel-led-residencia" data-slide-to="4"></li>
                                <li data-target="#carousel-led-residencia" data-slide-to="5"></li>
                                <li data-target="#carousel-led-residencia" data-slide-to="6"></li>
                                <li data-target="#carousel-led-residencia" data-slide-to="7"></li>
                                <li data-target="#carousel-led-residencia" data-slide-to="8"></li>
                                <li data-target="#carousel-led-residencia" data-slide-to="9"></li>
                                <li data-target="#carousel-led-residencia" data-slide-to="10"></li>
                                <li data-target="#carousel-led-residencia" data-slide-to="11"></li>
                                <li data-target="#carousel-led-residencia" data-slide-to="12"></li>
                            </ol>
                            <!-- Wrapper for slides -->
                            <div class="carousel-inner" role="listbox">
                                <div class="item active">
                                    <img src="~/content/images/residencia-led-01.jpg" alt="Residencia Iluminação LED - 01" class="center-block">
                                </div>
                                <div class="item">
                                    <img src="~/content/images/residencia-led-02.jpg" alt="Residencia Iluminação LED - 02" class="center-block">
                                </div>
                                <div class="item">
                                    <img src="~/content/images/residencia-led-03.jpg" alt="Residencia Iluminação LED - 03" class="center-block">
                                </div>
                                <div class="item">
                                    <img src="~/content/images/residencia-led-04.jpg" alt="Residencia Iluminação LED - 04" class="center-block">
                                </div>
                                <div class="item">
                                    <img src="~/content/images/residencia-led-05.jpg" alt="Residencia Iluminação LED - 05" class="center-block">
                                </div>
                                <div class="item">
                                    <img src="~/content/images/residencia-led-06.jpg" alt="Residencia Iluminação LED - 06" class="center-block">
                                </div>
                                <div class="item">
                                    <img src="~/content/images/residencia-led-07.jpg" alt="Residencia Iluminação LED - 07" class="center-block">
                                </div>
                                <div class="item">
                                    <img src="~/content/images/residencia-led-08.jpg" alt="Residencia Iluminação LED - 08" class="center-block">
                                </div>
                                <div class="item">
                                    <img src="~/content/images/residencia-led-09.jpg" alt="Residencia Iluminação LED - 09" class="center-block">
                                </div>
                                <div class="item">
                                    <img src="~/content/images/residencia-led-10.jpg" alt="Residencia Iluminação LED - 10" class="center-block">
                                </div>
                                <div class="item">
                                    <img src="~/content/images/residencia-led-11.jpg" alt="Residencia Iluminação LED - 11" class="center-block">
                                </div>
                                <div class="item">
                                    <img src="~/content/images/residencia-led-12.jpg" alt="Residencia Iluminação LED - 12" class="center-block">
                                </div>
                                <div class="item">
                                    <img src="~/content/images/residencia-led-13.jpg" alt="Residencia Iluminação LED - 13" class="center-block">
                                </div>
                            </div>
                            <!-- Controls -->
                            <a class="left carousel-control" href="#carousel-led-residencia" role="button" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="right carousel-control" href="#carousel-led-residencia" role="button" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6 col-xs-12">
                        <div class="row">
                            <div class="col-md-5 info-iluminacao-led">
                                <img src="~/content/images/logo-creative.png" alt="Logo" class="center-block">
                            </div>
                            <div class="col-md-6 info-iluminacao-led">
                                <p>CREATIVE ARQUITETURA</p>
                                <p><a href="http://www.creativearquitetura.com.br">www.creativearquitetura.com.br</a></p>
                                <p>(41) 3044-3717</p>
                                <p>Av. Cândido Hartman, 528 – Mercês.</p>
                                <p>Curitiba-PR</p>
                            </div>
                            <div class="col-md-12 info-iluminacao-led">
                                <p>“Quando projetamos um apartamento, sempre pensamos nas soluções que trazem melhor conforto ambiental e que ao mesmo tempo gerem economia ao bolso do cliente” </p>
                                <p class="text-right"><strong>Mariana Nietsche - Arquiteta</strong></p>
                            </div>
                            <div class="col-md-12 info-iluminacao-led">
                                <p><strong>Apartamento Residencial – Ecoville</strong></p>
                                <p>Solução instalada em Jun/14</p>
                                <p>Investimento de <strong>R$ 8.386,98</strong></p>
                                <p>Conta de luz: <strong>R$ -</strong></p>
                                <p>Payback: <strong>6 meses</strong></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade clinica-odonto" id="" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Clínica Odontológica - Iluminação LED</h4>
            </div>
            <div class="modal-body">
                <div class="topo-modal">
                    <div class="row">
                        <img src="~/content/images/banner_iluminacao.jpg" alt="Banner Coletor Pluvial" class="img-responsive">
                    </div>
                </div>
                <div class="wrap-modal">
                    <div class="col-md-6 col-xs-12">
                        <div id="carousel-led-consultorio" class="carousel slide" data-ride="carousel">
                            <!-- Indicators -->
                            <ol class="carousel-indicators">
                                <li data-target="#carousel-led-consultorio" data-slide-to="0" class="active"></li>
                                <li data-target="#carousel-led-consultorio" data-slide-to="1"></li>
                            </ol>
                            <!-- Wrapper for slides -->
                            <div class="carousel-inner" role="listbox">
                                <div class="item active">
                                    <img src="~/content/images/consultorio-led-01.jpg" alt="Residencia Iluminação LED - 01" class="center-block">
                                </div>
                                <div class="item">
                                    <img src="~/content/images/consultorio-led-02.jpg" alt="Residencia Iluminação LED - 02" class="center-block">
                                </div>
                            </div>
                            <!-- Controls -->
                            <a class="left carousel-control" href="#carousel-led-consultorio" role="button" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="right carousel-control" href="#carousel-led-consultorio" role="button" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6 col-xs-12">
                        <div class="row">
                            <div class="col-md-5 info-iluminacao-led">
                                <img src="~/content/images/logo-creative.png" alt="Logo" class="center-block">
                            </div>
                            <div class="col-md-6 info-iluminacao-led">
                                <p>CREATIVE ARQUITETURA</p>
                                <p><a href="http://www.creativearquitetura.com.br">www.creativearquitetura.com.br</a></p>
                                <p>(41) 3044-3717</p>
                                <p>Av. Cândido Hartman, 528 – Mercês.</p>
                                <p>Curitiba-PR</p>
                            </div>
                            <div class="col-md-12 info-iluminacao-led">
                                <p>“Quando projetamos um apartamento, sempre pensamos nas soluções que trazem melhor conforto ambiental e que ao mesmo tempo gerem economia ao bolso do cliente” </p>
                                <p class="text-right"><strong>Mariana Nietsche - Arquiteta</strong></p>
                            </div>
                            <div class="col-md-12 info-iluminacao-led">
                                <p><strong>Clínica Odontológica– Champagnat</strong></p>
                                <p>Solução instalada em Mar/14</p>
                                <p>Investimento de <strong>R$ 3.466,51</strong></p>
                                <p>Conta de luz: <strong>R$ -</strong></p>
                                <p>Payback: <strong>8 meses</strong></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

