﻿@model Web.Models.LoginViewModel

<div class="modal-dialog" style="padding-top: 50px">
    @if (!ViewData.ModelState.IsValid)
    {
        <div class="alert alert-danger" role="alert" style="margin: auto; margin-bottom: 20px; width: 100%;">
            @Html.ValidationMessage("UserInvalid")
        </div>
    }
    <div class="modal-content">
        <div class="modal-header">
            @if (Model != null && Model.IsModal)
            {
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            }
            <h4 class="modal-title" id="myModalLabel">Login</h4>
        </div>
        <div class="modal-body">
            @using (Html.BeginForm("externallogin", "Auth", FormMethod.Post, new { id = "form_external", @class = "form-horizontal" }))
            {
                @Html.AntiForgeryToken()

                <input type="hidden" class="returnUrl" name="returnUrl" value="@ViewBag.ReturnUrl" />

                <br />
                <!--
                <input type="hidden" name="provider" value="Facebook" />

                <div class="form-group">
                    <label for="" class="col-sm-3 control-label">&nbsp;</label>
                    <div class="col-md-7 col-sm-7 col-xs-12">
                        <button class="btn btn-lg btn-block btn-social btn-facebook text-right"> <i class="fa fa-facebook"></i>  Login com Facebook  </button>
                    </div>
                </div>
                 -->
            }
            <!--
            <div class="form-group">
                <label for="" class="col-sm-3 control-label">&nbsp;</label>
                <div class="col-md-7">
                    <div class="signup-or-separator shift">
                        <span class="text">ou</span>
                        <hr>
                    </div>
                </div>
            </div>
            -->
            @using (Html.BeginForm("Index", "Auth", FormMethod.Post, new { @class = "form-horizontal" }))
            {
                @Html.AntiForgeryToken()

                <input type="hidden" class="returnUrl" name="returnUrl" value="@ViewBag.ReturnUrl" />

                <div class="form-group">
                    <label class="col-sm-3 control-label" for="E-mail">Email</label>
                    <div class="col-sm-7">
                        @Html.TextBoxFor(model => model.Email, new { @class = "form-control", @placeholder = "Email", @required = true })
                        @Html.ValidationMessageFor(m => m.Email)
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label" for="Senha">Senha</label>
                    <div class="col-sm-7">
                        @Html.PasswordFor(model => model.Password, new { @class = "form-control", @placeholder = "Senha", @required = true })
                        @Html.ValidationMessageFor(m => m.Password)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-7 col-md-offset-3 col-md-7">
                        @Html.ActionLink("Esqueci minha senha", "ForgotPassword", "Auth")
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-7 col-md-3 col-sm-offset-7 col-sm-3 col-xs-12">
                        <button type="submit" class="btn btn-success btn-lg btn-block">Entrar</button>
                    </div>
                </div>
                <br>
            }
        </div>
    </div>
</div>

