﻿@model RegisterViewModel
@{
    ViewBag.Title = "Cadastrar";
}

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            @if (Model != null && Model.IsModal)
            {
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            }
            <h4 class="modal-title" id="myModalLabel">Cadastro</h4>
        </div>

        <div class="modal-body">
            @using (Html.BeginForm("Index", "Register", FormMethod.Post, new { @class = "form-horizontal" }))
            {
                @Html.AntiForgeryToken()

                <div class="form-group">
                    <label class="col-sm-3 control-label" for="textinput">Nome da Empresa</label>
                    <div class="col-sm-7 col-xs-12">
                        @Html.TextBoxFor(model => model.CompanyName, new { @class = "form-control", @placeholder = "Nome" })
                        @Html.ValidationMessageFor(m => m.CompanyName)
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label" for="textinput">CNPJ</label>
                    <div class="col-sm-7 col-xs-12">
                        @Html.TextBoxFor(model => model.CNPJ, new { @class = "form-control", @placeholder = "Nome" })
                        @Html.ValidationMessageFor(m => m.CNPJ)
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label" for="textinput">Nome</label>
                    <div class="col-sm-7 col-xs-12">
                        @Html.TextBoxFor(model => model.FullName, new { @class = "form-control", @placeholder = "Nome" })
                        @Html.ValidationMessageFor(m => m.FullName)
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label" for="textinput">Telefone</label>
                    <div class="col-sm-7">
                        @Html.TextBoxFor(model => model.PhoneNumber, new { @class = "form-control", @placeholder = "Email" })
                        @Html.ValidationMessageFor(m => m.PhoneNumber)
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label" for="textinput">E-mail</label>
                    <div class="col-sm-7">
                        @Html.TextBoxFor(model => model.Email, new { @class = "form-control", @placeholder = "Email" })
                        @Html.ValidationMessageFor(m => m.Email)
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label" for="textinput">Senha</label>
                    <div class="col-sm-7">
                        @Html.PasswordFor(model => model.Password, new { @class = "form-control", @placeholder = "Senha" })
                        @Html.ValidationMessageFor(m => m.Password)
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label" for="textinput">Confirme a Senha</label>
                    <div class="col-sm-7">
                        @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control", @placeholder = "Confirmação" })
                        @Html.ValidationMessageFor(m => m.ConfirmPassword)
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-7 col-md-3 col-sm-offset-7 col-sm-3 col-xs-12">
                        <button type="submit" class="btn btn-success btn-lg btn-block">Cadastrar</button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
