﻿<div class="modal fade coletor-pluvial" id="" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Coletor Pluvial</h4>
            </div>
            <div class="modal-body">
                <div class="topo-modal">
                    <div class="row">
                        <img src="~/content/images/banner_coletor.jpg" alt="Banner Coletor Pluvial" class="img-responsive">
                    </div>
                </div>
                <div class="wrap-modal">
                    <p>
                        <strong>O que é:</strong> Consiste em um sistema que permite a coleta, filtração, armazenamento e reutilização da água da chuva. A água é represada pelo telhado, direcionada através de calhas, filtrada por meio de filtros simples, acumulada em um reservatório e redistribuída através de um sistema de bombas e instalações exclusivas que irão direcionar a água para o consumo que você desejar. Por onde começar? As informações básicas para um orçamento são:
                        <ul>
                            <li>Área total do telhado</li>
                            <li>Existe local para a instalação da cisterna?</li>
                            <li>Onde deseja reutilizar essa água? (Jardim, descargas, etc.)</li>
                            <li>Você também pode solicitar a visita de um de nossos fornecedores para realizar esta avaliação e receber um orçamento.</li>
                        </ul>
                    </p>
                    <p>
                        <strong>Benefícios:</strong>
                        <ul>
                            <li>Economia no consumo de água</li>
                            <li>Preserva a pouca água restante no meio ambiente, conservando um dos bens naturais mais escassos</li>
                            <li>Ajuda a conter as enchentes, represando parte da água que outrora seria drenada por ruas e rios</li>
                            <li>Confiável pela qualidade dos sistemas existentes</li>
                            <li>Falta de outras fontes confiáveis de água </li>
                        </ul>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade iluminacao-led" id="" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Iluminação LED</h4>
            </div>
            <div class="modal-body">
                <div class="topo-modal">
                    <div class="row">
                        <img src="~/content/images/banner_iluminacao.jpg" alt="Banner Coletor Pluvial" class="img-responsive">
                    </div>
                </div>
                <div class="wrap-modal">
                    <p>
                        <strong>O que é:</strong> Consiste na utilização de lâmpadas que convertem energia elétrica em luz. Ao contrário das lâmpadas convencionais que utilizam filamentos metálicos, radiação ultravioleta e descarga de gases, o LED é um componente eletrônico, e chega a reduzir em até 85% o consumo de energia em comparação às outras lâmpadas. LED (Light Emitter Diode) significa Diodo Emissor de Luz. Atualmente existem diversos tipos de lâmpadas que imitam formatos e cores de luz das lâmpadas convencionais. Por onde começar? As informações básicas para um orçamento são:
                        <ul>
                            <li>Quantidade, potência e tempo médio de utilização das lâmpadas da sua casa ou estabelecimento.</li>
                            <li>Você também pode solicitar a visita de um de nossos fornecedores para realizar esta avaliação e receber um orçamento.</li>
                        </ul>
                    </p>
                    <p>
                        <strong>Benefícios:</strong>
                        <ul>
                            <li>Economia no consumo de energia em iluminação em até 85%</li>
                            <li>Redução da necessidade de substituição de lâmpadas (maior durabilidade)</li>
                            <li>Valorização do imóvel</li>
                            <li>Dimerização sem variação de cores</li>
                            <li>Resistente a vibrações e impactos</li>
                            <li>Mais seguro por ter baixa tensão</li>
                            <li>Preservação do meio ambiente</li>
                        </ul>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade aquecedor-solar" id="" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Aquecedor Solar</h4>
            </div>
            <div class="modal-body">
                <div class="topo-modal">
                    <div class="row">
                        <img src="~/content/images/banner_aquecedor.jpg" alt="Banner Coletor Pluvial" class="img-responsive">
                    </div>
                </div>
                <div class="wrap-modal">
                    <p>
                        <strong>O que é:</strong> Sistema composto por painéis, tubulações, reservatório e válvulas que utiliza a <strong>energia solar</strong> para aquecer a água que se consume em banho, piscinas, torneiras e até mesmo processos industriais. Existem alguns tipos de aquecedores, dentre os mais conhecidos estão o <strong>coletor solar comum, coletor solar aberto</strong> e <strong>coletor a vácuo</strong> (mais eficiente de todos). Normalmente, estes sistemas são combinados com sistemas a gás e elétricos para emergências, assim você nunca ficará sem água quente. Por onde começar? As informações básicas para um orçamento são:
                        <ul>
                            <li>Quantidade e tipo dos pontos de consumo de água quente;</li>
                            <li>Quantidade de pessoas morando na residência;</li>
                            <li>Área de telhado disponível (próxima ao norte e sem sombreamento)</li>
                            <li>Qual capital (R$) você tem disponível para investir nesta solução? (o investimento começa a partir de R$ 3.000,00)</li>
                        </ul>
                    </p>
                    <p>
                        <strong>Benefícios:</strong>
                        <ul>
                            <li>Energia limpa e gratuita</li>
                            <li>Economia no consumo de energia e gás em até 70%</li>
                            <li>Valorização do imóvel</li>
                            <li>Investimento pode ser recuperado em média de 2 a 5 anos</li>
                            <li>Preservação do meio ambiente</li>
                        </ul>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade painel-fotovoltaicos" id="" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Painéis Fotovoltaicos</h4>
            </div>
            <div class="modal-body">
                <div class="topo-modal">
                    <div class="row">
                        <img src="~/content/images/banner_paineis.jpg" alt="Banner Coletor Pluvial" class="img-responsive">
                    </div>
                </div>
                <div class="wrap-modal">
                    <p>
                        <strong>O que é:</strong> Painéis compostos por células fotovoltaicas que convertem a <strong>energia solar</strong> em energia elétrica. É isso mesmo! Você pode gerar sua própria energia elétrica na sua própria casa, funcionando mesmo com tempo nublado com um pouco menos de eficiência. Você pode instalá-los no telhado ou em outra área térrea. Por onde começar? As informações básicas para um orçamento são:
                        <ul>
                            <li>Valor do seu consumo em kWh/mês e valor</li>
                            <li>Qual a % da conta deseja reduzir? (10%; 20%; 50%; 100%)</li>
                            <li>Área de telhado disponível (próxima ao norte e sem sombreamento)</li>
                            <li>Qual capital (R$) você tem disponível para investir nesta solução? (as soluções começam a partir de R$ 12.000,00)</li>
                        </ul>
                    </p>
                    <p>
                        <strong>Benefícios:</strong>
                        <ul>
                            <li>Energia limpa e gratuita</li>
                            <li>Economia no consumo de energia em até 100%</li>
                            <li>Rápida instalação</li>
                            <li>Valorização do imóvel</li>
                            <li>Investimento pode ser recuperado após alguns anos, pois possui pouca manutenção</li>
                            <li>Preservação do meio ambiente</li>
                        </ul>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

