﻿@model IEnumerable<Web.Models.ProfessorViewModel>
@{
    ViewBag.Title = "Todos os Professores";

}
<div class="content bg-gray-lighter">
    <div class="row items-push">
        <div class="col-sm-7"><h1 class="page-heading">Todos os Professores</h1></div>
        <div class="col-sm-5 text-right hidden-xs">
            <ol class="breadcrumb push-10-t">
                <li><a class="link-effect" href="@Url.Action("IndexCompany", "Panel")">Home</a></li>
                <li>Todos os Professores</li>
            </ol>
        </div>
    </div>
</div>
<div class="content">
    <div class="block">
        <div class="block-content">
            <table class="table table-bordered table-striped js-dataTable-full">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Curso</th>
                        <th>Instituição</th>
                        @*<th>Local</th>
                            <th>Valor</th>
                            <th>Tipo de Parceria</th>*@
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null)
                    {
                        foreach (var item in Model)
                        {
                            if (item.UserName != User.Identity.Name)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(modelItem => item.FullName)</td>
                                    <td>@Html.DisplayFor(modelItem => item.PrincipalCourse)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Instituicao)</td>
                                    @*<td>@Html.DisplayFor(modelItem => item.Opportunity.Local)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Opportunity.ValueInReal)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Opportunity.PartnerType)</td>*@
                                    <td>
                                        @*<a class="btn btn-xs btn-success modalOpportunityPrePurchase" data-toggle="tooltip" title="" data-original-title="Msg/Add">?Msg / Add?</a>*@
                                    </td>
                                </tr>
                            }
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

