﻿
@{
		ViewBag.Title = "ConfirmEmail";
}

<div class="container">
	@if (ViewBag.errorMessage == null)
	{
			<div class="modal-dialog" style="padding-top: 50px">
				<div class="alert alert-success" role="alert" style="margin: auto; margin-bottom: 20px; width: 100%;">
					Sua e-mail foi confirmado com sucesso! @Html.ActionLink("Clique aqui", "Index", "Auth") para entrar.
				</div>
			</div>
	}
	else
	{
			<div class="modal-dialog" style="padding-top: 50px">
				<div class="alert alert-danger" role="alert" style="margin: auto; margin-bottom: 20px; width: 100%;">
					Usuário não encontrado @Html.ActionLink("Clique aqui", "Index", "Home") para voltar.
				</div>
			</div>
	}
</div>