﻿@{
    ViewBag.Title = "Esqueci minha senha";
}

<div class="modal-dialog" style="padding-top: 50px">
    <div class="alert alert-success" role="alert" style="margin: auto; margin-bottom: 20px; width: 100%;">
        Foi enviado um e-mail com o link para redefinição da sua senha, por favor verifique seu e-mail.
    </div>
</div>

