﻿@model Web.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Esqueci minha senha";
}

<div class="modal-dialog" style="padding-top: 50px">
    @if (!ViewData.ModelState.IsValid)
    {
        <div class="alert alert-danger" role="alert" style="margin: auto; margin-bottom: 20px; width: 100%;">
            @Html.ValidationSummary()
        </div>
    }
    <div class="alert alert-info" role="alert" style="margin: auto; margin-bottom: 20px; width: 100%;">
        Será enviado um e-mail com um link para redefinição da sua senha. Por favor informe o mesmo e-mail do seu cadastro no site.
    </div>

    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel">Esqueci minha senha</h4>
        </div>

        <br />
        <div class="modal-body">
            @using (Html.BeginForm("ForgotPassword", "Auth", FormMethod.Post, new { @class = "form-horizontal" }))
            {
                @Html.AntiForgeryToken()

                <input type="hidden" class="returnUrl" name="returnUrl" value="@ViewBag.ReturnUrl" />

                <div class="form-group">
                    <label class="col-sm-3 control-label" for="E-mail">Email</label>
                    <div class="col-sm-7">
                        @Html.TextBoxFor(model => model.Email, new { @class = "form-control", @placeholder = "Email", @required = true })
                        @Html.ValidationMessageFor(m => m.Email)
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-6 col-md-4 col-sm-offset-7 col-sm-3 col-xs-12">
                        <button type="submit" class="btn btn-success btn-lg btn-block">Enviar Email</button>
                    </div>
                </div>
                <br>
            }
        </div>
    </div>
</div>