﻿@model Web.Models.LoginViewModel

@{
    ViewBag.Title = "Entrar";
    Layout = "~/Views/Shared/_LayoutBlank.cshtml";
}
<!-- Login Content -->
<div class="bg-white pulldown">
    <div class="content content-boxed overflow-hidden">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
                <div class="push-30-t push-50 animated fadeIn">
                    <!-- Login Title -->
                    <div class="text-center">
                        <img src="~/Content/img/Logo_Provisorio_Colorido.png" />
                    </div>
                    <!-- END Login Title -->
                    @if (!ViewData.ModelState.IsValid)
                    {
                        <div class="alert alert-danger" role="alert" style="margin: auto; margin-bottom: 20px; width: 100%;">
                            @Html.ValidationMessage("UserInvalid")
                        </div>
                    }
                    @using (Html.BeginForm("Index", "Auth", FormMethod.Post, new { @class = "js-validation-login form-horizontal push-30-t" }))
                    {
                        @Html.AntiForgeryToken()

                        <input type="hidden" class="returnUrl" name="returnUrl" value="@ViewBag.ReturnUrl" />
                        <div class="form-group">
                            <div class="col-xs-12">
                                <div class="form-material form-material-primary floating">
                                    @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
                                    <label for="login-username">E-mail</label>
                                    @Html.ValidationMessageFor(m => m.Email)
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-12">
                                <div class="form-material form-material-primary floating">																		
                                    @Html.PasswordFor(model => model.Password, new { @class = "form-control" })
                                    <label for="login-password">Senha</label>
                                    @Html.ValidationMessageFor(m => m.Password)
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-6 col-sm-offset-6">
                                <div class="font-s13 text-right push-5-t">
                                    @Html.ActionLink("Esqueci minha senha", "ForgotPassword", "Auth")
                                </div>
                            </div>
                        </div>
                        <div class="form-group push-30-t">
                            <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
                                <button class="btn btn-sm btn-block btn-primary" type="submit">Entrar</button>
                            </div>
                        </div>
                    }
                    <!-- END Login Form -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END Login Content -->
<!-- Login Footer -->
<div class="pulldown push-30-t text-center animated fadeInUp">
    <small class="text-muted"><span class="js-year-copy"></span> &copy; Partners</small>
</div>
<!-- END Login Footer -->