﻿@{
    ViewBag.Title = "Senha redefinida";
}

<div class="modal-dialog" style="padding-top: 50px">
    <div class="alert alert-success" role="alert" style="margin: auto; margin-bottom: 20px; width: 100%;">
        Sua senha foi redefinida com sucesso! @Html.ActionLink("Clique aqui", "Index", "Auth") para entrar.
    </div>
</div>