﻿@model Web.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "Redefinir Senha";
}

<div class="modal-dialog" style="padding-top: 50px">

    @if (!ViewData.ModelState.IsValid)
    {
        <div class="alert alert-danger" role="alert" style="margin: auto; margin-bottom: 20px; width: 100%;">
            @Html.ValidationSummary()
        </div>
    }
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel">Redefinir sua senha</h4>
        </div>
        <div class="modal-body">
            @using (Html.BeginForm("ResetPassword", "Auth", FormMethod.Post, new { @class = "form-horizontal" }))
            {
                @Html.AntiForgeryToken()

                <input type="hidden" name="Code" value="@Request.Params["code"]" />

                <div class="form-group">
                    <label class="col-sm-3 control-label" for="E-mail">Email</label>
                    <div class="col-sm-7">
                        @Html.TextBoxFor(model => model.Email, new { @class = "form-control", @placeholder = "Email", @required = true })
                        @Html.ValidationMessageFor(m => m.Email)
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label" for="Senha">Senha</label>
                    <div class="col-sm-7">
                        @Html.PasswordFor(model => model.Password, new { @class = "form-control", @placeholder = "Senha", @required = true })
                        @Html.ValidationMessageFor(m => m.Password)
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label" for="Senha">Confirmar a senha</label>
                    <div class="col-sm-7">
                        @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control", @placeholder = "Confirmação", @required = true })
                        @Html.ValidationMessageFor(m => m.ConfirmPassword)
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-sm-3 control-label">&nbsp;</label>
                    <div class="col-md-7 text-right">
                        <button type="submit" class="btn btn-success btn-lg btn-block">Redefinir</button>
                    </div>
                </div>
                <br>
            }
        </div>
    </div>
</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
