﻿@model Web.Models.AlunoViewModel
@{
		ViewBag.Title = "Um call-to-action bem convincente!";
}

<div id="page-container" class="header-navbar-fixed header-navbar-transparent">
	<!-- Header -->
	@*<header id="header-navbar" class="content-mini content-mini-full">
		<div class="content-boxed">
			<!-- Main Header Navigation -->
			<ul class="js-nav-main-header nav-main-header pull-right">
				<li class="text-right hidden-md hidden-lg">
					<button class="btn btn-link text-white" data-toggle="class-toggle" data-target=".js-nav-main-header" data-class="nav-main-header-o" type="button">
						<i class="fa fa-times"></i>
					</button>
				</li>
				<li>
					<a href="@Url.Action("Index", "Home")">Início</a>
				</li>
				<li>
					<a href="@Url.Action("Index", "Auth")">Login</a>
				</li>
			</ul>
			<!-- END Main Header Navigation -->
			<!-- Header Navigation Left -->
			<ul class="nav-header pull-left">
				<li class="header-content">
					<a class="navbar-brand" href="/">
						<img src="~/Content/img/Logo_Provisorio.png" class="img-responsive" />
					</a>
				</li>
			</ul>
			<!-- END Header Navigation Left -->
		</div>
	</header>*@
	<!-- END Header -->
	<!-- Main Container -->
	<main id="main-container">
		<!-- Classic Features #2 -->
		<div id="orcamento" class="bg-white overflow-hidden">
			<section class="content content-boxed push-50-t">
				<h2 class="text-center">Novo Aluno</h2>
				<!-- Section Content -->
				<div class="row items-push-3x push-50-t nice-copy">
					<div class="col-md-6 col-md-offset-3">
						@using (Html.BeginForm("Aluno", "Register", FormMethod.Post, new { @class = "form-horizontal" }))
                        {
							@Html.AntiForgeryToken()
							<div class="form-slider">
								<div class="form-group">
									<div class="col-xs-12">
										<div class="form-material form-material-primary">
											<label>Nome: *</label>
											@Html.TextBoxFor(model => model.FullName, new { @placeholder = "Nome Completo", @class = "form-control", @id = "razaoSocial" })
											@Html.ValidationMessageFor(model => model.FullName, null, new { @class = "text-danger" })
										</div>
									</div>
								</div>
							</div>
							<div class="form-group">
								<div class="col-xs-12">
									<div class="form-material form-material-primary">
										<label>Email: *</label>
										@Html.TextBoxFor(model => model.Email, new { @placeholder = "E-mail", @class = "form-control", @id = "responsavel" })
										@Html.ValidationMessageFor(model => model.Email, null, new { @class = "text-danger" })
									</div>
								</div>
							</div>

							<div class="form-group">
								<div class="col-xs-12">
									<div class="form-material form-material-primary">
										<label for="frontend-contact-email">Curso: </label>
										@Html.TextBoxFor(model => model.Curso, new { @placeholder = "Curso", @class = "form-control", @id = "curso" })
										@Html.ValidationMessageFor(model => model.Curso, null, new { @class = "text-danger" })
									</div>
								</div>
							</div>

						    <div class="form-group">
							    <div class="col-xs-12">
								    <div class="form-material form-material-primary">
									    <label>Faculdade: *</label>
									    @Html.TextBoxFor(model => model.Instituicao, new { @placeholder = "Faculdade / Universidade", @class = "form-control", @id = "instituicao" })
									    @Html.ValidationMessageFor(model => model.Instituicao, null, new { @class = "text-danger" })
								    </div>
							    </div>
						    </div>

						    <div class="form-group">
							    <div class="col-xs-12">
								    <div class="form-material form-material-primary">
									    <label>Senha: *</label>
									    @Html.PasswordFor(model => model.Password, new { @class = "form-control", @placeholder = "Senha", @id = "senha" })
									    @Html.ValidationMessageFor(model => model.Password, null, new { @class = "text-danger" })
								    </div>
							    </div>
						    </div>

						    <div class="form-group">
							    <div class="col-xs-12">
								    <div class="form-material form-material-success">
									    @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control", @placeholder = "Confirmação", @id = "senhaConfirmacao" })
									    <label for="register-password2">Confirmar senha</label>
									    @Html.ValidationMessageFor(m => m.ConfirmPassword, null, new { @class = "text-danger" })
								    </div>
							    </div>
						    </div>

						    @*<div class="form-group">
							    <div class="col-xs-7 col-sm-8">
								    <label class="css-input switch switch-sm switch-success">
									    <input type="checkbox" id="register-terms" name="register-terms"><span></span> Eu concordo com os temos e condições
								    </label>
							    </div>
							    <div class="col-xs-5 col-sm-4">
								    <div class="font-s13 text-right push-5-t">
									    <a href="#" data-toggle="modal" data-target="#modal-terms">Ver os termos</a>
								    </div>
							    </div>
						    </div>*@

						    <div class="form-group">
							    @*<input type="submit" name="name" value="Cadastrar" class="btn btn-success btn-block btn-lg" />*@
							    <button class="btn btn-success btn-block btn-lg">Cadastrar</button>
						    </div>
						}
					</div>
				</div>
				<!-- END Section Content -->
			</section>

		</div>
		<!-- END Classic Features #2 -->
		<div id='modal' class='modal fade' tabindex="-1" role="dialog">  </div>
		<div id="ajaxSpinnerContainer" align="center" style="display:none; background-color:gray; background: gray; filter: alpha(opacity=50); opacity: 0.50; position: fixed; left: 0%; top: 0%; width: 100%; height: 100%; z-index: 9999;">
			<img src="~/Content/img/ajax-loader.gif" style="position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%,-50%); -moz-transform: translate(-50%,-50%); -ms-transform: translate(-50%,-50%); -o-transform: translate(-50%,-50%); transform: translate(-50%,-50%);" id="ajaxSpinnerImage" title="working..." />
		</div>
	</main>
	<!-- END Main Container -->
	<!-- Terms Modal -->
	<div class="modal fade" id="modal-terms" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog modal-dialog-popout">
			<div class="modal-content">
				<div class="block block-themed block-transparent remove-margin-b">
					<div class="block-header bg-primary-dark">
						<ul class="block-options">
							<li>
								<button data-dismiss="modal" type="button"><i class="si si-close"></i></button>
							</li>
						</ul>
						<h3 class="block-title">Terms &amp; Conditions</h3>
					</div>
					<div class="block-content">
						<p>Dolor posuere proin blandit accumsan senectus netus nullam curae, ornare laoreet adipiscing luctus mauris adipiscing pretium eget fermentum, tristique lobortis est ut metus lobortis tortor tincidunt himenaeos habitant quis dictumst proin odio sagittis purus mi, nec taciti vestibulum quis in sit varius lorem sit metus mi.</p>
						<p>Dolor posuere proin blandit accumsan senectus netus nullam curae, ornare laoreet adipiscing luctus mauris adipiscing pretium eget fermentum, tristique lobortis est ut metus lobortis tortor tincidunt himenaeos habitant quis dictumst proin odio sagittis purus mi, nec taciti vestibulum quis in sit varius lorem sit metus mi.</p>
						<p>Dolor posuere proin blandit accumsan senectus netus nullam curae, ornare laoreet adipiscing luctus mauris adipiscing pretium eget fermentum, tristique lobortis est ut metus lobortis tortor tincidunt himenaeos habitant quis dictumst proin odio sagittis purus mi, nec taciti vestibulum quis in sit varius lorem sit metus mi.</p>
						<p>Dolor posuere proin blandit accumsan senectus netus nullam curae, ornare laoreet adipiscing luctus mauris adipiscing pretium eget fermentum, tristique lobortis est ut metus lobortis tortor tincidunt himenaeos habitant quis dictumst proin odio sagittis purus mi, nec taciti vestibulum quis in sit varius lorem sit metus mi.</p>
						<p>Dolor posuere proin blandit accumsan senectus netus nullam curae, ornare laoreet adipiscing luctus mauris adipiscing pretium eget fermentum, tristique lobortis est ut metus lobortis tortor tincidunt himenaeos habitant quis dictumst proin odio sagittis purus mi, nec taciti vestibulum quis in sit varius lorem sit metus mi.</p>
					</div>
				</div>
				<div class="modal-footer">
					<button class="btn btn-sm btn-default" type="button" data-dismiss="modal">Close</button>
					<button class="btn btn-sm btn-primary" type="button" data-dismiss="modal"><i class="fa fa-check"></i> I agree</button>
				</div>
			</div>
		</div>
	</div>

</div>
@section scripts{
	@Scripts.Render("~/bundles/jqueryval")
	@Scripts.Render("~/bundles/jqueryui")
	<script src="~/scripts/jquery.unobtrusive-ajax.js"></script>

	<script type="text/javascript">
		$(document).ready(function () {
			$('.selectpicker').attr('data-size', '5');
			$('.selectpicker').attr('data-live-search', true);
			$('.selectpicker').attr('data-width', '100%');
			$(".selectpicker").selectpicker();

			$("#btnFormNext").on('click', function () {
				$('.form-slider:hidden').show();
				$(this).parents('.form-slider').hide();
			});
		});
	</script>

}
