﻿@model Web.Models.ProfessorViewModel
@{
    ViewBag.Title = "Aumente suas vendas";
    Layout = "~/Views/Shared/_LayoutBlank.cshtml";
}
<div id="page-container" class="header-navbar-fixed header-navbar-transparent">
    <!-- Header -->
    @*<header id="header-navbar" class="content-mini content-mini-full">
        <div class="content-boxed">
            <!-- Main Header Navigation -->
            <ul class="js-nav-main-header nav-main-header pull-right">
                <li class="text-right hidden-md hidden-lg">                    
                    <button class="btn btn-link text-white" data-toggle="class-toggle" data-target=".js-nav-main-header" data-class="nav-main-header-o" type="button">
                        <i class="fa fa-times"></i>
                    </button>
                </li>
                <li>
                    <a href="@Url.Action("Index", "Home")">Inicio</a>
                </li>
                <li>
                    <a href="@Url.Action("Index", "Auth")">Login</a>
                </li>
            </ul>
            <!-- END Main Header Navigation -->
            <!-- Header Navigation Left -->
            <ul class="nav-header pull-left">
                <li class="header-content">
                    <a class="navbar-brand" href="/">
                        <img src="~/Content/img/Logo_Provisorio.png" class="img-responsive" />
                    </a>
                </li>
            </ul>
            <!-- END Header Navigation Left -->
        </div>
    </header>*@
    <!-- END Header -->
    <main id="main-container">       
        <!-- FIM Como funciona -->
        <div id="cadastro" class="bg-white overflow-hidden">
            <div class="content content-boxed overflow-hidden push-30-t">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
                        <div class="push-30-t push-20 animated fadeIn">
                            <div class="text-center">
                                <h2 class="h1 push-10-t">Cadastro de Professor</h2>
                            </div>

                            @using (Html.BeginForm("Professor", "Register", FormMethod.Post, new { @class = "form-horizontal" }))
                            {
                                @Html.AntiForgeryToken()
                                <div class="form-group">
                                    <div class="col-xs-12">
                                        <div class="form-material form-material-success">
                                            @Html.TextBoxFor(model => model.FullName, new { @class = "form-control", @placeholder = "Nome Completo", @id = "textFullName" })
                                            @Html.LabelFor(model => model.FullName)
                                            @Html.ValidationMessageFor(m => m.FullName, null, new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-xs-12">
                                        <div class="form-material form-material-success">
                                            @Html.TextBoxFor(model => model.Email, new { @class = "form-control", @placeholder = "E-mail", @id = "textEmail" })
                                            @Html.LabelFor(model => model.Email)
                                            @Html.ValidationMessageFor(m => m.Email, null, new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-xs-12">
                                        <div class="form-material form-material-success">
                                            @Html.TextBoxFor(model => model.PrincipalCourse, new { @class = "form-control", @placeholder = "Curso Principal", @id = "textEmail" })
                                            @Html.LabelFor(model => model.PrincipalCourse)
                                            @Html.ValidationMessageFor(m => m.PrincipalCourse, null, new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-xs-12">
                                        <div class="form-material form-material-success">
                                            @Html.TextBoxFor(model => model.Instituicao, new { @class = "form-control", @placeholder = "Instituição", @id = "textEmail" })
                                            @Html.LabelFor(model => model.Instituicao)
                                            @Html.ValidationMessageFor(m => m.Instituicao, null, new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="form-group">
                                    <div class="col-xs-12">
                                        <div class="form-material form-material-success">
                                            @Html.PasswordFor(model => model.Password, new { @class = "form-control", @placeholder = "Senha", @id = "textPassword" })
                                            <label for="register-password">Senha</label>
                                            @Html.ValidationMessageFor(m => m.Password, null, new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-xs-12">
                                        <div class="form-material form-material-success">
                                            @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control", @placeholder = "Confirmação", @id = "textConfirmPassword" })
                                            <label for="register-password2">Confirmar senha</label>
                                            @Html.ValidationMessageFor(m => m.ConfirmPassword, null, new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                @*<div class="form-group">
                                    <div class="col-xs-7 col-sm-8">
                                        <label class="css-input switch switch-sm switch-success">
                                            <input type="checkbox" id="register-terms" name="register-terms"><span></span> Eu concordo com os temos e condições
                                        </label>
                                    </div>
                                    <div class="col-xs-5 col-sm-4">
                                        <div class="font-s13 text-right push-5-t">
                                            <a href="#" data-toggle="modal" data-target="#modal-terms">Ver os termos</a>
                                        </div>
                                    </div>
                                </div>*@
                                <div class="form-group">
                                    <button class="btn btn-success btn-block btn-lg">Cadastrar</button>
                                </div>
                                <div class="form-group">
                                    <div class="text-center">
                                        <a href="/Auth/">Já possui uma conta? Faça login</a>
                                    </div>
                                </div>
                            }
                            <!-- END Register Form -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END Register Content -->
        <div id='modal' class='modal fade' tabindex="-1" role="dialog">  </div>
        <div id="ajaxSpinnerContainer" align="center" style="display:none; background-color:gray; background: gray; filter: alpha(opacity=50); opacity: 0.50; position: fixed; left: 0%; top: 0%; width: 100%; height: 100%; z-index: 9999;">
            <img src="~/Content/img/ajax-loader.gif" style="position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%,-50%); -moz-transform: translate(-50%,-50%); -ms-transform: translate(-50%,-50%); -o-transform: translate(-50%,-50%); transform: translate(-50%,-50%);" id="ajaxSpinnerImage" title="working..." />
        </div>
    </main>
</div>
<!-- Terms Modal -->
<div class="modal fade" id="modal-terms" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-popout">
        <div class="modal-content">
            <div class="block block-themed block-transparent remove-margin-b">
                <div class="block-header bg-primary-dark">
                    <ul class="block-options">
                        <li>
                            <button data-dismiss="modal" type="button"><i class="si si-close"></i></button>
                        </li>
                    </ul>
                    <h3 class="block-title">Terms &amp; Conditions</h3>
                </div>
                <div class="block-content">
                    <p>Dolor posuere proin blandit accumsan senectus netus nullam curae, ornare laoreet adipiscing luctus mauris adipiscing pretium eget fermentum, tristique lobortis est ut metus lobortis tortor tincidunt himenaeos habitant quis dictumst proin odio sagittis purus mi, nec taciti vestibulum quis in sit varius lorem sit metus mi.</p>
                    <p>Dolor posuere proin blandit accumsan senectus netus nullam curae, ornare laoreet adipiscing luctus mauris adipiscing pretium eget fermentum, tristique lobortis est ut metus lobortis tortor tincidunt himenaeos habitant quis dictumst proin odio sagittis purus mi, nec taciti vestibulum quis in sit varius lorem sit metus mi.</p>
                    <p>Dolor posuere proin blandit accumsan senectus netus nullam curae, ornare laoreet adipiscing luctus mauris adipiscing pretium eget fermentum, tristique lobortis est ut metus lobortis tortor tincidunt himenaeos habitant quis dictumst proin odio sagittis purus mi, nec taciti vestibulum quis in sit varius lorem sit metus mi.</p>
                    <p>Dolor posuere proin blandit accumsan senectus netus nullam curae, ornare laoreet adipiscing luctus mauris adipiscing pretium eget fermentum, tristique lobortis est ut metus lobortis tortor tincidunt himenaeos habitant quis dictumst proin odio sagittis purus mi, nec taciti vestibulum quis in sit varius lorem sit metus mi.</p>
                    <p>Dolor posuere proin blandit accumsan senectus netus nullam curae, ornare laoreet adipiscing luctus mauris adipiscing pretium eget fermentum, tristique lobortis est ut metus lobortis tortor tincidunt himenaeos habitant quis dictumst proin odio sagittis purus mi, nec taciti vestibulum quis in sit varius lorem sit metus mi.</p>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-sm btn-default" type="button" data-dismiss="modal">Close</button>
                <button class="btn btn-sm btn-primary" type="button" data-dismiss="modal"><i class="fa fa-check"></i> I agree</button>
            </div>
        </div>
    </div>
</div>
<!-- END Terms Modal -->
@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")
    <script type="text/javascript">

        
    </script>
}
