﻿@model Web.Models.AddressViewModel

@{
		Model.CompanyId = ViewBag.IdCompany;
}

<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Fechar</span></button>
			<h4 class="modal-title">Endereço</h4>
		</div>
		<div class="modal-body">
			@using (Html.BeginForm("", "", FormMethod.Post, new { @class = "form-horizontal" }))
            {
					@Html.AntiForgeryToken()
					@Html.HiddenFor(x => x.CompanyId, new { @id = "hiddenCompanyId" })
					<div class="form-slider">
						<div class="form-group">
							<div class="col-xs-12">
								<div class="form-material form-material-primary">
									<label>Rua e Número: *</label>
									@Html.TextBoxFor(model => model.Street, new { @placeholder = "Rua e Número", @class = "form-control", @id = "ruaNumeroModal" })
									@Html.ValidationMessageFor(model => model.Street, null, new { @class = "text-danger", @id = "valRua" })
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-8">
								<div class="form-material form-material-primary">
									<label>Cidade: *</label>
									@Html.TextBoxFor(model => model.City, new { @placeholder = "Cidade", @class = "form-control", @id = "cidadeModal" })
									@Html.ValidationMessageFor(model => model.City, null, new { @class = "text-danger", @id = "valCidade" })
								</div>
							</div>
							<div class="col-sm-4">
								<div class="form-material form-material-primary">
									<label>Estado: *</label>
									@Html.DropDownListFor(model => model.State, new List<SelectListItem> {
                                                                                                new SelectListItem { Text = "AC", Value = "AC" },
                                                                                                new SelectListItem { Text = "AL", Value = "AL" },
                                                                                                new SelectListItem { Text = "AP", Value = "AP" },
                                                                                                new SelectListItem { Text = "AM", Value = "AM" },
                                                                                                new SelectListItem { Text = "BA", Value = "BA" },
                                                                                                new SelectListItem { Text = "CE", Value = "CE" },
                                                                                                new SelectListItem { Text = "DF", Value = "DF" },
                                                                                                new SelectListItem { Text = "Es", Value = "ES" },
                                                                                                new SelectListItem { Text = "GO", Value = "GO" },
                                                                                                new SelectListItem { Text = "MA", Value = "MA" },
                                                                                                new SelectListItem { Text = "MS", Value = "MS" },
                                                                                                new SelectListItem { Text = "MT", Value = "MT" },
                                                                                                new SelectListItem { Text = "MG", Value = "MG" },
                                                                                                new SelectListItem { Text = "PA", Value = "PA" },
                                                                                                new SelectListItem { Text = "PB", Value = "PB" },
                                                                                                new SelectListItem { Text = "PR", Value = "PR" },
                                                                                                new SelectListItem { Text = "PE", Value = "PE" },
                                                                                                new SelectListItem { Text = "PI", Value = "PI" },
                                                                                                new SelectListItem { Text = "RJ", Value = "RJ" },
                                                                                                new SelectListItem { Text = "RN", Value = "RN" },
                                                                                                new SelectListItem { Text = "RS", Value = "RS" },
                                                                                                new SelectListItem { Text = "RO", Value = "RO" },
                                                                                                new SelectListItem { Text = "RR", Value = "RR" },
                                                                                                new SelectListItem { Text = "SC", Value = "SC" },
                                                                                                new SelectListItem { Text = "SP", Value = "SP" },
                                                                                                new SelectListItem { Text = "Se", Value = "SE" },
                                                                                                new SelectListItem { Text = "TO", Value = "TO" } },
                                                                new { @class = "form-control push-20-t", @placeholder = "Estado", @title = "Selecione", @id = "estadoModal" })
									@Html.ValidationMessageFor(model => model.State, null, new { @class = "text-danger", @id = "valEstado" })
									@Html.ValidationMessageFor(model => model.State, null, new { @class = "text-danger" })
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-6">
								<div class="form-material form-material-primary">
									<label>Filial?</label>
									<div class="row">
										<div class="col-md-3">
											<input type="radio" class="radio radio-inline" name="filial" value="true" checked="checked"/> Sim
										</div>
										<div class="col-md-3">
											<input type="radio" class="radio radio-inline" name="filial" value="false" /> Não
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
			}
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
			<button type="button" id="adicionarmodal" onclick="if (validationAddress()) { addAdress(); }" class="btn btn-primary">Adicionar</button>
		</div>
	</div>
</div>