﻿@model Web.Models.PortfolioViewModel

@{
		Model.CompanyId = ViewBag.IdCompany;
}

<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Fechar</span></button>
			<h4 class="modal-title">Portfólio</h4>
		</div>
		<div class="modal-body">

			@using (Html.BeginForm("Index", "Home", FormMethod.Post, new { @class = "form-horizontal" }))
			{
					@Html.AntiForgeryToken()
					@Html.HiddenFor(x => x.CompanyId, new { @id = "hiddenCompanyId" })

					<div class="form-slider">
						<div class="form-group">
							<div class="col-xs-12">
								<div class="form-material form-material-primary">
									<label>Área de Atividade: *</label>
									@Html.DropDownListFor(model => model.ActivityAreaId, ViewBag.Area as SelectList, new { @class = "form-control bootstrap-select push-10-t", @title = "Selecione", @id = "areaAtuacaoPortifolio" })
									@Html.ValidationMessageFor(model => model.ActivityArea, null, new { @class = "text-danger", @id = "ValArea" })

								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="col-xs-12">
								<div class="form-material form-material-primary">
									<label>Nome do Projeto: *</label>
									@Html.TextBoxFor(model => model.ProjectName, new { @placeholder = "Nome do Projeto", @class = "form-control", @id = "nomeProjetoPortifolio" })
									@Html.ValidationMessageFor(model => model.ProjectName, null, new { @class = "text-danger", @id = "ValProjeto" })
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="col-xs-12">
								<div class="form-material form-material-primary">
									<label>Cliente: *</label>
									@Html.TextBoxFor(model => model.Client, new { @placeholder = "Cliente", @class = "form-control", @id = "clientePortifolio" })
									@Html.ValidationMessageFor(model => model.Client, null, new { @class = "text-danger", @id = "ValCliente" })
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="col-xs-12">
								<div class="form-material form-material-primary">
									<label>Período de Execução: *</label>
									<div class="row">
										<div class="col-md-5">@Html.TextBoxFor(model => model.EndExecutionPeriod, "{0:d}", new { @placeholder = "Período de Execussão", @class = "form-control datepicker", @type = "text", @id = "dataInicioPortifolio", @readonly = "true" })</div>
										<div class="col-xs-1"><br />@Html.Label("Até:", new { @class = "push-07-t" })</div>
										<div class="col-md-5">@Html.TextBoxFor(model => model.EndExecutionPeriod, "{0:d}", new { @placeholder = "Período de Execussão", @class = "form-control datepicker", @type = "text", @id = "dataFimPortifolio", @readonly = "true" })</div>
									</div>
									@Html.ValidationMessageFor(model => model.EndExecutionPeriod, null, new { @class = "text-danger", @id = "ValPeriodo" })
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="col-xs-12">
								<div class="">
									<label>Descrição do Trabalho e Atividades Desempenhadas: *</label>
									@Html.TextAreaFor(model => model.DescriptionAcitviesAndWork, new { @placeholder = "Descrição do Trabalho e Atividades Desempenhadas", @class = "form-control", @id = "descricaoPortifolio", @rows=5 })
									@Html.ValidationMessageFor(model => model.DescriptionAcitviesAndWork, null, new { @class = "text-danger", @id = "ValDescricao" })
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="col-xs-12">
								<div class="form-material form-material-primary">
									<label>Responsável pelas Informações: *</label>
									@Html.TextBoxFor(model => model.ResponsibleForInformation, new { @placeholder = "Responsável pelas Informações", @class = "form-control", @id = "responsavelPortifolio" })
									@Html.ValidationMessageFor(model => model.ResponsibleForInformation, null, new { @class = "text-danger", @id = "ValResponsavel" })
								</div>
							</div>
						</div>
					</div>
			}
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
			<button type="button" onclick="if (validationPortfolio()) { addPortfolio(); }" class="btn btn-primary">Adicionar</button>
		</div>
	</div>
</div>