﻿@model Web.Models.RegistrationOnClassCouncilViewModel

@{ 
		Model.CompanyId = ViewBag.IdCompany;
}

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Fechar</span></button>
            <h4 class="modal-title">Registro de Classe</h4>
        </div>
        <div class="modal-body">
            @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { @class = "form-horizontal" }))
            {
                @Html.AntiForgeryToken()
								@Html.HiddenFor(x => x.CompanyId, new { @id = "hiddenCompanyId" })

                <div class="form-slider">
                    <div class="form-group">
                        <div class="col-xs-12">
                            <div class="form-material form-material-primary">
                                <label>Conselho: *</label>
                                @Html.DropDownListFor(model => model.Registration, (IEnumerable<SelectListItem>)ViewBag.Registration, new { @class = "form-control push-10-t", @title = "Selecione", @id = "conselhoModal" })
                                @*@Html.TextBoxFor(model => model.Council, new { @placeholder = "Conselho", @class = "form-control", @id = "conselhoModal" })*@
                                @Html.ValidationMessageFor(model => model.Council, null, new { @class = "text-danger", @id = "ValConselho" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <div class="form-material form-material-primary">
                                <label>Registro *</label>
                                @Html.TextBoxFor(model => model.Registration, new { @placeholder = "Registro", @class = "form-control", @id = "RegistroModal" })
                                @Html.ValidationMessageFor(model => model.Registration, null, new { @class = "text-danger", @id = "ValRegistro" })
                            </div>
                        </div>
                    </div>

                </div>
            }
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
            <button type="button" id="adicionarmodal" onclick="if (validationRegistration()) { addRegistration(); };" class="btn btn-primary">Adicionar</button>
        </div>
    </div>
</div>