﻿@model Web.Models.OpportunityViewModel

<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Fechar</span></button>
			<h4 class="modal-title">Detalhes da Oportunidade</h4>
		</div>
		<div class="modal-body">
			<table cellspacing="10" cellpadding="10" class="">
				<tr>
					<td width="50%"><label>@Html.DisplayNameFor(model => model.ActivityAreaId)</label></td>
					<td>
						<label>@Model.ActivityArea.Description</label>
					</td>
				</tr>

				<tr>
					<td><label>@Html.DisplayNameFor(model => model.SpecialtyId)</label></td>
					<td>
						<label>@Model.Specialty.Description</label>
					</td>
				</tr>

				<tr>
					<td><label>@Html.DisplayNameFor(model => model.TypeOfContract)</label></td>
					<td>
						<label>@Model.TypeOfContract</label>
					</td>
				</tr>


				<tr>
					<td><label>@Html.DisplayNameFor(model => model.Attachments)</label></td>
					<td>
						<a href="https://studyplace.blob.core.windows.net/uploads/@Html.DisplayFor(model => model.Attachments)">
							Download
						</a>
					</td>
				</tr>

				<tr>
					<td><label>@Html.DisplayNameFor(model => model.OrganBidder)</label></td>
					<td>
						<label>@Model.OrganBidder</label>
					</td>
				</tr>

				<tr>
					<td><label>@Html.DisplayNameFor(model => model.TypeOfContract)</label></td>
					<td>
						<label>@Model.TypeOfContract</label>
					</td>
				</tr>

				<tr>
					<td><label>@Html.DisplayNameFor(model => model.Local)</label></td>
					<td>
						<label>@Model.Local</label>
					</td>
				</tr>

				<tr>
					<td><label>@Html.DisplayNameFor(model => model.Value)</label></td>
					<td>
						<label>@Model.Value</label>
					</td>
				</tr>

				<tr>
					<td><label>@Html.DisplayNameFor(model => model.PartnerType)</label></td>
					<td>
						<label>@Model.PartnerType</label>
					</td>
				</tr>

				<tr>
					<td><label>@Html.DisplayNameFor(model => model.ExperienceRequired)</label></td>
					<td>
						<label>@Model.ExperienceRequired</label>
					</td>
				</tr>

				<tr>
					<td><label>@Html.DisplayNameFor(model => model.Percentual)</label></td>
					<td>
						<label>@Model.Percentual</label>
					</td>
				</tr>

				<tr>
					<td><label>@Html.DisplayNameFor(model => model.Company.FullName)</label></td>
					<td>
						<label>@Model.Company.FullName</label>
					</td>
				</tr>

				<tr>
					<td><label>@Html.DisplayNameFor(model => model.Company.Email)</label></td>
					<td>
						<label>@Model.Company.Email</label>
					</td>
				</tr>

				@if (Model.Company.Addresses.Count() != 0)
				{
						<tr>
							<td><label>@Html.DisplayNameFor(model => model.Company.Addresses.FirstOrDefault().Street)</label></td>
							<td>
								<label>@Model.Company.Addresses.FirstOrDefault().Street</label>
							</td>
						</tr>
				}

				<tr>
					<td><label>@Html.DisplayNameFor(model => model.Company.PhoneNumber)</label></td>
					<td>
						<label>@Model.Company.PhoneNumber</label>
					</td>
				</tr>
			</table>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
		</div>
	</div>
</div>

