﻿@model Web.Models.HistoricalOfServiceViewModel
<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Fechar</span></button>
			<h4 class="modal-title">Histórico de Serviços</h4>
		</div>
		<div class="modal-body">
			@using (Html.BeginForm("Index", "Home", FormMethod.Post, new { @class = "form-horizontal" }))
            {
					@Html.AntiForgeryToken()
					<div class="form-slider">
						<div class="form-group">
							<div class="col-xs-12">
								<div class="form-material form-material-primary">
									@Html.LabelFor(model => model.Company)
									@Html.TextBoxFor(model => model.Company, new { @class = "form-control", @placeholder = "Empresa", @id = "txtCompany" })
									@Html.ValidationMessageFor(m => m.Company, null, new { @class = "text-danger", @id = "errCompany" })
								</div>
							</div>
						</div>
					</div>
								<div class="form-group">
									<div class="col-xs-12">
										<div class="form-material form-material-primary">
											@Html.LabelFor(model => model.Office)
											@Html.TextBoxFor(model => model.Office, new { @class = "form-control", @placeholder = "Cargo / Função", @id = "txtOffice" })
											@Html.ValidationMessageFor(m => m.Office, null, new { @class = "text-danger", @id = "errOffice" })
										</div>
									</div>
								</div>
								<div class="form-group">
									<div class="col-xs-12">
										<div class="form-material form-material-primary">
											@Html.Label("Período: *", new { @class = "push-07-t" })
											<div class="row">
												<div class="col-md-5">
													@Html.TextBoxFor(model => model.PeriodStartDate, new { @class = "form-control modalHistoricalOfServicePeriodDate  datepicker", @placeholder = "", @type = "text", @id = "txtStartPeriod" })
													@Html.ValidationMessageFor(m => m.PeriodStartDate, null, new { @class = "text-danger", @id = "errStartPeriod" })
												</div>
												<div class="col-xs-1">
													@Html.Label("Até:", new { @class = "push-07-t", @style = "margin-top: 25px;" })
												</div>
												<div class="col-md-5">
													@Html.TextBoxFor(model => model.PeriodEndDate, new { @class = "form-control modalHistoricalOfServicePeriodDate datepicker", @placeholder = "", @type = "text", @id = "txtEndPeriod" })
													@Html.ValidationMessageFor(m => m.PeriodEndDate, null, new { @class = "text-danger", @id = "errEndPeriod" })
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="form-group">
									<div class="col-xs-12">
											@Html.LabelFor(model => model.SummaryOfActivities)
											@Html.TextAreaFor(model => model.SummaryOfActivities, new { @class = "form-control", @placeholder = "Atividades Desempenhadas", @id = "txtSummaryOfActivities", @rows = 5 })
											@Html.ValidationMessageFor(m => m.SummaryOfActivities, null, new { @class = "text-danger", @id = "errSummaryOfActivies" })
									</div>
								</div>
            }
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
			<button type="button" id="modalHistoricalOfServices" onclick="if (validationHistoricalOfServices()) { addRowHistoricalOfServices(); }" class="btn btn-primary">Adicionar</button>
		</div>
	</div>
</div>