﻿@model Web.Models.GraduatedInViewModel

<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Fechar</span></button>
			<h4 class="modal-title">Formação</h4>
		</div>
		<div class="modal-body">
			@using (Html.BeginForm("Index", "Home", FormMethod.Post, new { @class = "form-horizontal" }))
            {
					@Html.AntiForgeryToken()

					<div class="form-slider">
						<div class="form-group col-xs-12">
							<div class="form-material form-material-primary">
								@Html.LabelFor(model => model.EducationalInstitution)
								@Html.TextBoxFor(model => model.EducationalInstitution, new { @class = "form-control", @placeholder = "Instituição de Ensino", @id = "txtEducationalInstitution" })
								@Html.ValidationMessageFor(m => m.Course, null, new { @class = "text-danger", @id = "errEducationInstitution" })
							</div>
						</div>

						<div class="form-group col-xs-12">
							<div class="form-material form-material-primary">
								@Html.LabelFor(model => model.Title)
								@Html.DropDownListFor(model => model.Title, ViewBag.Titles as SelectList, "Selecione", new { @class = "form-control selectpicker push-10-t", @title = "Selecione", @id = "dropDownTitle", @onchange= "hideOtherCourseField(this)" })
								@Html.ValidationMessageFor(m => m.Title, null, new { @class = "text-danger", @id = "errTitle" })
							</div>
						</div>

						<div class="form-group col-xs-12">
							<div class="form-material form-material-primary">
								@Html.LabelFor(model => model.Course)
								<div id="courseArea">
									@Html.DropDownListFor(model => model.Course, ViewBag.Courses as SelectList, "Selecione", new { @class = "form-control selectpicker", @placeholder = "Curso", @id = "txtCourse" })
								</div>
								
								@Html.TextBoxFor(model => model.OtherCourse, new { @class = "form-control", @placeholder = "Curso", @id = "txtOtherCourse" })
								@Html.ValidationMessageFor(m => m.Course, null, new { @class = "text-danger", @id = "errCourse" })
							</div>
						</div>

						<div class="form-group">							
								<div class="col-xs-12">
									<div class="form-material form-material-primary">
										@Html.LabelFor(model => model.ConclusionYear)
										@Html.TextBoxFor(model => model.ConclusionYear, new { @class = "form-control", @style="width: 200px !important;", @placeholder = "Ano de Conclusão", @id = "txtYearConclusion" })
										@Html.ValidationMessageFor(m => m.ConclusionYear, null, new { @class = "text-danger", @id = "errYearConclusion" })
									</div>								
								
							</div>
						</div>
					</div>
			}
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
			<button type="button" id="modalProfessionalExperience" onclick="if (validationGraduated()) { addRowTableGraduated() };" class="btn btn-primary">Adicionar</button>
		</div>
	</div>
</div>