﻿@model Web.Models.ProfessionalExperienceViewModel
<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Fechar</span></button>
			<h4 class="modal-title">Experiência Profissional</h4>
		</div>
		<div class="modal-body">
			@using (Html.BeginForm("Index", "Home", FormMethod.Post, new { @class = "form-horizontal" }))
            {
					@Html.AntiForgeryToken()
					<div class="form-slider">
						<div class="form-group">
							<div class="col-xs-12">
								<div class="form-material form-material-primary">
									@Html.LabelFor(model => model.ActivityAreaDescription)
									@Html.DropDownListFor(model => model.ActivityAreaDescription, ViewBag.ActivityAreas as SelectList, "Selecione", new { @class = "form-control push-10-t selectpicker", @title = "Selecione", @id = "txtActivity" })
									@Html.ValidationMessageFor(m => m.ActivityAreaDescription, null, new { @class = "text-danger", @id = "errActivity" })
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="col-xs-12">
								<div class="form-material form-material-primary">
									@Html.LabelFor(model => model.ProjectName)
									@Html.TextBoxFor(model => model.ProjectName, new { @class = "form-control", @placeholder = "Nome do Projeto", @id = "txtProjectName" })
									@Html.ValidationMessageFor(m => m.ProjectName, null, new { @class = "text-danger", @id = "errProjectName" })
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="col-xs-12">
								<div class="form-material form-material-primary">
									@Html.LabelFor(model => model.Client)
									@Html.TextBoxFor(model => model.Client, new { @class = "form-control", @placeholder = "Cargo / Função", @id = "txtOffice" })
									@Html.ValidationMessageFor(m => m.Client, null, new { @class = "text-danger", @id = "errOffice" })
								</div>
							</div>
						</div>

						<div class="form-group">
							<div class="col-xs-12">
								<div class="form-material form-material-primary">
									<label for="frontend-contact-msg">Especialidade:</label>
									@Html.DropDownListFor(model => model.ProfessionalSpecialtyId, ViewBag.ProfessionalSpecialties as SelectList, new Dictionary<string, object>() { { "class", "form-control selectpicker search" }, { "title", "Selecione" }, { "id", "txtSpecialtyProfessional" } })
									@Html.ValidationMessageFor(model => model.ProfessionalSpecialtyId, null, new { @class = "text-danger" })
								</div>
							</div>
						</div>

						<div class="form-group">
							<div class="col-xs-12">
								<div class="form-material form-material-primary">
									@Html.Label("Período: *", new { @class = "push-07-t" })
									<div class="row">
										<div class="col-md-5">
											@Html.TextBoxFor(model => model.StartExecutionPeriod, new { @class = "form-control  modalProfessionalExperienceExecutionPeriod datepicker", @type = "text", @id = "txtStartPeriod", @readonly = "true" })
											@Html.ValidationMessageFor(m => m.StartExecutionPeriod, null, new { @class = "text-danger", @id = "errStartPeriod" })
										</div>
										<div class="col-xs-1">
											<br />
											@Html.Label("Até:", new { @class = "push-04-t" })
										</div>
										<div class="col-md-5">
											@Html.TextBoxFor(model => model.EndExecutionPeriod, new { @class = "form-control  modalProfessionalExperienceExecutionPeriod datepicker", @type = "text", @id = "txtEndPeriod", @readonly = "true" })
											@Html.ValidationMessageFor(m => m.EndExecutionPeriod, null, new { @class = "text-danger", @id = "errEndPeriod" })
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="col-xs-12">
								@Html.LabelFor(model => model.PerformedActivities)
								@Html.TextAreaFor(model => model.PerformedActivities, new { @class = "form-control", @placeholder = "Atividades Desempenhadas", @id = "txtPerformedActivities", @rows = 5 })
								@Html.ValidationMessageFor(m => m.PerformedActivities, null, new { @class = "text-danger", @id = "errPerformedActivities" })
							</div>
						</div>
						<div class="form-group">
							<div class="col-xs-12">
								<div class="form-material form-material-primary">
									<label>Acervo Técnico: *</label>
									<div class="row">
										<div class="col-sm-2">
											<input type="radio" class="radio radio-inline" name="acervo_tecnico" value="sim" checked="checked" /> Sim
										</div>
										<div class="col-sm-2">
											<input type="radio" class="radio radio-inline" name="acervo_tecnico" value="nao" /> Não
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
            }
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
			<button type="button" id="modalProfessionalExperience" onclick="if (validationProfessionalExperience()) { addRowProfessionalExperiences(); }" class="btn btn-primary">Adicionar</button>
		</div>
	</div>
</div>