﻿@model Web.Areas.Dashboard.Models.WorkerSearchViewModel

<div class="row block">
    <div class="row">
        @using (Html.BeginForm("SearchWorker", "Panel", FormMethod.Post, new { @id = "searchWorker", @class = "form -horizontal" }))
				{
            <div class="col-md-12 pull-left">
                <div class="form-group-sm col-sm-2">
                    <div class="form-material form-material-success">
                        <label>Residência</label>
                        @Html.TextBoxFor(model => model.Residence, new { @placeholder = "Palavra Chave", @class = "form-control input-sm push-10-t", onblur = @"validateEmptyFields(this, searchWorker);" })
                    </div>
                </div>
                <div class="form-group-sm col-sm-2">
                    <div class="form-material form-material-success">
                        <label>Formação</label>
                        @Html.DropDownListFor(model => model.Course, ViewBag.GraduatedIn as SelectList, "Selecione", new { @class = "form-control input-sm push-10-t", onchange = @"form.submit();" })
                    </div>
                </div>
                <div class="form-group-sm col-sm-2">
                    <div class="form-material form-material-success">
                        <label>Tempo de Formação</label>
                        @Html.TextBoxFor(model => model.TrainingTime, new { @placeholder = "Tempo de Formação", @type = "number", @class = "form-control input-sm push-10-t", onblur = @"validateEmptyFields(this, searchWorker);" })
                    </div>
                </div>
                <div class="form-group-sm col-sm-2">
                    <div class="form-material form-material-success">
                        <label>Titulação</label>
                        @Html.DropDownListFor(model => model.Title, new List<SelectListItem> {
                                                                                                new SelectListItem { Text = "Graduação", Value = "Graduação" },
                                                                                                new SelectListItem { Text = "Especialização", Value = "Especialização" },
                                                                                                new SelectListItem { Text = "Mestrado", Value = "Mestrado" } ,
                                                                                                new SelectListItem { Text = "Doutorado", Value = "Doutorado" }
                                                        }, "Selecione", new { @class = "form-control push-10-t", @title = "Selecione", onchange = @"form.submit();" })
                    </div>
                </div>
                <div class="form-group-sm col-sm-2">
                    <div class="form-material form-material-success">
                        <label>Área de Atividade</label>
                        @Html.DropDownListFor(model => model.ActivityAreaId, ViewBag.ActivityArea as SelectList, "Selecione", new { @class = "form-control input-sm push-10-t", onchange = @"form.submit();" })
                    </div>
                </div>
                <div class="form-group-sm col-sm-2">
                    <div class="form-material form-material-success">
                        <label>Acervo Técnico</label>
                        @Html.DropDownListFor(model => model.TechnicalAssets,
                                            new List<SelectListItem> { new SelectListItem { Text = "Sim", Value = "true" },
                                            new SelectListItem { Text = "Não", Value = "false" } }, "Selecione",
                                    new { @class = "form-control input-sm push-10-t", @id = "acervoTecnico", onchange = @"form.submit();" })
                    </div>
                </div>
            </div>
            <div class="col-md-12 pull-left">
                <div class="form-group-sm col-sm-2">
                    <div class="form-material form-material-success">
                        <label>Endereço</label>
                        @Html.TextBoxFor(model => model.WordExperienceKeyWorker, new { @class = "form-control input-sm push-10-t", @placeholder = "Palavra Chave", onblur = @"validateEmptyFields(this, searchWorker);" })
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<table class="table table-bordered table-striped js-dataTable-full">
	<thead>
		<tr>
			<th>Residência</th>
			<th>Formação Acadêmica</th>
			<th>Ano de Conclusão</th>
			<th>Titulação</th>
			<th>Área de Atividade</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@if (Model != null)
		{
			foreach (var item in Model.Workers)
			{
						<tr>
							<td>@item.Address.Street - @item.Address.City, @item.Address.State </td>
							@if (item.GraduatedIn.Count > 1)
							{
									<td>@item.GraduatedIn.FirstOrDefault().Course + ...</td>
							}
							else
							{
									<td>@item.GraduatedIn.FirstOrDefault().Course</td>
							}

							<td>@item.GraduatedIn.FirstOrDefault().ConclusionYear</td>
							<td>@item.GraduatedIn.FirstOrDefault().Title</td>
							<td>@item.ProfessionalExperiences.FirstOrDefault().ActivityArea.Description</td>

							<td width="15%" style="text-align:center;">
								<div class="btn-group">
									<a class="btn btn-xs btn-default modalLeadDetailsWorker" data-id="@item.Id" data-toggle="tooltip" title="" data-original-title="Ver detalhes do lead"><i class="si si-magnifier"></i></a>
									@*<a class="btn btn-xs btn-success modalLeadPrePurchaseWorker" data-id="@item.Id" data-toggle="tooltip" title="" data-original-title="Abrir contato">Comprar Lead</a>*@
								</div>
							</td>
						</tr>
			}
		}
	</tbody>
</table>