﻿@model Web.Areas.Dashboard.Models.CompanySearchViewModel
<div class="block">
	<div class="row">
		@using (Html.BeginForm("SearchCompany", "Panel", FormMethod.Post, new { id = "searchCompany", @class = "form-horizontal" }))
		{
				<div class="row">
					<div class="col-lg-12">
						<div class="form-group-sm col-sm-6">
							<div class="form-material form-material-success" style="margin-top: 20px !important;">
								<label>Área de Atividade</label>
								@Html.DropDownListFor(model => model.HiveOfActivityId, ViewBag.HiveOfActivity as SelectList, "Selecione", new { @class = "form-control selectpicker input-sm", onchange = @"form.submit();" })
							</div>
						</div>

						<div class="form-group-sm col-sm-6">
							<div class="form-material form-material-success" style="margin-top: 20px !important;">
								<label>Especialidade</label>
								@Html.DropDownListFor(model => model.SpecialtyId, ViewBag.SpecialtyCompany as SelectList, "Selecione", new { @class = "form-control selectpicker input-sm", onchange = @"form.submit();" })
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-lg-12">
						<div class="form-group-sm col-sm-6">
							<div class="form-material form-material-success">
								<label>Localidade</label>
								@Html.TextBoxFor(model => model.Localization, new { @placeholder = "Palavra Chave", @class = "form-control input-sm", onblur = @"validateEmptyFields(this, searchCompany);" })
							</div>
						</div>

						<div class="form-group-sm col-sm-6">
							<div class="form-material form-material-success">
								<label>Experiência</label>
								@Html.TextBoxFor(model => model.WordExperienceKeyCompany, new { @placeholder = "Palavra Chave", @class = "form-control input-sm", onblur = @"validateEmptyFields(this, searchCompany);" })
							</div>
						</div>
					</div>
				</div>
		}
	</div>
</div>

<table class="table table-bordered table-striped js-dataTable-full">
	<thead>
		<tr>
			<th>Data</th>
			<th>Área de Atividade</th>
			<th>Especialidade</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@if (Model != null)
		{
			foreach (var item in Model.Companies)
			{
						<tr>
							<td>@item.CreatedDateTime.ToShortDateString()</td>

							@if (item.HiveOfActivities.Count != 0)
							{
								if (item.HiveOfActivities.Count > 1)
								{
											<td>@item.HiveOfActivities.FirstOrDefault().Description + ...</td>
								}
								else
								{
											<td>@item.HiveOfActivities.FirstOrDefault().Description</td>
								}
							}
							@if (item.Specialties.Count != 0)
							{
								if (item.Specialties.Count > 1)
								{
											<td>@item.Specialties.FirstOrDefault().Description + ...</td>
								}
								else
								{
											<td>@item.Specialties.FirstOrDefault().Description</td>
								}
							}

							<td width="15%" style="text-align:center;">
								<div class="btn-group">
									<a class="btn btn-xs btn-default modalLeadDetailsCompany" data-id="@item.Id" data-toggle="tooltip" title="" data-original-title="Ver detalhes do lead"><i class="si si-magnifier"></i></a>
									@*<a class="btn btn-xs btn-success modalLeadPrePurchaseCompany" data-id="@item.Id" data-toggle="tooltip" title="" data-original-title="Abrir contato">Comprar Lead</a>*@
								</div>
							</td>
						</tr>
			}
		}
	</tbody>
</table>