﻿
/* Login */
.signup-or-separator {
    background: transparent none repeat scroll 0px 0px;
    color: #959595;
    float: left;
    font-size: 14px;
    font-weight: bold;
    height: 34px;
    margin: 0px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}

.signup-or-separator .text {
    background-color: #FDFDFD;
    line-height: 36px;
    padding: 0px 10px;
}

.signup-or-separator hr {
    margin: -20px auto 10px;
}

.panel-body {    
    padding: 0 !important;
    padding-left:15px !important;
}

.avatar-company {    
    height: 20px;
    margin-right: 7px;
}

select.bs-select-hidden, 
select.selectpicker {
    display: block !important;
}
