﻿@model Web.Models.AlunoViewModel
@{
		ViewBag.Title = "Um call-to-action bem convincente!";
}

<div id="page-container" class="header-navbar-fixed header-navbar-transparent">
	<!-- Header -->
	<header id="header-navbar" class="content-mini content-mini-full">
		<div class="content-boxed">
			<ul class="js-nav-main-header nav-main-header pull-right">
				<li class="text-right hidden-md hidden-lg">
					<button class="btn btn-link text-white" data-toggle="class-toggle" data-target=".js-nav-main-header" data-class="nav-main-header-o" type="button">
						<i class="fa fa-times"></i>
					</button>
				</li>
				<li><a href="@Url.Action("Index", "Auth")">Login</a></li>
			</ul>
		</div>
	</header>
	<!-- END Header -->
	<!-- Main Container -->
	<main id="main-container">
		<div id="inicio" class="bg-image" style="background-image: url('/Content/img/various/fundo.jpg');">
			<div class="hero-section">
				<section class="content content-full content-boxed overflow-hidden" style="margin-top:100px;">
					<div class="push-100-t push-50 text-center">
                        <a href="/">
                            <img src="~/Content/img/logo.png"/>
                        </a>
						<h2 class="h4 text-white-op push-50 visibility-hidden" data-toggle="appear" data-class="animated fadeInDown">
                            Encontre Pessoas, Professores e Fóruns quando necessário
                        </h2>
						<a class="btn btn-noborder btn-lg btn-warning visibility-hidden" data-toggle="appear" data-class="animated bounceIn" data-timeout="800" href="@Url.Action("Aluno", "Register")">
                            Sou Novo Aluno
                        </a>
                        <a class="btn btn-noborder btn-lg btn-warning visibility-hidden" data-toggle="appear" data-class="animated bounceIn" data-timeout="800" href="@Url.Action("Professor", "Register")">
                            Sou Novo Professor
                        </a>
					</div>
				</section>
			</div>
		</div>
	</main>
	<!-- END Main Container -->
</div>
@section scripts{
	@Scripts.Render("~/bundles/jqueryval")
	@Scripts.Render("~/bundles/jqueryui")
}
