﻿
@{
    ViewBag.Title = "Thanks";
    Layout = "~/Views/Shared/_LayoutBlank.cshtml";
}

<!-- Error Content -->
<div class="content bg-white text-center pulldown overflow-hidden">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <!-- Error Titles -->
            <div class="text-center">
                <img src="~/Content/img/logo.png" />
            </div>
            <h1 class="font-s60 font-w700 text-uppercase text-primary animated bounceInDown push-50-t">Obrigado!</h1>
            <h2 class="h3 font-w300 push-50 animated fadeInUp">Seu cadastro foi realizado e em breve encontraremos o carro exato na loja ideal pra você!</h2>
            <!-- END Error Titles -->
            <div class="text-center">
                <a href="/" class="btn btn-primary">Voltar para a Home</a>
            </div>
            <div class="push-50-t"></div>
        </div>
    </div>
</div>
<!-- END Error Content -->