﻿@model Web.Models.ForumViewModel

@{
    ViewBag.Title = "Criar Fórum";

}
<div class="content bg-gray-lighter">
    <div class="row items-push">
        <div class="col-sm-7"><h1 class="page-heading">Criar Fórum</h1></div>
        <div class="col-sm-5 text-right hidden-xs">
            <ol class="breadcrumb push-10-t">
                <li><a class="link-effect" href="@Url.Action("Index", "Home")">Home</a></li>
                <li>Criar Fórum</li>
            </ol>
        </div>
    </div>
</div>
<div class="content">
    <div class="block">
        <div class="block-content">
            <div>
                <div class="">
                    <div class="push-30-t push-20 animated fadeIn">
                        @using (Html.BeginForm("Create", "Forum", FormMethod.Post, new { @class = "form-horizontal" }))
                        {
                            @Html.AntiForgeryToken()

                            <div class="form-horizontal">
                                <div class="text-center">
                                    <h4>Criar Novo Fórum</h4>
                                </div>
                                <hr />

                                <div class="form-group">
                                    <div class="col-xs-12">
                                        <div class="form-material form-material-success">
                                            @Html.TextBoxFor(model => model.NomeForum, new { @class = "form-control", @placeholder = "Nome do Fórum", @id = "textFullName" })
                                            @Html.LabelFor(model => model.NomeForum)
                                            @Html.ValidationMessageFor(m => m.NomeForum, null, new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-xs-12">
                                        <div class="form-material form-material-success">
                                            @Html.TextBoxFor(model => model.Curso, new { @class = "form-control", @placeholder = "Curso de Referência", @id = "textFullName" })
                                            @Html.LabelFor(model => model.Curso)
                                            @Html.ValidationMessageFor(m => m.Curso, null, new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-10">
                                        <input type="submit" value="Create" class="btn btn-default" />
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
