﻿@model IEnumerable<Web.Models.ForumViewModel>
@{
    ViewBag.Title = "Todos os Foruns";

}
<div class="content bg-gray-lighter">
    <div class="row items-push">
        <div class="col-sm-7"><h1 class="page-heading">Todos os Foruns</h1></div>
        <div class="col-sm-5 text-right hidden-xs">
            <ol class="breadcrumb push-10-t">
                <li><a class="link-effect" href="@Url.Action("Index", "Home")">Home</a></li>
                <li>Todos os Foruns</li>
            </ol>
        </div>
    </div>
</div>
<div class="content">
    <div class="block">
        <div class="block-content">
            <p>
                <a class="btn btn-lg btn-success" href="@Url.Action("Create", "Forum")" data-original-title="Criar Novo Fórum">Criar Novo Fórum</a>
            </p>
            <table class="table table-bordered table-striped js-dataTable-full">
                <thead>
                    <tr>
                        <th>Data da Criação</th>
                        <th>Nome do Fórum</th>
                        <th>Curso de Referência</th>
                        <th>Criador</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null)
                    {
                        foreach (var item in Model)
                        {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.CreateDate)</td>
                                <td>@Html.DisplayFor(modelItem => item.NomeForum)</td>
                                <td>@Html.DisplayFor(modelItem => item.Curso)</td>
                                <td>@Html.DisplayFor(modelItem => item.AlunoCriador.FullName)</td>
                                <td>
                                    <a class="btn btn-xs btn-success modalOpportunityPrePurchase" href="@Url.Action("Index", "Mensagens", new { id = item.Id })" data-toggle="tooltip" title="" data-original-title="Mensagens">Mensagens</a>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

