﻿@model Web.Models.ChangePasswordViewModel

@{
    Layout = "~/Views/Shared/_LayoutInternal.cshtml";
}

@{
    ViewBag.Title = "Edit";
    ViewBag.FullName = Model.FullName;
    ViewBag.UserId = Model.Id;
    ViewBag.UserImg = Model.Id + ".jpg";
}
<!-- Início Perfil Fornecedor -->
<div class="perfil-fornecedor">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-xs-12">
                <div class="nav-esquerda">
                    <div class="img-perfil text-center">
                        <img src="/Uploads/@ViewBag.UserImg" onerror="this.onerror = null; this.src = '/Content/images/img-perfil.jpg'; " id="img-perfil" width="200" height="200" class="img-responsive img-thumbnail">
                        <div class="text-center">
                            @Html.ActionLink("Editar Perfil", "Edit/" + Model.Id, new { }, new { @class = "btn-editar-perfil" })
                        </div>
                    </div>
                    <div class="list-group">
                        <a href="@Url.Action("Index", "Providers")" class="list-group-item active">Home</a>
                        <a href="@Url.Action("LeadsPanel", "Providers")" class="list-group-item">Painel de Leads</a>
                        <a href="@Url.Action("Leads", "Providers")" class="list-group-item">Leads comprados</a>
                        <a href="@Url.Action("Products", "Providers")" class="list-group-item">Produtos</a>
                    </div>
                </div>
            </div>
            <div class="col-md-9 col-xs-12">
                <div class="wrap-perfil">
                    <div class="head-wrap-perfil">
                        <h3>Troca de Senha</h3>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-xs-12">

                            @using (Html.BeginForm("ChangePassword", "Providers", FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()

                                <div class="form-horizontal">
                                    <hr />

                                    @Html.ValidationSummary("", new { @class = "text-danger" })
                                    <p class="text-success">@ViewBag.StatusMessage</p>

                                    <div class="form-group">
                                        <label class="control-label col-md-2" for="OldPassword">Senha Antiga</label>
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.OldPassword, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.OldPassword, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-2" for="NewPassword">Nova Senha</label>
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.NewPassword, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-2" for="ConfirmPassword">Confirme a Nova Senha</label>
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-md-offset-2 col-md-10">
                                            <input type="submit" value="Salvar" class="btn btn-success" />
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
