﻿@model Domain.Models.Provider

@{
    Layout = "~/Views/Shared/_LayoutInternal.cshtml";
}

@{
    ViewBag.Title = "Edit";
    ViewBag.FullName = Model.FullName;
    ViewBag.UserId = Model.Id;
    ViewBag.UserImg = Model.Id + ".jpg";
}
<!-- Início Perfil Fornecedor -->
<div class="perfil-fornecedor">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-xs-12">
                <div class="nav-esquerda">
                    <div class="img-perfil text-center">
                        <img src="/Uploads/@ViewBag.UserImg" onerror="this.onerror = null; this.src = '/Content/images/img-perfil.jpg'; " id="img-perfil" width="200" height="200" class="img-responsive img-thumbnail">
                        <div class="text-center">
                            <input type="file" name="file_upload" id="file_upload" />
                            <!-- <a href="#" class="btn-editar-perfil">Upload foto <i class="fa fa-arrow-circle-o-up"></i></a> -->
                        </div>
                    </div>
                    <div class="list-group">
                        <a href="@Url.Action("Index", "Providers")" class="list-group-item active">Home</a>
                        <a href="@Url.Action("LeadsPanel", "Providers")" class="list-group-item">Painel de Leads</a>
                        <a href="@Url.Action("Leads", "Providers")" class="list-group-item">Leads comprados</a>
                        <a href="@Url.Action("Products", "Providers")" class="list-group-item">Produtos</a>
                    </div>
                </div>
            </div>
            <div class="col-md-9 col-xs-12">
                <div class="wrap-perfil">
                    <div class="head-wrap-perfil">
                        <h3>Editar Perfil do Fornecedor</h3>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-xs-12">

                            @using (Html.BeginForm())
                            {
                                @Html.AntiForgeryToken()

                                <div class="form-horizontal">
                                    <hr />
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    @Html.HiddenFor(model => model.Id)

                                    <div class="form-group">
                                        <label class="control-label col-md-2" for="FullName">Responsável</label>
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.FullName, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.FullName, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-2" for="PhoneNumber">Telefone</label>
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control", @mask = "(99) 9999-9999" } })
                                            @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-2" for="PhoneNumber">Telefone Celular</label>
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.MobilePhone, new { htmlAttributes = new { @class = "form-control", @mask = "(99) 9999-9999?9" } })
                                            @Html.ValidationMessageFor(model => model.MobilePhone, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-2" for="CompanyName">Razão Social</label>
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.CompanyName, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.CompanyName, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.CNPJ, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.CNPJ, new { htmlAttributes = new { @class = "form-control", @mask = "99.999.999/9999-99" } })
                                            @Html.ValidationMessageFor(model => model.CNPJ, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-md-offset-2 col-md-10">
                                            <a href="@Url.Action("ChangePassword")" class="btn btn-default btn-radius3">
                                                Mudar Senha
                                            </a>
                                            <input type="submit" value="Salvar" class="btn btn-success" />
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
