﻿@model ProviderViewModel

@{
    Layout = "~/Views/Shared/_LayoutInternal.cshtml";
}

@{
    ViewBag.Title = "Details";
    ViewBag.FullName = Model.Provider.FullName;
    ViewBag.UserId = Model.Provider.Id;
    ViewBag.UserImg = Model.Provider.Id + ".jpg";
}

<div class="content content-boxed">
    <!-- User Header -->
    <div class="block">
        <!-- Basic Info -->
        <div class="bg-image">
            <div class="block-content bg-primary-dark-op text-center overflow-hidden">
                <div class="push-30-t push animated fadeInDown">
                    <img class="img-avatar img-avatar96 img-avatar-thumb" src="/Uploads/@ViewBag.UserImg" onerror="this.onerror = null; this.src = '/Content/img/avatars/avatar4.jpg'; " id="img-perfil" width="96" height="96" />
                </div>
                <div class="push-30 animated fadeInUp">
                    <h2 class="h4 font-w600 text-white push-5">@ViewBag.FullName</h2>
                    <h3 class="h5 text-gray">@Model.Provider.CompanyName</h3>
                </div>
            </div>
        </div>
        <!-- END Basic Info -->
        <!-- Stats -->
        <div class="block-content text-center">
            <div class="row items-push text-uppercase">
                <div class="col-xs-12 col-sm-4">
                    <div class="font-w700 text-gray-darker animated fadeIn">Leads gerados</div>
                    <span class="h2 font-w300 text-primary animated flipInX">@Model.Leads</span>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <div class="font-w700 text-gray-darker animated fadeIn">Leads comprados</div>
                    <span class="h2 font-w300 text-primary animated flipInX">@Model.PurchasedLeads</span>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <div class="font-w700 text-gray-darker animated fadeIn">%</div>
                    <span class="h2 font-w300 text-primary animated flipInX">@String.Format("{0:f2}", Model.PercentageLeads) %</span>
                </div>
            </div>
        </div>
        <!-- END Stats -->
    </div>
    <!-- END User Header -->
    <!-- Main Content -->
    <div class="row">
        <div class="col-sm-5 col-sm-push-7 col-lg-4 col-lg-push-8">
            <div class="block block-bordered">
                <div class="block-header">
                    <h3 class="block-title">Plano @Html.DisplayFor(model => model.Provider.ProviderPlan)</h3>
                </div>
                <div class="block-content">
                    <div class="pull-r-l pull-t push">
                        <table class="block-table text-center bg-gray-lighter border-b">
                            <tbody>
                                <tr>
                                    <td class="border-r" style="width: 50%;">
                                        <div class="h1 font-w700"><a href="@Url.Action("Plans", "Providers")">CRÉDITOS @Html.DisplayFor(model => model.Provider.CurrentBalance)</a></div>
                                        <div class="h5 text-muted text-uppercase push-5-t">Saldo atual</div>
                                    </td>
                                    <td>
                                        <div class="push-30 push-30-t">
                                            <i class="si si-wallet fa-3x text-black-op"></i>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-7 col-sm-pull-5 col-lg-8 col-lg-pull-4">
            <!-- Timeline -->
            <div class="block block-opt-refresh-icon6">
                <div class="block-header">
                    <ul class="block-options">
                        <li>
                            <button type="button" data-toggle="block-option" data-action="fullscreen_toggle"></button>
                        </li>
                        <li>
                            <button type="button" data-toggle="block-option" data-action="refresh_toggle" data-action-mode="demo"><i class="si si-refresh"></i></button>
                        </li>
                    </ul>
                    <h3 class="block-title"><i class="fa fa-newspaper-o"></i> Updates</h3>
                </div>
                <div class="block-content">
                    <!-- Facebook Notification -->
                    <div class="block block-transparent pull-r-l">
                        <div class="block-header bg-gray-lighter">
                            <ul class="block-options">
                                <li>
                                    <span><em class="text-muted">3 hrs ago</em></span>
                                </li>
                                <li>
                                    <span><i class="fa fa-facebook text-primary"></i></span>
                                </li>
                            </ul>
                            <h3 class="block-title">+ 290 Page Likes</h3>
                        </div>
                        <div class="block-content">
                            <p class="font-s13">This is great, keep it up!</p>
                        </div>
                    </div>
                    <!-- END Facebook Notification -->
                    <!-- Generic Notification -->
                    <div class="block block-transparent pull-r-l">
                        <div class="block-header bg-gray-lighter">
                            <ul class="block-options">
                                <li>
                                    <span><em class="text-muted">4 hrs ago</em></span>
                                </li>
                                <li>
                                    <span><i class="fa fa-briefcase text-modern"></i></span>
                                </li>
                            </ul>
                            <h3 class="block-title">3 New Products were added!</h3>
                        </div>
                        <div class="block-content block-content-full">
                            <a class="item item-rounded push-10-r bg-info" data-toggle="tooltip" title="MyPanel" href="javascript:void(0)">
                                <i class="si si-rocket text-white-op"></i>
                            </a>
                            <a class="item item-rounded push-10-r bg-amethyst" data-toggle="tooltip" title="Project Time" href="javascript:void(0)">
                                <i class="si si-calendar text-white-op"></i>
                            </a>
                            <a class="item item-rounded push-10-r bg-city" data-toggle="tooltip" title="iDashboard" href="javascript:void(0)">
                                <i class="si si-speedometer text-white-op"></i>
                            </a>
                        </div>
                    </div>
                    <!-- END Generic Notification -->
                    <!-- Twitter Notification -->
                    <div class="block block-transparent pull-r-l">
                        <div class="block-header bg-gray-lighter">
                            <ul class="block-options">
                                <li>
                                    <span><em class="text-muted">12 hrs ago</em></span>
                                </li>
                                <li>
                                    <span><i class="fa fa-twitter text-info"></i></span>
                                </li>
                            </ul>
                            <h3 class="block-title">+ 1150 Followers</h3>
                        </div>
                        <div class="block-content">
                            <p class="font-s13">You’re getting more and more followers, keep it up!</p>
                        </div>
                    </div>
                    <!-- END Twitter Notification -->
                    <!-- System Notification -->
                    <div class="block block-transparent pull-r-l">
                        <div class="block-header bg-gray-lighter">
                            <ul class="block-options">
                                <li>
                                    <span><em class="text-muted">1 day ago</em></span>
                                </li>
                                <li>
                                    <span><i class="fa fa-database text-smooth"></i></span>
                                </li>
                            </ul>
                            <h3 class="block-title">Database backup completed!</h3>
                        </div>
                        <div class="block-content">
                            <p class="font-s13">Download the <a href="javascript:void(0)">latest backup</a>.</p>
                        </div>
                    </div>
                    <!-- END System Notification -->
                    <!-- Social Notification -->
                    <div class="block block-transparent pull-r-l">
                        <div class="block-header bg-gray-lighter">
                            <ul class="block-options">
                                <li>
                                    <span><em class="text-muted">2 days ago</em></span>
                                </li>
                                <li>
                                    <span><i class="fa fa-user-plus text-success"></i></span>
                                </li>
                            </ul>
                            <h3 class="block-title">+ 5 Friend Requests</h3>
                        </div>
                        <div class="block-content">
                            <ul class="nav-users push">
                                <li>
                                    <a href="base_pages_profile.html">
                                        <img class="img-avatar" src="assets/img/avatars/avatar7.jpg" alt="">
                                        <i class="fa fa-circle text-success"></i> Rebecca Reid
                                        <div class="font-w400 text-muted"><small>Web Designer</small></div>
                                    </a>
                                </li>
                                <li>
                                    <a href="base_pages_profile.html">
                                        <img class="img-avatar" src="assets/img/avatars/avatar13.jpg" alt="">
                                        <i class="fa fa-circle text-success"></i> Jack Greene
                                        <div class="font-w400 text-muted"><small>Graphic Designer</small></div>
                                    </a>
                                </li>
                                <li>
                                    <a href="base_pages_profile.html">
                                        <img class="img-avatar" src="assets/img/avatars/avatar2.jpg" alt="">
                                        <i class="fa fa-circle text-warning"></i> Helen Silva
                                        <div class="font-w400 text-muted"><small>Photographer</small></div>
                                    </a>
                                </li>
                                <li>
                                    <a href="base_pages_profile.html">
                                        <img class="img-avatar" src="assets/img/avatars/avatar15.jpg" alt="">
                                        <i class="fa fa-circle text-warning"></i> Dennis Ross
                                        <div class="font-w400 text-muted"><small>Copywriter</small></div>
                                    </a>
                                </li>
                                <li>
                                    <a href="base_pages_profile.html">
                                        <img class="img-avatar" src="assets/img/avatars/avatar10.jpg" alt="">
                                        <i class="fa fa-circle text-danger"></i> Vincent Sims
                                        <div class="font-w400 text-muted"><small>UI Designer</small></div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- END Social Notification -->
                    <!-- System Notification -->
                    <div class="block block-transparent pull-r-l">
                        <div class="block-header bg-gray-lighter">
                            <ul class="block-options">
                                <li>
                                    <span><em class="text-muted">1 week ago</em></span>
                                </li>
                                <li>
                                    <span><i class="fa fa-cog text-primary-dark"></i></span>
                                </li>
                            </ul>
                            <h3 class="block-title">System updated to v2.02</h3>
                        </div>
                        <div class="block-content">
                            <p class="font-s13">Check the complete changelog at the <a href="javascript:void(0)">activity page</a>.</p>
                        </div>
                    </div>
                    <!-- END System Notification -->
                    <!-- Generic Notification -->
                    <div class="block block-transparent pull-r-l">
                        <div class="block-header bg-gray-lighter">
                            <ul class="block-options">
                                <li>
                                    <span><em class="text-muted">2 weeks ago</em></span>
                                </li>
                                <li>
                                    <span><i class="fa fa-briefcase text-modern"></i></span>
                                </li>
                            </ul>
                            <h3 class="block-title">1 New Product was added!</h3>
                        </div>
                        <div class="block-content block-content-full">
                            <a class="item item-rounded push-10-r bg-modern" data-toggle="tooltip" title="eSettings" href="javascript:void(0)">
                                <i class="si si-settings text-white-op"></i>
                            </a>
                        </div>
                    </div>
                    <!-- END Generic Notification -->
                    <!-- System Notification -->
                    <div class="block block-transparent pull-r-l">
                        <div class="block-header bg-gray-lighter">
                            <ul class="block-options">
                                <li>
                                    <span><em class="text-muted">2 months ago</em></span>
                                </li>
                                <li>
                                    <span><i class="fa fa-cog text-primary-dark"></i></span>
                                </li>
                            </ul>
                            <h3 class="block-title">System updated to v2.01</h3>
                        </div>
                        <div class="block-content">
                            <p class="font-s13">Check the complete changelog at the <a href="javascript:void(0)">activity page</a>.</p>
                        </div>
                    </div>
                    <!-- END System Notification -->
                </div>
            </div>
            <!-- END Timeline -->
        </div>
    </div>
    <!-- END Main Content -->
</div>