﻿@model ProviderLeadViewModel
@{
    Layout = "~/Views/Shared/_LayoutInternal.cshtml";
    ViewBag.Title = "Products";
    ViewBag.FullName = Model.Provider.FullName;
}

@section scripts{
    <script>
        $(function () {
            $(".modalLeadDetails").click(function () {
                var id = $(this).attr("data-id");
                $("#modal-content").load("/Leads/DetailsFull/" + id, function () {
                    $("#modal-content").modal();
                })
            });
        })
    </script>
    <script>
        $(function () {
            $(".leadStatus").change(function () {
                var id = $(this).attr("data-id");
                var status = $(this).val();
                $.ajax({
                    method: "GET",
                    url: "/Leads/UpdateStatus/" + id + "/" + status
                });
            });
        })
    </script>
}

<!-- Page Header -->
<div class="content bg-gray-lighter">
    <div class="row items-push">
        <div class="col-sm-7">
            <h1 class="page-heading">
                Leads comprados <small>Leads que você comprou.</small>
            </h1>
        </div>
        <div class="col-sm-5 text-right hidden-xs">
            <ol class="breadcrumb push-10-t">
                <li><a class="link-effect" href="@Url.Action("Index", "Providers")">Início</a></li>
                <li>Leads comprados</li>
            </ol>
        </div>
    </div>
</div>
<!-- END Page Header -->
<!-- Page Content -->
<div class="content">
    <!-- Dynamic Table Full -->
    <div class="block">
        <div class="block-content">
            <table class="table table-bordered table-striped js-dataTable-full">
                <thead>
                    <tr>
                        <th>Data</th>
                        <th>Nome</th>
                        <th>E-mail</th>
                        <th>Telefone</th>
                        <th>Status</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.LeadList != null)
                    {
                        foreach (var item in Model.LeadList)
                        {
                            <tr>
                                <td>@item.CreatedDateTime.ToShortDateString()</td>
                                <td>@Html.DisplayFor(modelItem => item.FullName)</td>
                                <td>@Html.DisplayFor(modelItem => item.Email)</td>
                                <td>@Html.DisplayFor(modelItem => item.PhoneNumber)</td>
                                <td>
                                    @Html.EnumDropDownListFor(modelItem => item.LeadStatus, new { @data_id = @item.Id, @class = "leadStatus" })
                                </td>
                                <td>
                                    <a href="#" data-id="@item.Id" class="btn glyphicon glyphicon-search btn-radius3 btn-default modalLeadDetails">
                                    </a>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
