﻿@model Web.Models.ProviderLeadViewModel

@{
    Layout = "~/Views/Shared/_LayoutInternal.cshtml";
}

@{
    ViewBag.Title = "Painel de Leads";
}

@section scripts{
    <script>
        $(function () {
            $(".modalLeadDetails").click(function () {
                var id = $(this).attr("data-id");
                $("#modal-content").load("/Leads/Details/" + id, function () {
                    $("#modal-content").modal();
                })
            });
        })
        $(function () {
            $(".modalLeadPrePurchase").click(function () {
                var id = $(this).attr("data-id");
                $("#modal-content").load("/Leads/PrePurchase/" + id, function () {
                    $("#modal-content").modal();
                })
            });
        })
    </script>
}
<div class="content bg-gray-lighter">
    <div class="row items-push">
        <div class="col-sm-7">
            <h1 class="page-heading">
                Painel de Leads <small>Comprar leads.</small>
            </h1>
        </div>
        <div class="col-sm-5 text-right hidden-xs">
            <ol class="breadcrumb push-10-t">
                <li><a class="link-effect" href="@Url.Action("Index", "Providers")">Início</a></li>
                <li>Painel de Leads</li>
            </ol>
        </div>
    </div>
</div>
<div class="content">
    <div class="block">
        <div class="block-content">
            <!-- DataTables init on table by adding .js-dataTable-full class, functionality initialized in js/pages/base_tables_datatables.js -->
            <table class="table table-bordered table-striped js-dataTable-full">
                <thead>
                    <tr>
                        <th>Data</th>
                        <th>Cidade</th>
                        <th>Marca</th>
                        <th>Modelo</th>
                        <th>Palavra-Chave</th>
                        <th>Preço</th>
                        <th>Ano</th>
                        <th>Preço do Lead</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.LeadList != null)
                    {
                        foreach (var item in Model.LeadList)
                        {

                            <tr>
                                <td>@item.CreatedDateTime.ToShortDateString()</td>
                                <td>@item.City</td>
                                <td>@item.Product.Brand</td>
                                <td>@item.Product.Model</td>
                                <td>@item.Product.Keyword</td>
                                <td>@item.Product.PriceMin a @item.Product.PriceMax</td>
                                <td>@item.Product.YearMin a @item.Product.YearMax</td>
                                <td>R$ @String.Format("{0:f2}", item.LeadPrice)</td>
                                <td>
                                    <div class="btn-group">
                                        <a class="btn btn-xs btn-default modalLeadDetails" data-id="@item.Id" data-toggle="tooltip" title="" data-original-title="Ver detalhes do lead"><i class="si si-magnifier"></i></a>
                                        <a class="btn btn-xs btn-success modalLeadPrePurchase" data-id="@item.Id" data-toggle="tooltip" title="" data-original-title="Abrir contato">Abrir contato</a>
                                    </div>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>