﻿@model Domain.Models.Provider
@{
    Layout = "~/Views/Shared/_LayoutInternal.cshtml";
}
@{
    ViewBag.Title = "Details";
    ViewBag.FullName = Model.FullName;
}
<div class="content bg-gray-lighter">
    <div class="row items-push">
        <div class="col-sm-8">
            <h1 class="page-heading">
                Planos de assinatura <small>Os melhores planos para sua empresa.</small>
            </h1>
        </div>
        <div class="col-sm-4 text-right hidden-xs">
            <ol class="breadcrumb push-10-t">
                <li><a class="link-effect" href="">Home</a></li>
                <li>Planos</li>
            </ol>
        </div>
    </div>
</div>
<div class="content">
    <div class="pricing-tables attached">
        <div class="row">
            <div class="col-sm-4">
                <!-- Startup Plan -->
                <a href="javascript:void(0);"
                   data-description="Plano Básico"
                   data-price="49.9"
                   data-success-callback="pagSeguroSuccess"
                   data-error-callback="pagSeguroErro"
                   class="block block-link-hover2 text-center ina-pagseguro-button">
                    <div class="block-header">
                        <h3 class="block-title">Plano Básico</h3>
                    </div>
                    <div class="block-content block-content-full bg-primary">
                        <div class="h1 font-w700 push-10">R$49,90</div>
                        <div class="h5 font-w300 text-white-op">por mês</div>
                    </div>
                    <div class="block-content">
                        <table class="table table-borderless table-condensed">
                            <tbody>
                                <tr>
                                    <td><strong>Plano trimestral</strong></td>
                                </tr>
                                <tr>
                                    <td><strong>Ativação de lead:</strong> Sim</td>
                                </tr>
                                <tr>
                                    <td><strong>Ativação indicação de venda:</strong> Não</td>
                                </tr>
                                <tr>
                                    <td><strong>Prazo de abertura:</strong> 48h</td>
                                </tr>
                                <tr>
                                    <td><strong>Desconto no lead:</strong> -</td>
                                </tr>
                                <tr>
                                    <td><strong>Abatimento do plano:</strong> Não</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="block-content block-content-mini block-content-full bg-gray-lighter">
                        <span class="btn btn-lg btn-primary">Assinar</span>
                    </div>
                </a>
                <!-- END Startup Plan -->
            </div>
            <div class="col-sm-4">
                <!-- Startup Plan -->
                <a href="javascript:void(0);"
                   data-description="Plano Ideal"
                   data-price="179.9"
                   data-success-callback="pagSeguroSuccess"
                   data-error-callback="pagSeguroErro"
                   class="block block-link-hover2 text-center ina-pagseguro-button">
                    <div class="block-header">
                        <h3 class="block-title">Plano Ideal</h3>
                    </div>
                    <div class="block-content block-content-full bg-success">
                        <div class="h1 font-w700 push-10 text-white">R$179,90</div>
                        <div class="h5 font-w300 text-white-op">por mês</div>
                    </div>
                    <div class="block-content">
                        <table class="table table-borderless table-condensed">
                            <tbody>
                                <tr>
                                    <td><strong>Plano trimestral</strong></td>
                                </tr>
                                <tr>
                                    <td><strong>Ativação de lead:</strong> Sim</td>
                                </tr>
                                <tr>
                                    <td><strong>Ativação indicação de venda:</strong> Não</td>
                                </tr>
                                <tr>
                                    <td><strong>Prazo de abertura:</strong> 5 dias úteis</td>
                                </tr>
                                <tr>
                                    <td><strong>Desconto no lead:</strong> 20%/td>
                                </tr>
                                <tr>
                                    <td><strong>Abatimento do plano:</strong> Sim</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="block-content block-content-mini block-content-full bg-gray-lighter">
                        <span class="btn btn-lg btn-success">Assinar</span>
                    </div>
                </a>
                <!-- END Startup Plan -->
            </div>
            <div class="col-sm-4">
                <!-- Startup Plan -->
                <a data-description="Plano Pro"
                   data-price="349.9"
                   data-success-callback="pagSeguroSuccess"
                   data-error-callback="pagSeguroErro"
                   class="block block-link-hover2 text-center ina-pagseguro-button"
                   href="javascript:void(0)">
                    <div class="block-header">
                        <h3 class="block-title">Plano Pro</h3>
                    </div>
                    <div class="block-content block-content-full bg-primary">
                        <div class="h1 font-w700 push-10">R$349,90</div>
                        <div class="h5 font-w300 text-white-op">por mês</div>
                    </div>
                    <div class="block-content">
                        <table class="table table-borderless table-condensed">
                            <tbody>
                                <tr>
                                    <td><strong>Plano trimestral</strong></td>
                                </tr>
                                <tr>
                                    <td><strong>Ativação de lead:</strong> Sim</td>
                                </tr>
                                <tr>
                                    <td><strong>Ativação indicação de venda:</strong> Não</td>
                                </tr>
                                <tr>
                                    <td><strong>Prazo de abertura:</strong> 5 dias úteis</td>
                                </tr>
                                <tr>
                                    <td><strong>Desconto no lead:</strong> 40%</td>
                                </tr>
                                <tr>
                                    <td><strong>Abatimento do plano:</strong> Sim</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="block-content block-content-mini block-content-full bg-gray-lighter">
                        <span class="btn btn-lg btn-primary">Assinar</span>
                    </div>
                </a>
                <!-- END Startup Plan -->
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script src="https://stc.sandbox.pagseguro.uol.com.br/pagseguro/api/v2/checkout/pagseguro.lightbox.js"></script>
    <script src="~/Scripts/ina.js"></script>
    <script>
        function pagSeguroSuccess() {
            window.location = '@Url.Action("Success", "Providers")';
        }

        function pagSeguroErro() {
            alert('Não foi possível realizar o pagamento. Tente novamente!');
        }
    </script>
}