﻿@model Web.Models.ProviderProductViewModel

@{
    Layout = "~/Views/Shared/_LayoutInternal.cshtml";
}

@{
    ViewBag.Title = "Products";
    ViewBag.FullName = Model.Provider.FullName;
}
<!-- Início Perfil Fornecedor -->
<div class="perfil-fornecedor">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-xs-12">
                <div class="nav-esquerda">
                    <div class="img-perfil text-center">
                        <img src="~/Content/images/img-perfil.jpg" alt="" class="img-responsive img-thumbnail">
                        <div class="text-center">
                            @Html.ActionLink("Editar Perfil", "Edit/" + Model.Provider.Id, new { }, new { @class = "btn-editar-perfil" })
                        </div>
                    </div>
                    <div class="list-group">
                        <a href="@Url.Action("Index", "Providers")" class="list-group-item">Home</a>
                        <a href="@Url.Action("LeadsPanel", "Providers")" class="list-group-item">Painel de Leads</a>
                        <a href="@Url.Action("Leads", "Providers")" class="list-group-item">Leads comprados</a>
                        <a href="@Url.Action("Products", "Providers")" class="list-group-item active">Produtos</a>
                    </div>
                </div>
            </div>
            <div class="col-md-9 col-xs-12">
                <div class="wrap-perfil">
                    <div class="head-wrap-perfil">
                        <h3>Cadastro de Produtos do Fornecedor</h3>
                    </div>
                    @using (Html.BeginForm("AddProduct", "Providers", FormMethod.Post, new { @class = "form-horizontal cadastro-prod-fornecedor", @onsubmit = "return validaCadastro();" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary("", new { @class = "text-danger" })
                        <div class="col-md-12 col-xs-12">
                            <div class="row">
                                <div class="form-group">
                                    <label for="" class="col-md-2 control-label">Segmento</label>
                                    <div class="col-md-6">
                                        <select id="TypeSolution" name="TypeSolution" class="form-control selectpicker">
                                            <option value="">Selecione</option>
                                            <option value="0">Economia de Energia</option>
                                            <option value="1">Economia de Água</option>
                                            <option value="4">Conforto Térmico</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-xs-12">
                            <div class="row">
                                <div class="form-group">
                                    <label for="" class="col-md-2 control-label">Produto</label>
                                    <div class="col-md-6">
                                        <select id="ProductType" name="ProductType" class="form-control selectpicker">
                                            <option value="">Selecione</option>
                                        </select>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-xs-12">
                            <div class="row">
                                <div class="form-group">
                                    <label for="" class="col-md-2 control-label"></label>
                                    <div class="col-md-5">
                                        <button type="submit" class="btn btn-success btn-radius3 btn-block">
                                            <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Adicionar aos meus produtos
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    <div class="row">
                        <div class="col-md-12">
                            <div class="table-responsive">
                                <table class="table table-hover table-curved">

                                    <thead>
                                        <tr>
                                            <td height="30" colspan="7" bgcolor="#f2f2f2">
                                                <h2 class="panel-title"><strong>Produtos Adicionados</strong></h2>
                                            </td>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <tr>
                                            <th height="30" bgcolor="#FFFFFF"><strong>Segmento</strong></th>
                                            <th height="30" bgcolor="#FFFFFF"><strong>Produto</strong></th>
                                            <th height="30" bgcolor="#FFFFFF"><strong>Remover</strong></th>
                                        </tr>

                                        @if (Model.ProviderProductList != null)
                                        {
                                            foreach (var item in Model.ProviderProductList)
                                            {

                                                <tr>
                                                    <td bgcolor="#FFFFFF">@Html.DisplayFor(modelItem => item.TypeSolution)</td>
                                                    <td bgcolor="#FFFFFF">@Html.DisplayFor(modelItem => item.ProductType)</td>
                                                    <td bgcolor="#FFFFFF">@Html.ActionLink(" ", "DeleteProduct/" + item.Id, new { }, new { @class = "fa fa-times" })</td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Fim Perfil Fornecedor -->
