﻿@model ChangePasswordViewModel

@{
    ViewBag.Title = "Alterar senha";    
}


<div class="modal-dialog">
    @if (!ViewData.ModelState.IsValid)
    {
        <div class="alert alert-danger" role="alert" style="margin: auto; margin-bottom: 20px; width: 100%;">
            @Html.ValidationSummary()
        </div>
    }
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">@ViewBag.Title</h4>
        </div>
        <div class="modal-body">
            @using (Html.BeginForm("ChangePassword", "Profile", FormMethod.Post, new { @class = "form-horizontal" }))
            {
                @Html.AntiForgeryToken()

                @Html.HiddenFor(x => x.UserType)
                <input type="hidden" class="returnUrl" name="returnUrl" value="@ViewBag.ReturnUrl" />

                <div class="form-group">
                    <label class="col-sm-3 control-label" for="E-mail">Senha atual</label>
                    <div class="col-sm-7">
                        @Html.PasswordFor(model => model.OldPassword, new { @class = "form-control", @placeholder = "Senha atual", @required = true })
                        @Html.ValidationMessageFor(m => m.OldPassword)
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label" for="Senha">Nova Senha</label>
                    <div class="col-sm-7">
                        @Html.PasswordFor(model => model.NewPassword, new { @class = "form-control", @placeholder = "Nova senha", @required = true })
                        @Html.ValidationMessageFor(m => m.NewPassword)
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label" for="Senha">Confirmação de Senha</label>
                    <div class="col-sm-7">
                        @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control", @placeholder = "Confirmação de senha", @required = true })
                        @Html.ValidationMessageFor(m => m.ConfirmPassword)
                    </div>
                </div>

                <div class="form-group">
                    <label for="" class="col-sm-3 control-label">&nbsp;</label>
                    <div class="col-md-7 text-right">
                        <button type="submit" class="btn btn-success btn-lg btn-block">Salvar</button>
                    </div>
                </div>
                <br>
            }
        </div>
    </div>
</div>

@section scripts {
<script>
	$('.close').on('click', function () {
		window.location = '@Url.Action("Index", "Home")';
	});
</script>
}