﻿@model Web.Models.EditProfileViewModel
@{
		Layout = "~/Areas/Dashboard/Views/Shared/_Layout.cshtml";
}
@{
		ViewBag.Title = "Editar Cadastro";
}
<div class="content bg-gray-lighter">
	<div class="row items-push">
		<div class="col-sm-7">
			<h1 class="page-heading">
				@ViewBag.Title
			</h1>
		</div>
		<div class="col-sm-5 text-right hidden-xs">
			<ol class="breadcrumb push-10-t">
				<li><a class="link-effect" href="@Url.Action("IndexCompany", "Panel", new { area = "Dashboard" })">Home</a></li>
				<li>@ViewBag.Title</li>
			</ol>
		</div>
	</div>
</div>
<!-- Início Perfil Fornecedor -->
<div class="perfil-fornecedor">
	<div class="container">
		@using (Html.BeginForm("Index", "Profile", FormMethod.Post, new { enctype = "multipart/form-data", @id = "formCompany" }))
		{
				<div class="row">
					<div class="col-md-3 col-sm-12">
						<div class="nav-esquerda">
							<div class="img-perfil text-center">
								<img src="https://studyplace.blob.core.windows.net/uploads/@Model.ImageUrl"
										 onerror="this.onerror = null; this.src = '/Content/img/avatars/avatar4.jpg'; "
										 id="ProfileImagePreview"
										 style="margin-top: 5px;"
										 width="200" height="200" class="img-responsive img-thumbnail">
								<div class="form-group" style="text-align: center;">
									<input type="text" readonly="" class="form-control floating-label"
												 style="text-align: center;"
												 placeholder="Alterar Imagem..." onclick="$('#inputFile').click();">
									<input type="file" id="inputFile" name="ProfileImage" multiple="" style="display: none;" onchange="readURL(this);">									
								</div>
								<a href="@Url.Action("ChangePassword", new { id="2" })" class="form-control floating-label btn-info" style="color: #fff;">
									Mudar Senha
								</a>
							</div>
						</div>
					</div>
					<div class="col-md-9 col-sm-12">
						<div class="wrap-perfil">
							<div class="row">
								@Html.AntiForgeryToken()
								@Html.ValidationSummary(true, "", new { @class = "text-danger" })
								@Html.HiddenFor(model => model.Id)
								@Html.HiddenFor(model => model.Email)

								<div class="form-group">
									<div class="col-sm-12">
										<div class="form-material form-material-primary floating">
											<label>Razão Social: *</label>
											@Html.TextBoxFor(model => model.CompanyName, new { @class = "form-control" })
											@Html.ValidationMessageFor(model => model.CompanyName, null, new { @class = "text-danger" })
										</div>
									</div>
								</div>

								<div class="form-group">
									<div class="col-sm-12">
										<div class="form-material form-material-primary floating">
											<label>Responsável: *</label>
											@Html.TextBoxFor(model => model.FullName, new { @class = "form-control" })
											@Html.ValidationMessageFor(model => model.FullName, null, new { @class = "text-danger" })
										</div>
									</div>
								</div>

								<div class="form-group">
									<div class="col-sm-12">
										<div class="form-material form-material-primary floating">
											<label>CNPJ: *</label>
											@Html.TextBoxFor(model => model.CNPJ, new { @class = "form-control" })
											@Html.ValidationMessageFor(model => model.CNPJ, null, new { @class = "text-danger" })
										</div>
									</div>
								</div>

								<div class="form-group">
									<div class="col-sm-12">
										<div class="form-material form-material-primary floating">
											<label>Telefone</label>
											@Html.TextBoxFor(model => model.PhoneNumber, new { @class = "form-control ina-phone-mask" })
											@Html.ValidationMessageFor(model => model.PhoneNumber, null, new { @class = "text-danger" })
										</div>
									</div>
								</div>

								<div class="form-group">
									<div class="col-sm-12" style="margin-top: 15px;">
										<div class="form-material form-material-primary floating">
											@Html.DropDownListFor(model => model.Legal, (IEnumerable<SelectListItem>)ViewBag.NaturezaJuridica, new { @class = "form-control selectpicker push-10-t", @title = "Selecione", @id = "naturezaJuridica" })
											<label>Natureza Jurídica: *</label>
											@Html.ValidationMessageFor(model => model.Legal, null, new { @class = "text-danger" })
										</div>
									</div>
								</div>

								<div class="form-group">
									<div class="col-sm-12" style="margin-top: 15px;">
										<div class="form-material form-material-primary floating">
											@Html.ListBoxFor(model => model.HiveOfActivitiesIds, ViewBag.HiveOfActivities as MultiSelectList, new { @class = "form-control selectpicker push-15-t", @title = "Selecione", @id = "ramoAtividade" })
											<label for="frontend-contact-msg">Ramos(s) de Atividade: *</label>
											@Html.ValidationMessageFor(model => model.HiveOfActivitiesIds, null, new { @class = "text-danger" })
										</div>
									</div>
								</div>

								<div class="form-group">
									<div class="col-sm-12" style="margin-top: 15px;">
										<div class="form-material form-material-primary floating">											
											@Html.ListBoxFor(model => model.SpecialtiesIds, ViewBag.Specialties as MultiSelectList, new { @class = "form-control selectpicker push-10-t", @title = "Selecione", @id = "especialidades" })
											<label for="frontend-contact-msg">Especialidade(s): *</label>
											@Html.ValidationMessageFor(model => model.SpecialtiesIds, null, new { @class = "text-danger" })
										</div>
									</div>
								</div>

								<div class="form-group">
									<div class="col-sm-12">
										<div class="form-material form-material-primary">
											<div id="divRegistration" class="row">
												<div class="col-sm-10">
													<label class="center-block push-10-t">Registro(s) em Conselho(s) de Classe:  *</label>
												</div>
												<div class="col-md-1">
													<a onclick="openModalRegistration();" href="#" class="btn glyphicon glyphicon-plus btn-radius3 btn-default"></a>
												</div>
											</div>
											@Html.ValidationMessageFor(model => model.RegistrationBoardOfClasses, null, new { @class = "text-danger", @id = "errorRegistration" })
										</div>
									</div>
								</div>

								<div class="form-group">
									<div class="col-sm-12">
										<table id="tableRegistration" class="table table-bordered">
											<thead>
												<tr>
													<th hidden>Id</th>
													<th><label class="text-capitalize">Conselho</label></th>
													<th><label class="text-capitalize">Registro</label></th>
													<th><label class="text-capitalize">Remover</label></th>
												</tr>
											</thead>
											<tbody>
												@if (Model.RegistrationBoardOfClasses != null)
												{
													foreach (var item in Model.RegistrationBoardOfClasses)
													{
																<tr>
																	<td hidden>@Html.DisplayFor(modelItem => item.Id)</td>
																	<td>@Html.DisplayFor(modelItem => item.Council)</td>
																	<td>@Html.DisplayFor(modelItem => item.Registration)</td>																	
																	<td style="text-align: center;">
																		<a href="#" onclick="removeRegistrationOnCouncil(this);" data-id="@item.Id">
																			<span class="btn btn-xs glyphicon glyphicon-remove btn-danger"></span>
																		</a>
																	</td>
																</tr>
}
												}
											</tbody>
										</table>
									</div>
								</div>

								<div class="form-group">
									<div class="col-sm-12">
										<div class="form-material form-material-primary">
											<label>Capital Social</label>
											@Html.TextBoxFor(model => model.ShareCapital, new { @placeholder = "Capital Social", @class = "form-control", @id = "capitalSocial" })
											@Html.ValidationMessageFor(model => model.ShareCapital, null, new { @class = "text-danger" })
										</div>
									</div>
								</div>

								<div class="form-group">
									<div class="col-sm-12">
										<div class="form-material form-material-primary">
											<div id="divAddress" class="row">
												<div class="col-md-10">
													<label class="center-block push-10-t">Endereço Completo da Sede: *</label>
												</div>
												<div class="col-md-1">
													<a href="#" onclick="openModalAddress();" class="btn glyphicon glyphicon-plus btn-radius3 btn-default"></a>
												</div>
											</div>
											@Html.ValidationMessageFor(model => model.Addresses, null, new { @class = "text-danger", @id ="errorAddress" })
										</div>
									</div>
								</div>

								<div class="form-group">
									<div class="col-sm-12">
										<table id="tableAddress" class="table table-bordered">
											<thead>
												<tr>
													<th><label class="text-capitalize">Rua e Número</label></th>
													<th><label class="text-capitalize">Cidade</label></th>
													<th><label class="text-capitalize">Estado</label></th>
													<th style="display: none;"><label class="text-capitalize">Filial?</label></th>
													<th><label class="text-capitalize">Remover</label></th>													
												</tr>
											</thead>
											<tbody>
												@if (Model.RegistrationBoardOfClasses != null)
												{
													foreach (var item in Model.Addresses)
													{
																<tr>
																	<td>@Html.DisplayFor(modelItem => item.Street)</td>
																	<td>@Html.DisplayFor(modelItem => item.City)</td>
																	<td>@Html.DisplayFor(modelItem => item.State)</td>
																	<td style="display: none;">@Html.DisplayFor(modelItem => item.FilialAddress)</td>
																	<td style="text-align: center;">
																		<a href="#" onclick="removeAddress(this);" data-id="@item.Id">
																			<span class="btn btn-xs glyphicon glyphicon-remove btn-danger"></span>
																		</a>
																	</td>
																</tr>
}
												}
											</tbody>
										</table>
									</div>
								</div>

								<div class="form-group">
									<div class="col-sm-12">
										<div class="form-material form-material-primary">
											<div class="row">
												<div class="col-md-10"><label class="center-block push-10-t">Portfólio: *</label></div>
												<div class="col-md-2 center-block">
													<a href="#" onclick="openModalPortfolio();" class="btn glyphicon glyphicon-plus btn-radius3 btn-default"></a>
												</div>
											</div>
											@Html.ValidationMessageFor(model => model.Portfolios, null, new { @class = "text-danger", @id = "errorPortfolio" })
										</div>
									</div>
								</div>

								<div class="form-group">
									<div id="divPortfolio" class="col-sm-12">
										<table id="tablePortfolio" class="table table-bordered" tabindex="-1">
											<thead>
												<tr>
													<th style="display:none"><label class="text-capitalize">ID Area</label></th>
													<th><label class="text-capitalize">Área de Atividade</label></th>
													<th><label class="text-capitalize">Nome do Projeto</label></th>
													<th style="display:none"><label class="text-capitalize">Cliente</label></th>
													<th style="display:none"><label class="text-capitalize">Data Inicial</label></th>
													<th style="display:none"><label class="text-capitalize">Data Final</label></th>
													<th style="display:none"><label class="text-capitalize">Descrição</label></th>
													<th style="display:none"><label class="text-capitalize">Responsável</label></th>
													<th><label class="text-capitalize">Remover</label></th>
												</tr>
											</thead>
											<tbody>
												@if (Model.RegistrationBoardOfClasses != null)
												{
													foreach (var item in Model.Portfolios)
													{
																<tr>
																	<td hidden>@Html.DisplayFor(modelItem => item.Id)</td>
																	<td>@Html.DisplayFor(modelItem => item.ActivityArea.Description)</td>
																	<td>@Html.DisplayFor(modelItem => item.ProjectName)</td>
																	<td hidden>@Html.DisplayFor(modelItem => item.Client)</td>
																	<td hidden>@Html.DisplayFor(modelItem => item.StartExecutionPeriod)</td>
																	<td hidden>@Html.DisplayFor(modelItem => item.EndExecutionPeriod)</td>
																	<td hidden>@Html.DisplayFor(modelItem => item.DescriptionAcitviesAndWork)</td>
																	<td hidden>@Html.DisplayFor(modelItem => item.ResponsibleForInformation)</td>																	
																	<td style="text-align: center;">
																		<a href="#" onclick="removePortfolio(this);" data-id="@item.Id">
																			<span class="btn btn-xs glyphicon glyphicon-remove btn-danger"></span>
																		</a>
																	</td>
																</tr>
}
												}
											</tbody>
										</table>
									</div>
								</div>

								<div class="form-group">
									<div class="col-sm-12">
										<div class="">
											<label>Resumo das Competências: *</label>
											@Html.TextAreaFor(model => model.SummaryOfSkills, new { @placeholder = "Descreva aqui suas principais competencias", @class = "form-control", @id = "resumoCmopetencias", @rows = 5 })
											@Html.ValidationMessageFor(model => model.SummaryOfSkills, null, new { @class = "text-danger" })
										</div>
									</div>
								</div>

								<div class="form-group">
									<div class="col-sm-4 pull-right">
										<input type="submit" style="width: 100%;" value="Salvar" class="btn btn-success" />
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
		}
	</div>
</div>

@section scripts{
	@Scripts.Render("~/bundles/jqueryval")
	@Scripts.Render("~/bundles/jqueryui")
	<script type="text/javascript">
		function readURL(input) {
			if (input.files && input.files[0]) {
				var reader = new FileReader();

				reader.onload = function (e) {
					$('#ProfileImagePreview').attr('src', e.target.result);
				};

				reader.readAsDataURL(input.files[0]);
			}
		}

		function openModalRegistration() {
			$("#modal-content").load("@Url.Action("OpenModalRegistration", "Profile")", function () {
				document.getElementById('divRegistration').scrollIntoView({ block: "start" });
				$("#modal-content").modal();
			});
		}

		function openModalAddress() {
			$("#modal-content").load("@Url.Action("OpenModalAddress", "Profile")", function () {
				document.getElementById('divAddress').scrollIntoView({ block: "start" });
				$("#modal-content").modal();
			});
		}

		function openModalPortfolio() {
			$("#modal-content").load("@Url.Action("OpenModalPortfolio", "Profile")", function () {
				document.getElementById('divPortfolio').scrollIntoView({ block: "start" });
				$("#modal-content").modal();
				configureDatePicker();
			});
		}

		function configureDatePicker() {
			$(".datepicker").datepicker({
				changeMonth: true,
				changeYear: true,
				dateFormat: 'dd/mm/yy',
				dayNames: ['Domingo', 'Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sábado'],
				dayNamesMin: ['D', 'S', 'T', 'Q', 'Q', 'S', 'S', 'D'],
				dayNamesShort: ['Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sáb', 'Dom'],
				monthNames: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
				monthNamesShort: ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'],
				nextText: 'Próximo',
				prevText: 'Anterior'
			});
		}

		function addRowToTableRegistration(obj) {
			$row = $('<tr>');
			$row.append('<td>' + obj.Council + '</td>'
				+ '<td>' + obj.Registration + '</td>'								
				+ '<td style="text-align: center;">'
				+ '<a href="#" onclick="removeRegistrationOnCouncil(this);" data-id="' + obj.Id + '">'
				+ '<span class="btn btn-xs glyphicon glyphicon-remove btn-danger"></span>'
				+ '</a></td>');
			
			$("#tableRegistration").append($row);
		}

		function addRowToTableAddress(obj) {
			$row = $('<tr>');
			$row.append('<td>' + obj.Street + '</td>'
				+ '<td>' + obj.City + '</td>'
				+ '<td>' + obj.State + '</td>'
				+ '<td style="display: none;">' + obj.FilialAddress + '</td>'
				+ '<td style="text-align: center;">'
				+ '<a href="#" onclick="removeAddress(this);" data-id="' + obj.Id + '">'
				+ '<span class="btn btn-xs glyphicon glyphicon-remove btn-danger"></span>'
				+ '</a></td>');
			
			$("#tableAddress").append($row);
		}

		function addRowToTablePortfolio(obj) {
			$row = $('<tr>');
			$row.append('<td>' + obj.ActivityAreaDescription + '</td>'
				+ '<td>' + obj.ProjectName + '</td>'								
				+ '<td style="text-align: center;">'
				+ '<a href="#" onclick="removePortfolio(this);" data-id="' + obj.Id + '">'
				+ '<span class="btn btn-xs glyphicon glyphicon-remove btn-danger"></span>'
				+ '</a></td>');
			$("#tablePortfolio").append($row);
		}

		function addRegistration() {
			var registration = {
			    Council: $('#conselhoModal option:selected').text(),
				Registration: $('#RegistroModal').val(),
				CompanyId: $("#hiddenCompanyId").val()
			}

			$.ajax({
				type: 'POST',
				url: '@Url.Action("InsertRegistration", "Profile")',
				data: { model: registration },
				success: function (result) {
					if (result.code == "200") {
						addRowToTableRegistration(JSON.parse(result.obj));
						document.getElementById('divRegistration').scrollIntoView({ block: "start" });
						$("#modal-content").modal('hide');
					} else {
						alert(result.message);
					}
				},
				error: function (err) {
					console.log(err)
				},
			});
		}

		function addAdress() {
			var address = {
				Street: $('#ruaNumeroModal').val(),
				City: $('#cidadeModal').val(),
				State: $('#estadoModal :selected').text(),
				FilialAddress: $('[name="filial"]:checked').val(),
				CompanyId: $("#hiddenCompanyId").val()
			}

			$.ajax({
				type: 'POST',
				url: '@Url.Action("InsertAddress", "Profile")',
				data: { model: address },
				success: function (result) {					
					if (result.code == "200") {						
						addRowToTableAddress(JSON.parse(result.obj));
						document.getElementById('divAddress').scrollIntoView({ block: "start" });
						$("#modal-content").modal('hide');
					} else {
						alert(result.message);
					}
				},
				error: function (err) {
					console.log(err)
				},
			});
		}

		function addPortfolio() {
			var portfolio = {
				ActivityAreaId: $('#areaAtuacaoPortifolio').val(),
				ProjectName: $('#nomeProjetoPortifolio').val(),
				Client: $('#clientePortifolio').val(),
				StartExecutionPeriod: $('#dataInicioPortifolio').val(),
				EndExecutionPeriod: $('#dataFimPortifolio').val(),
				DescriptionAcitviesAndWork: $('#descricaoPortifolio').val(),
				ResponsibleForInformation: $('#responsavelPortifolio').val(),
				CompanyId: $("#hiddenCompanyId").val()
			}

			$.ajax({
				type: 'POST',
				url: '@Url.Action("InsertPorfolio", "Profile")',
				data: { model: portfolio },
				success: function (result) {
					if (result.code == "200") {
						addRowToTablePortfolio(JSON.parse(result.obj));
						document.getElementById('divPortfolio').scrollIntoView({ block: "start" });
						$("#modal-content").modal('hide');
					} else {
						alert(result.message);
					}
				},
				error: function (err) {
					console.log(err)
				},
			});
		}

		function removeAddress(element) {
			$.ajax({
				type: 'POST',
				url: '@Url.Action("RemoveAddress", "Profile")',
				data: { id: $(element).data('id') },
				success: function (result) {
					if (result.code == "200") {
						$(element).parent().parent().remove();
						document.getElementById('divAddress').scrollIntoView({ block: "start" });
					} else {
						alert(result.message);
					}
				},
				error: function (err) {
					console.log(err)
				},
			});
		}

		function removePortfolio(element) {
			$.ajax({
				type: 'POST',
				url: '@Url.Action("RemovePortfolio", "Profile")',
				data: { id: $(element).data('id') },
				success: function (result) {
					if (result.code == "200") {
						$(element).parent().parent().remove();
						document.getElementById('divPortfolio').scrollIntoView({ block: "start" });
					} else {
						alert(result.message);
					}
				},
				error: function (err) {
					console.log(err)
				},
			});
		}

		function removeRegistrationOnCouncil(element) {
			$.ajax({
				type: 'POST',
				url: '@Url.Action("RemoveRegistrationOnCouncil", "Profile")',
				data: { id: $(element).data('id') },
				success: function (result) {
					if (result.code == "200") {
						//$(element).parent().parent().remove();
						$(element).closest('tr').find('td').fadeOut(400, function () {
							$(element).parents('tr:first').remove();
						});
						document.getElementById('divRegistration').scrollIntoView({ block: "start" });
					} else {
						alert(result.message);
					}
				},
				error: function (err) {
					console.log(err)
				},
			});
		}

		$('#formCompany').submit(function () {
			var errorMessage = "Ao menos um registro deve ser adicionado para ";
			var formInvalid = false;

			if ($('#tableAddress > tbody > tr').length == 0) {
				$('#errorAddress').text(errorMessage + "Endereço");
				formInvalid = true;
			} else {
				$('#errorAddress').text("");
			}

			if ($('#tableRegistration > tbody > tr').length == 0) {
				$('#errorRegistration').text(errorMessage + "Registro no Conselho de Classe");
				formInvalid = true;
			} else {
				$('#errorRegistration').text("");
			}

			if ($('#tablePortfolio > tbody > tr').length == 0) {
				$('#errorPortfolio').text(errorMessage + "Portfolio");
				formInvalid = true;
			} else {
				$('#errorPortfolio').text("");
			}

			if (formInvalid) {
				return false;
			} else {
				return true;
			}
		});

		function validationAddress() {
			var msgerro = "";
			if ($('#hiddenCompanyId').val() == "") {
				msgerro = 'Operãção não pode ser realizada. Atualize a página e tente novamente';
				$("#valRua").text(msgerro);
			} else {
				$("#valRua").text("");
			}

			if ($('#ruaNumeroModal').val() == "") {
				msgerro = 'O campo Rua e Número é obrigatório.';
				$("#valRua").text(msgerro);
			} else {
				$("#valRua").text("");
			}

			if ($('#cidadeModal').val() == "") {
				msgerro = 'O campo Cidade é obrigatório.';
				$("#valCidade").text(msgerro);
			} else {
				$("#valCidade").text("");
			}

			if ($('#estadoModal').val() == "") {
				msgerro = 'O campo Estado é obrigatório.';
				$("#valEstado").text(msgerro);
			} else {
				$("#valEstado").text("");
			}

			if (msgerro != "") {
				return false;
			} else {
				return true;
			}
		}

		function validationRegistration() {
			var msgerro = "";
			if ($('#hiddenCompanyId').val() == "") {
				msgerro = 'Operãção não pode ser realizada. Atualize a página e tente novamente';
				$("#ValConselho").text(msgerro);
			}

			if ($('#conselhoModal').val() == "") {
				msgerro = 'O campo Conselho é obrigatório.';
				$("#ValConselho").text(msgerro);
			} else {
				$("#ValConselho").text("");
			}

			if ($('#RegistroModal').val() == "") {
				msgerro = 'O campo Registro é obrigatório.';
				$("#ValRegistro").text(msgerro);
			} else {
				$("#ValRegistro").text("");
			}

			if (msgerro != "") {
				return false;
			} else {
				return true;
			}
		}

		function validationPortfolio() {
			var msgerro = "";
			if ($('#areaAtuacaoPortifolio').val() == "") {
				msgerro = 'O campo Área de Atividade é obrigatório.';
				$("#ValArea").text(msgerro);
			} else {
				$("#ValArea").text("");
			}

			if ($('#nomeProjetoPortifolio').val() == "") {
				msgerro = 'O campo Nome do Projeto é obrigatório.';
				$("#ValProjeto").text(msgerro);
			} else {
				$("#ValProjeto").text("");
			}

			if ($('#clientePortifolio').val() == "") {
				msgerro = 'O campo Client é obrigatório.';
				$("#ValCliente").text(msgerro);
			} else {
				$("#ValCliente").text("");
			}

			if ($('#dataInicioPortifolio').val() == "" || $('#dataFimPortifolio').val() == "") {
				msgerro = 'O campo Período de Execussão é obrigatório.';
				$("#ValPeriodo").text(msgerro);
			} else {
				$("#ValPeriodo").text("");
			}

			if ($('#descricaoPortifolio').val() == "") {
				msgerro = 'O campo Descrição do Trabalho e Atividades Desempenhadas é obrigatório.';
				$("#ValDescricao").text(msgerro);
			} else {
				$("#ValDescricao").text("");
			}

			if ($('#responsavelPortifolio').val() == "") {
				msgerro = 'O campo Responsável pelas Informações é obrigatório.';
				$("#ValResponsavel").text(msgerro);
			} else {
				$("#ValResponsavel").text("");
			}

			if (msgerro != "") {
				return false;
			} else {
				return true;
			}
		}
	</script>
}